@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

/* Old material icon */
/* @import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp); */

:root {
	--icon-font: 'Material Symbols Outlined';
	--icon-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.icon {
	/* Don't set width and height, it effect on large font size on mobile */
	font-size: 2.4rem;
	width: 2.4rem;
	height: 2.4rem;
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background: transparent none no-repeat 0 0;
	color: var(--font-color);
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: center;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.icon.-sg-16 {font-size: 1.6rem;}
.icon.-sg-20 {font-size: 2.0rem;}
.icon.-sg-24 {font-size: 2.4rem;}
.icon.-sg-32 {font-size: 3.2rem;}
.icon.-sg-48 {font-size: 4.8rem;}
.icon.-sg-64 {font-size: 6.4rem;}

.icon.-material.-material.-gray {color: #808080;}
.icon.-material.-white {color: #f5f5f5; opacity: 0.9;}
.icon.-material.-green {color: green;}
.icon.-material.-yellow {color: #ffb200;}
.icon.-material.-red {color: red;}
.icon.-material.-blue {color: blue;}
.icon.-material.-violet {color: #ff00fb;}
.icon.-material.-sg-active {color: green;}
.icon.-material.-sg-inactive {color: #b0b0b0;}

.icon.-material {
	font-family: var(--icon-font);
	font-variation-settings: var(--icon-settings);
}
.icon.-material.-outline {
	font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.icon.-material.-sg-16 {width: auto !important; height: auto !important;}
.icon.-material.-sg-24 {width: auto !important; height: auto !important;}
.icon.-material.-sg-32 {width: auto !important; height: auto !important;}
.icon.-material.-sg-48 {width: auto !important; height: auto !important;}
.icon.-material.-sg-64 {width: auto !important; height: auto !important;}

.icon>img, .icon>svg {width: 100%; height: 100%; margin: 0; padding: 0; border: none; box-shadow: none; display: block;}

.icon.-box {border-radius: 4px;}

.icon.-circle {border-radius: 50%; box-shadow: 0 0 1px 1px #808080;}
.icon.-circle.-gray {box-shadow: 0 0 1px 1px #808080; background-color: #f5f5f5;}
.icon.-circle.-green {box-shadow: 0 0 1px 1px green inset; background-color: #dbffdc;}
.icon.-circle.-yellow {box-shadow: 0 0 1px 1px #ffb200 inset; background-color: #ffedc4;}
.icon.-circle.-red {box-shadow: 0 0 1px 1px red inset; background-color: #ffd1d1;}

.icon.-none {text-indent: 0; width: auto; height: auto; background-image: none;}
.icon.-primary {box-shadow: 0 0 0 1px #1477D5 inset; background-color:#1477D5;}
.icon.-warning {box-shadow: 0 0 0 1px #E6A755 inset; background-color:#EEAC57;}
.icon.-danger {box-shadow: 0 0 0 1px #C74F4D inset; background-color:#D75452;}
.icon.-info {box-shadow: 0 0 0 1px #55B6D2 inset; background-color:#60C0DC;}
.icon.-success {box-shadow: 0 0 0 1px #5BAF5C inset; background-color:#5FB660;}
.icon.-unchecked {color: #ddd;}
.icon.-checked {color: green;}

.icon-group {display: inline-block; padding: 0; margin: 0; position: relative; width: 24px; height: 24px;}
.icon-group>.icon:nth-child(2) {position: absolute; color: #fff; background-color: red; border-radius: 50%; top: -6px; right: -10px; font-size: 14px; width: 14px; height: 14px; opacity: 0.8;}
.icon-group>span {display: block; position: absolute; color: #fff; background-color: red; border-radius: 16px; top: -6px; right: -10px; padding: 0 2px; font-size: 0.7rem; line-height: 2;}

