/**
 * SoftGanz Ui CSS
 * Created :: 2020-10-01
 * Modify  :: 2025-07-04
 * Version :: 3
 */

.page.-page {margin: 0 auto; padding: 0;}

.page.-header {
	height: 48px; width: 100%; margin: 0 auto; padding: 0; z-index: 1000; opacity: 0.9; position: fixed; top: 0;
	>.wrapper {display: flex; flex-wrap: wrap; margin: 0 auto;}
	header {width: 48px; height: 48px; margin: 0; overflow: hidden; background: transparent none 0 0 no-repeat; text-indent: -999em;}
	h1 {
		margin: 0; padding: 0;
		>a {height: 48px; display: block;}
	}
}

.page.-content {margin: 0 auto; padding: 48px 0 0 0; position: relative;}

.page.-nav {
	margin: 0; padding: 0; flex: 1; display: flex; flex-wrap: nowrap; justify-content: flex-end;
	>* {flex: 0;}

	>.nav {
		&.-main {
			order: -1; align-items: center; height: 48px; margin: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; z-index: 1100; flex: 1;
			>ul.-pulldown>li>a {overflow: hidden;}
			:not(.-owner)>ul.-main>li {font-weight: normal;}
			>ul>li>a {padding: 0 8px; white-space: nowrap;}
			>ul ul {min-width: 240px; font-weight: normal;}
		}

		&.sg-responsivemenu {
			>.sg-navtoggle {box-shadow: none; background-color: transparent; margin-right: 16px; padding: 0; border-radius: 50%; width: 32px; height: 32px; align-items: center; justify-content: center;}
			>ul {display: none;}
			&.-active>ul {height: auto; display: block; position: absolute; top: 48px; left: 0; right: 0; background-color: #000;}
			&.-active>ul>li {float: none;}
			&.-active>ul>li>a {color: #fff; padding-left: 16px;}
			&.-active>ul>li>a:hover {background-color: #333; border-radius: 0;}
			&.-active>ul ul {margin-left: 64px; box-shadow: none;}
		}

		&.-owner {
			order: 10; padding-right: 0; position: relative; z-index: 1101;
			>ul {gap: 8px;}
			>*>*>a {padding: 4px; border-radius: 16px;}
			>*>*>a>.icon {color: #666;}
			>*>*>a>.icon:only-child {padding: 0; width: 24px; height: 24px}
			li.-profile>a {padding: 0; max-width: 110px; overflow: hidden; white-space: nowrap; font-weight: bold;}
			li.-profile>a>.profile-photo {margin: 0;}
			li.-profile>a>.icon {padding: 4px;}
			li.-profile>a>span {display: none; padding: 0 8px 0 4px;}
			li.-profile>a>.profile-photo {width: 32px; height: 32px; margin: 0; padding: 0; display: inline-block; border-radius: 50%; border: none;}
			li.-profile>ul {border-radius: 8px; overflow: hidden;}

			li.-signout span {display: none;}
			li.-signout>a {padding: 0; width: 32px; height: 32px; display: flex; justify-content: center; align-items: center;}

			li.-signup>a {border-radius: 16px; padding: 1px 8px; line-height: 30px; font-weight: bold; white-space: nowrap;}
			li.-signup>a>.icon {padding: 4px;}

			.signform {
				display: flex; flex-direction: column; padding: 16px 16px 0 16px; border-radius: 8px; gap: 8px;
				.form-item {padding: 0;}
				.form-item>label {top: 0; left: 10px; font-size: 0.7em; color: #999;}
				.form-text,
				.form-password {padding: 10px 12px 0; width: auto; border-radius: 32px; height: 44px;}
				.form-select {background-color: #fff; text-align: center; border-radius: 32px; padding: 14px 24px 14px 12px; height: auto;}
				.btn.-primary {width: 100%; padding: 10px 0; border-radius: 32px;}
				a {display: block; padding: 8px; text-align: center;}
			}
		}

		&.-search {
			display: none;
			.search-box {width: 70px; margin: 6px 0 auto 0; height: 32px; border-radius: 16px;}
			.search-box button {border-radius: 0 16px 16px 0;}
		}
	}
}

@media (min-width: 43.75em) { /* 700/16 = 43.75 @responsive menu */
	.page.-nav {
		>.nav {
			&.sg-responsivemenu {
				>ul {display: block;}
				.sg-navtoggle {display: none;}
			}
			&.-main {
				justify-content: flex-start;
				&.-owner {height: 45px;}
				>ul.-main {display: flex; position: relative;}
			}
			&.-search {
				display: block;
				.search-box {margin-left: auto;}
			}
		}
	}

	.module-home {
		.ribbon {width:24px; position: absolute; border: none; background: transparent; top: 58px; left: 4px; z-index: 1000;}
		.user-menu {
			width: 200px;
			>li {display: none;}
			>li:first-child {display: block;}
			>li>a {border: none;}
			>li>a {border: none; background-color: #b5b5b5; padding: 2px; border-radius: 50%;}
		}
	}
}
/* @end */
