/**
* SoftGanz Ui CSS
* Created :: 2020-10-01
* Modify  :: 2025-04-20
* Version :: 5
*/

@charset "UTF-8";

/* Start of new UI style widget */

[class^="widget-"].-main-axis-start {justify-content: flex-start;}
[class^="widget-"].-main-axis-center {justify-content: center;}
[class^="widget-"].-main-axis-end {justify-content: flex-end;}
[class^="widget-"].-main-axis-spacearound {justify-content: space-around;}
[class^="widget-"].-main-axis-spacebetween {justify-content: space-between;}
[class^="widget-"].-main-axis-spaceevenly {justify-content: space-evenly;}
[class^="widget-"].-cross-axis-start {align-items: flex-start;}
[class^="widget-"].-cross-axis-center {align-items: center;}
[class^="widget-"].-cross-axis-end {align-items: flex-end;}
.-spacer {flex: 1 !important;}



/* widget-button */
.widget-button {flex-wrap: wrap;}
	.widget-button.-no-wrap {flex-wrap: nowrap;}
	.widget-button>span>em {font-weight: normal; font-size: 1.2rem; font-style: normal; display: block;}
	.widget-button>.-desc {flex: 0 0 100%; text-align: center; font-size: 1.2rem;}



/* widget-floatingactionbutton */
.widget-floatingactionbutton {position: fixed; margin: 0 auto; bottom: 8px; z-index: 1000; display: flex; flex-wrap: wrap; width: calc(100% - 16px); padding: 0 8px;}
	.widget-floatingactionbutton>* {flex: 1 0 100%; text-align: right; margin-top: 8px;}
	.widget-floatingactionbutton:hover>.-item>a {display: inline-block;}
	.widget-floatingactionbutton>.-hover-parent:hover {}



/* widget-message */
.widget-message {padding: 32px 8px; text-align: center;}

/* widget-listtile */
.widget-listtile {display: flex; flex-wrap: wrap; justify-content: space-between; padding: 8px; align-items: flex-start;}
	.widget-listtile>.-title {flex: 1;}
	.widget-listtile>.-title>* {display: block;}
	.widget-listtile>.-title>.-title-text {font-weight: bold;}
	.widget-listtile>.-title>.-subtitle-text {font-size: 0.85em;}
	.widget-listtile>.-leading {padding-right: 8px;}



/* widget-stepmenu */
.widget-stepmenu {margin: 8px 32px 24px;}
	.widget-stepmenu>ul {margin:8px 0 32px 0; padding: 0; list-style-type: none; height:24px; border-bottom: 1px #aaa solid; display: flex; flex-wrap: nowrap; justify-content: space-between;}
	.widget-stepmenu>ul>.ui-item {display: block; flex: 0 0 48px; text-align: center;}
	.widget-stepmenu>ul>.ui-item>* {display: block; width: 48px; height: 48px; margin: 0 auto; background-color: #eee; line-height: 48px; border-radius: 50%; overflow: hidden;}
	.widget-stepmenu>ul>.ui-item>*:hover {background-color: #f5f5f5;}
	.widget-stepmenu>ul>.ui-item .icon {color: grey;}
	.widget-stepmenu>ul>.ui-item.-active>* {background-color: green; color:#fff;}
	.widget-stepmenu>ul>.ui-item.-active>*:hover {background-color: #008912;}
	.widget-stepmenu>ul>.ui-item.-active .icon {color: #fff;}
	.widget-stepmenu>ul>.ui-item>.-cancel {background-color: red;}
	.widget-stepmenu>ul>.ui-item>.-cancel>.icon {color:#fff;}



/* widget-card */
.widget-card {margin: 8px 0;}
	.widget-card .widget-table:last-child {margin-bottom: 8px;}



/* widget-appbar */
.widget-appbar {flex: 1 0 100%; display: flex; margin: 0 0 2px 0; padding: 0; flex-wrap: wrap; align-items: center; position: relative; -ms-overflow-style: none; scrollbar-width: none;}
	.widget-appbar::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;}
	.widget-appbar.-report>.-nav {background-color: transparent;}

	.widget-appbar>.-title {flex: 1; margin:0; padding: 0 8px; height: 4.8rem; font-size: 1.8rem; line-height: 4.8rem; overflow: hidden; position: relative;}
	.widget-appbar>.-title>.-text {margin: 0; padding: 0; font-size: 1.8rem; height: -webkit-fill-available; font-weight: normal; line-height: 3.8rem;}
	.widget-appbar>.-title>.-text:only-child {line-height: 4.8rem;}
	.widget-appbar>.-title>.-sub {position: absolute; bottom: 4px; font-size: 1.2rem; line-height: 1.2rem;}

	.widget-appbar>.-leading {height: 4.8rem; display: flex; align-items: center; padding: 0 4px;}
	.widget-appbar>.-leading>.nav.-back {display: none;}
	.widget-appbar>.-leading>.nav.-back>a {display: block; width: 24px; height: 24px; padding: 12px 4px;}

	.widget-appbar>.-nav {flex: 1 0 100%; margin: 0; padding: 0; position: relative; display: flex; overflow: auto; -ms-overflow-style: none; scrollbar-width: none;}
	.widget-appbar>.-nav::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;}
	.widget-appbar.-has-dropbox>.-nav {flex: 1 0 calc(100% - 48px);}
	.widget-appbar>.-nav a {white-space: nowrap; display: block; color: #666; background-color: #eee; margin: 2px 2px 0 0; padding: 4px 8px; border-radius: 0px; text-align: center;}
	.widget-appbar>.-nav a:hover {background-color: #f5f5f5;}
	.widget-appbar>.-nav a>.icon {display: block; margin: 0 auto;}
	.widget-appbar>.-nav>ul {display: flex; flex-wrap: nowrap; flex: none; margin: 0 8px 0 0; padding: 0; overflow: auto; list-style-type: none;}
	.widget-appbar>.-nav>ul:last-child {margin-right: 0;}
	.widget-appbar>.-nav.-is-more-nav {}
	.widget-appbar>.-nav.-is-more-nav>.ui-nav {flex-basis: calc(100% - 32px);}
	.widget-appbar>.-nav>.-more {position: absolute; right: 8px; top: 8px; overflow: visible;}
	.widget-appbar>.-dropbox {}

	.widget-appbar>.-trailing {height: 4.8rem; display: flex; align-items: center;}
	.widget-appbar>.-trailing .widget-nav>ul {align-items: center;}
	.widget-appbar>.-trailing .widget-row>.-item>.btn {box-shadow: none; margin: 0 4px;}
	.widget-appbar>.-trailing .widget-dropbox>a {background-color: transparent; box-shadow: none;}
	.widget-appbar>.-trailing .widget-dropbox>a:hover {background-color: #fff; opacity: 0.5;}
	.widget-appbar>.-children {flex: 1 0 100%;}
	.widget-appbar .form-report {background-color: transparent; box-shadow: none; margin: 0; padding: 0;}

	.box-page>.widget-appbar {position: absolute; top: -48px; left: 0; right: 0; z-index: 1;}
	.box-page>.widget-appbar>.-trailing {right: 38px;}
	.box-page>.widget-appbar>.-trailing .btn {box-shadow: none;}
	.box-page>.widget-appbar>.-leading>.nav.-back {display: block;}
	.box-page>.widget-appbar>.-nav {display: none;}



/* widget-scrollview */
.widget-scrollview {width: 100%; padding: 0; overflow: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
	.widget-scrollview::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */



/* widget-row */
.widget-row {display: flex; flex-wrap: nowrap; justify-content: flex-start; list-style-type: none; margin: 0; padding: 0;}
	.widget-row>.-item {position: relative;}
	.widget-row>.-sep {width: 4px;}
	.widget-row>.-sep>hr {display: none;}



/* widget-nav */
.widget-nav {display: flex; overflow: scroll; flex-direction: row; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
	.widget-nav::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
	.widget-nav>ul {display: flex; flex-wrap: nowrap; justify-content: space-around; list-style-type: none; margin: 0; padding: 0; width: fit-content;}
	.widget-nav>ul>li {position: relative;}
	.widget-nav>ul>li:not(:last-child) {padding: 0 4px 0 0;}
	.widget-nav.-vertical {flex: 1 0 100%; flex-wrap: wrap; flex-direction: column;}
	.widget-nav.-vertical>ul {flex: 1 0 100%; flex-wrap: wrap; width: 100%;}
	.widget-nav.-vertical>ul>li {flex: 0 0 100%; flex-wrap: wrap; padding: 0;}
	.widget-nav.-vertical>ul>li>a {display: flex; padding: 6px 8px; gap: 8px;}
	.widget-nav.-vertical>ul>li>a>span {flex: 1;}
	.widget-nav.-vertical .-sep>hr {display: none;}
	.widget-nav.-main-axis-end>ul {margin-left: auto;}

	.widget-nav.-button-menu>ul>li>a {line-height: 4.8rem; border-radius: 4.8rem; margin: 8px 0; align-items: center; padding: 0;}
	.widget-nav.-button-menu>ul>li>a>span {text-align: center; font-size: 1.6rem;}
	.widget-nav.-button-menu>ul>li>a>.icon {border-radius: 50%; opacity: 0.8; width: 5.2rem; height: 5.2rem; font-size: 4.4rem; padding: 2px;}

.widget-sidebar {display: flex; flex-direction: column; width: 100px;}
	.widget-sidebar>nav.-vertical {flex: initial;}
	.widget-sidebar>nav>ul {gap: 8px;}
	.widget-sidebar>nav .widget-button {border-radius: 8px;}
	.widget-sidebar>nav.-vertical.-icon-center .widget-button {text-align: center; flex-direction: column;}
	.widget-sidebar>nav.-vertical.-icon-center .widget-button>.icon {margin: 0 auto;}

/* widget-dropbox */
.widget-dropbox {}



/* widget-table */
.widget-table {width: 100%; margin: 0 0 10px 0; border-collapse: collapse; border-spacing: 0; border: none; background: #fff; display: table;}
	.widget-table.-table {width: auto;}
	.widget-table.-cross-axis-center>tbody>tr>td {vertical-align: middle;}
	.widget-table>caption {margin: 0; padding: 4px; font-size: 1.1em; color: #333; font-weight: bold; background-color: #f1f1f1; border-radius: 0;}
	.widget-table>thead {background-color: #f7f7f7;}
	.widget-table>thead>tr.header, .widget-table>tbody>tr.header {display: table-row;}
	.widget-table>tfoot {font-weight: bold; background-color: #f7f7f7;}
	.widget-table>tbody>tr:hover {background-color: #fafafa;}
		.widget-table th {padding: 8px 4px; border-right: 1px #fff solid; vertical-align: middle; text-align: center;}
		.widget-table th:last-child {border-right: none;}
		.widget-table.-header-nowrap th {white-space: nowrap;}
		.widget-table td {padding: 8px 4px; vertical-align: top; border-bottom: 1px #f5f5f5 solid;}
		.widget-table td.-fill {width: 100%;}
		.widget-table .subheader {font-weight: bold; background-color: #ddd;}
		.widget-table .subfooter {font-weight: bold; background-color: #eaeaea;}
		.widget-table .newitem td {background-color: #E5BBA0;}
		.widget-table.-center td, .widget-table.-center th {text-align: center;}
		.widget-table.-cols8 td {width: 12.5%;}
		.widget-table.-cols2 td:first-child {white-space: nowrap;}
		.widget-table.-cols2 td:nth-child(2) {width: 100%;}
		.widget-table .col.-center {text-align: center;}
		.widget-table .col.-left {text-align: left;}
		.widget-table .col.-right {text-align: right;}
		.widget-table .col.-money {text-align: center; white-space: nowrap;}
		.widget-table .col.-no {width: 1px; text-align: center; white-space: nowrap;}
		.widget-table .col.-no:after {content: ".";}
		.widget-table .col.-amt {text-align: center; white-space: nowrap;}
		.widget-table .col.-date {text-align: center; white-space: nowrap;}
		.widget-table .col.-nowrap {white-space: nowrap;}
		.widget-table .col.-icons {text-align: left; width: 24px;}
		.widget-table .col.-icons.-c2 {width: 52px;}
		.widget-table .col.-icons.-c3 {width: 72px;}
		.widget-table .col.-icons.-c4 {width: 110px;}
		.widget-table .col.-icons.-c5 {width: 140px;}
		.widget-table .col.-icons.-center {text-align: center;}
	.widget-table>tbody .order {background-color: #eee;}

	.widget-table .-datainput>td {padding: 8px;}
	.widget-table>tbody>tr.-cancel>td {text-decoration: line-through; color: gray;}
	.widget-table>tbody>tr.-cancel>td a {color: gray;}
	.widget-table td .form-item {margin: 0; padding: 0;}
	.widget-table.-info>tbody>tr>td:first-child {white-space: nowrap; text-align: right;}
	.widget-table.-info>tbody>tr>td:nth-child(2) {width: 100%;}
	.widget-table.-sg-child-vertical-align-middle>tbody>tr>td {vertical-align: middle;}



/* widget-inlineedit */
.widget-inlineedit {}
	.widget-inlineedit.-fill {display: block;}
	.widget-inlineedit.-hots>label {font-weight: bold;}
	.widget-inlineedit.-single-line {display: block; line-height: 2.5rem; height: 3.6rem; overflow: hidden; white-space: nowrap;}
	.widget-inlineedit.-single-line>.inline-edit-field {width: 100%;}
	.widget-inlineedit.-textarea {display: block;}
	.widget-inlineedit.-disabled {opacity: 0.5;}
	/* @group inline-edit-field */
	.inline-edit-field {padding: 0; margin: 0; color: #333; display: inline-block; min-width: 100px; width: auto; min-height: 1.4em; vertical-align: middle;}

	.inline-edit-field>.-for-input {display: block; line-height: 2.3rem; min-height: 25px;}
	.inline-edit-field.-fill {width:-moz-available !important; width:calc(100%);}
	.inline-edit-field.-inline {padding: 0;}
	.inline-edit-field.-active {border-bottom: 1px dotted #f60; background-color: #ffffcc;}

	.inline-edit-field-disable {color:blue; display:inline-block; min-width:100px; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;}
	.inline-edit-field.-disabled {color:#999;}
	.inline-edit-field.-primary {font-weight: bold; background-color: #f5f5f5; box-shadow: 0 0 0 1px #999 inset; border: none;}
	.inline-edit-field.-datepicker {text-align: center;}

	.inline-edit-field.-textarea {display: block;}
	.inline-edit-field.-money {text-align: center;}
	.inline-edit-field.-numeric {text-align: center;}
	.inline-edit-field.-incomplete {color:#999;}

	.inline-edit-field.-text>.-for-input, .inline-edit-field.-textarea>.-for-input {border-bottom: 1px dotted #ccc; cursor: text;}
	.inline-edit-field.-text>.-for-input:hover, .inline-edit-field.-textarea>.-for-input:hover {border-bottom: 1px dotted #f60;}

	.inline-edit-field .placeholder {color: #ccc; font-style: italic; font-size: 0.9em;}

	.inline-edit-field form {display:block; margin:0; padding:0; position: relative;}
		.inline-edit-field .form-text {width: calc(100% - 16px); padding: 0px 8px; font-size: 1em; box-shadow: none; display: block; height: auto; margin: 0;}
		.inline-edit-field .form-select {width: 100%; padding: 5px 7px; height: 36px; font-size: 1em; border:none;}
		.inline-edit-field .form-textarea {width: calc(100% - 16px); margin: 0; padding: 6px 8px 24px 6px; font-size: 1em; border: none; box-shadow: none; background-color: #ffffcc; border-radius: 0;}
		.inline-edit-field.-money .form-text {margin: 0; text-align: center;}
		.inline-edit-field.-numeric .form-text {text-align: center;}
		.inline-edit-field.-datepicker .form-text {text-align: center;}
		.inline-edit-field form>div {padding: 8px; margin-right: 1px; text-align: right; position: absolute; bottom: 0; right: 0;}

		.inline-edit-field .form-text:focus,
		.inline-edit-field .form-select:focus {border:none; border-radius: 0; box-shadow: none; background-color: transparent; padding: 0; box-shadow: none;}
		.inline-edit-field .form-textarea:focus {padding-top: 4px;}
		.inline-edit-field .form-text:hover,
		.inline-edit-field .form-select:hover {box-shadow: none;}

	.inline-edit-field.-textarea p {margin:0 0 10px 0; padding: 0; }
	.inline-edit-field.-textarea ul,
	.inline-edit-field.-textarea ol {margin:0 0 10px 0; padding: 0 0 0 32px;}
	.inline-edit-field.-text input:hover {border: none;}
	.inline-edit-field>*>abbr {margin: 0 0 8px 0; padding: 8px; display: block; background-color: #eee; border-radius: 4px;}

	.inlineedit-field input:invalid,
	.inlineedit-field.-invalid>span.-for-input  {background-color: #ffafaf !important;}

	.inline-edit-field.-hidden {display: none;}
	.inline-edit-field.-warning, .inline-edit-view.-warning {color: blue;}
	.inline-edit-field.-error {color: red; background-color: #fdd;}
	.inline-edit-field.-error>span:hover {background-color: #ffe4e4;}


	input[type="checkbox"].inline-edit-field,
	input[type="radio"].inline-edit-field {min-width: 1em; vertical-align: middle; border: none; box-shadow: none;}
	/* @end */

	.inline-edit-view.-text {display: inline-block; padding: 0px 8px;}
	.inline-edit-view.-primary {font-weight: bold;}
	.inline-edit-view.-fill:not(.-hidden) {display: block;}


	/* widget-inlineedit version 2 */
	/* @group inline-edit-field */
	.inlineedit-field {padding: 0; margin: 0; color: #333; display: inline-block; min-width: 100px; width: auto; min-height: 1.4em; vertical-align: middle;}

	.inlineedit-field>.-for-input {display: block; line-height: 2.3rem; min-height: 25px;}
	.inlineedit-field.-fill {width:-moz-available !important; width:calc(100%);}
	.inlineedit-field.-inline {padding: 0;}
	.inlineedit-field.-active {border-bottom: 1px dotted #f60; background-color: #ffffcc;}

	.inlineedit-field-disable {color:blue; display:inline-block; min-width:100px; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;}
	.inlineedit-field.-disabled {color:#999;}
	.inlineedit-field.-primary {font-weight: bold; background-color: #f5f5f5; box-shadow: 0 0 0 1px #999 inset; border: none;}
	.inlineedit-field.-datepicker {text-align: center;}

	.inlineedit-field.-textarea {display: block;}
	.inlineedit-field.-money {text-align: center;}
	.inlineedit-field.-numeric {text-align: center;}
	.inlineedit-field.-incomplete {color:#999;}

	.inlineedit-field.-text>.-for-input, .inlineedit-field.-textarea>.-for-input {border-bottom: 1px dotted #ccc; cursor: text;}
	.inlineedit-field.-text>.-for-input:hover, .inlineedit-field.-textarea>.-for-input:hover {border-bottom: 1px dotted #f60;}

	.inlineedit-field .placeholder {color: #ccc; font-style: italic; font-size: 0.9em;}

	.inlineedit-field form {display:block; margin:0; padding:0; position: relative;}
		.inlineedit-field .form-text {width: calc(100% - 16px); padding: 0px 8px; font-size: 1em; box-shadow: none; display: block; height: auto; margin: 0;}
		.inlineedit-field .form-select {width: 100%; padding: 5px 7px; height: 36px; font-size: 1em; border:none;}
		.inlineedit-field .form-textarea {width: calc(100% - 16px); margin: 0; padding: 6px 8px 24px 6px; font-size: 1em; border: none; box-shadow: none; background-color: #ffffcc; border-radius: 0;}
		.inlineedit-field.-money .form-text {margin: 0; text-align: center;}
		.inlineedit-field.-numeric .form-text {text-align: center;}
		.inlineedit-field.-datepicker .form-text {text-align: center;}
		.inlineedit-field form>div {padding: 8px; margin-right: 1px; text-align: right; position: absolute; bottom: 0; right: 0;}

		.inlineedit-field .form-text:focus,
		.inlineedit-field .form-select:focus {border:none; border-radius: 0; box-shadow: none; background-color: transparent; padding: 0; box-shadow: none;}
		.inlineedit-field .form-textarea:focus {padding-top: 4px;}
		.inlineedit-field .form-text:hover,
		.inlineedit-field .form-select:hover {box-shadow: none;}

	.inlineedit-field.-textarea p {margin:0 0 10px 0; padding: 0; }
	.inlineedit-field.-textarea ul,
	.inlineedit-field.-textarea ol {margin:0 0 10px 0; padding: 0 0 0 32px;}
	.inlineedit-field.-text input:hover {border: none;}
	.inlineedit-field>abbr {margin: 4px 0; padding: 8px; display: block; background-color: #eee; border-radius: 4px;}
	.inlineedit-field>abbr>label {display: flex; align-items: center; gap: 4px;}


	.inlineedit-field.-hidden {display: none;}
	.inlineedit-field.-warning, .inline-edit-view.-warning {color: blue;}
	.inlineedit-field.-error {color: red; background-color: #fdd;}
	.inlineedit-field.-error>span:hover {background-color: #ffe4e4;}


	input[type="checkbox"].inlineedit-field,
	input[type="radio"].inlineedit-field {min-width: 1em; vertical-align: middle; border: none; box-shadow: none;}
	/* @end */

	.inlineedit-view.-text {display: inline-block; padding: 0px 8px;}
	.inlineedit-view.-primary {font-weight: bold;}
	.inlineedit-view.-fill:not(.-hidden) {display: block;}
	.inlineedit-view .-for-view label {pointer-events: none;}



/* widget-column */
.widget-column {display: flex; flex-wrap: wrap; gap: 8px;}
	.widget-column>* {flex: 1 0 100%;}
	.widget-column.-sg-text-ceter>* {text-align: center;}


/* widget-profilephoto */
.widget-profilephoto {width: 32px; height: 32px; margin: 0; line-height: 32px; display: inline-block; border-radius: 50%; overflow: hidden; border: 2px #eee solid; vertical-align: middle;}
	.widget-profilephoto.-size-small {width: 24px; height: 24px; display: block; }
	.widget-profilephoto.-size-big {margin: 0px auto 32px; width: 196px; height: 196px; display: block; }


/* widget-album */
.widget-album {list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: flex-start; width: initial !important; gap: 4px;}
	.widget-album>* {flex: 0 0 206px; padding: 0; position: relative; overflow: hidden; background-color: #eee;}
	.widget-album>*::before {content: ""; float: left; padding-top: 100%;}
	.widget-album>* .-photo {height: 100%; width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	.widget-album>* .-photo.-wide {height: 100%; width: auto;}
	.widget-album>* .-photo.-tall {height: auto; width: 100%;}
	.widget-album>* .title {position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
	.widget-album>* .widget-inlineedit.-photodetail {position: absolute; bottom: 0; left: 0; right: 0;}
	.widget-album>*.-upload {background-color: transparent;}
	.widget-album>*.-upload>* {position: absolute; margin: 0; padding: 0; top: 0; left: 0; right: 0; bottom: 0; text-align: center; height: auto;}
	.widget-album>*.-upload .btn {margin: 0; padding: 0; padding-top: calc(50% - 24px); box-shadow: none; border: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 8px;}
	.widget-album>*.-upload .btn:hover {background-color: #f5f5f5;}
	.widget-album>*.-upload>form .btn>span {display: block; flex: 1 0 100%; padding: 0;}
	.widget-album>*>.-hover {position: absolute; top: 4px; right: 4px;}
	.widget-album .widget-inlineedit {position: absolute; z-index: 1; left: 0; right: 0; bottom: 0;}



/* widget-signin */
.widget-signin {xmax-width: 280px;}
	.widget-signin>.form-item {margin: 8px auto; padding: 8px;}
	.widget-signin>.form-item .form-text.-fill, .widget-signin>.form-item .form-password.-fill {padding: 16px 16px 8px; border-radius: 32px; width:  calc(100% - 32px);}
	.widget-signin .form-item.-label-in>label {margin: 2px 0 0 16px;}
	.widget-signin .btn.-primary {padding: 16px; border-radius:  32px; box-shadow: none; justify-content: center;}



/* widget-form */
.widget-form.sg-upload {}



/* widget-dashboard */
.widget-dashboard {display: flex; flex-wrap: nowrap; gap: 8px;}
	.widget-dashboard>* {border-radius: 8px; padding: 8px; flex: 0 0 15rem; display: flex; flex-wrap: wrap; background-color: #ccc;}
	.widget-dashboard>*.-green {background-color: #1CB09A;}
	.widget-dashboard>*.-red {background-color: #DA534F;}
	.widget-dashboard>*.-yellow {background-color: #c3c500;}
	.widget-dashboard>*.-blue {background-color: #418BCA;}
	.widget-dashboard>*.-black {background-color: #1D2939;}
	.widget-dashboard>*>.-title {display: flex; font-size: 1.4rem; white-space: nowrap; flex: 1 0 100%; color: #fff; gap: 8px;}
	.widget-dashboard>*>.-title>.icon {color: #fff;}
	.widget-dashboard>*>.-value {font-size: 2.4rem; flex: 1; text-align: center; color: #fff;}
	.widget-dashboard>*>.-unit {font-size: 1.2rem; color: #fff;}
	.widget-dashboard.-guage>* {}
	.widget-dashboard.-guage .sg-chart {width: 20rem; height: 20rem;}



/* Old style widget */
/* @deprecated */

.ui-nav {}
	.ui-nav.-sg-text-center {text-align: left;}
	.ui-nav.-sg-text-center>li {text-align: center;}
	.ui-nav.-sg-text-center>li>a>.icon {margin:0 auto; display: block;}



.ui-step {}
	.ui-step span {display: block;}
	.ui-step .step-num {display: block; width: 32px; height: 32px; border: 1px #ccc solid; line-height: 32px; border-radius: 50%; margin: 0 auto 8px; font-weight: bold; background: #fff;}
	.ui-step>.ui-item.-done .step-num {background: green; color: #fff; border: 1px green solid;}


.sg-toolbar {display: flex; margin: 0; padding: 0; flex-wrap: wrap; position: relative; -ms-overflow-style: none; scrollbar-width: none;}
	.sg-toolbar::-webkit-scrollbar {display: none;}
	.sg-toolbar>h2 {flex: 1 0 calc(100% - 16px); margin:0; padding: 0 8px; height:2.6em; font-size: 1.1em; line-height: 2.8em; overflow: hidden;}
	.sg-toolbar>nav {flex: 0 0 100%; display: flex; margin: 0; padding: 0; position: relative; max-width: 100%;}
	.sg-toolbar>nav>ul {display: flex; flex-wrap: nowrap; margin: 0; padding: 0; overflow: auto; -ms-overflow-style: none; scrollbar-width: none; -webkit-scrollbar: none; align-items: center;}
	.sg-toolbar>nav>ul::-webkit-scrollbar {display: none; width: 5px;height: 1px;}
	.sg-toolbar>nav>ul>li {text-align: center;}
	.sg-toolbar>nav>ul>li>a {display: block; padding: 4px 8px; margin: 1px 0;}
	.sg-toolbar>nav>ul>li>a:hover {background-color: #f5f5f5;}
	.sg-toolbar>nav>ul>li>a>.icon {display: block; margin: 0 auto;}
	.sg-toolbar>nav>ul>li>a>span {white-space: nowrap;}
	.sg-toolbar>nav.-is-more-nav {}
	.sg-toolbar>nav.-is-more-nav>.ui-nav {flex-basis: calc(100% - 32px);}
	.sg-toolbar>nav>.-more {position: absolute; right: 8px; top: 8px; overflow: visible;}




.sg-view {}
	.sg-view.-co-2 {display: flex; flex-wrap: wrap;}
	.sg-view.-co-2>.header {flex: 1 0 100%; border-bottom: 1px rgb(220, 226, 230) solid;}
	.sg-view.-co-2>.detail.-sg-view {margin: 0; padding: 0;}
	.sg-view.-co-2>.-sg-view:first-of-type {flex: 1;}
	.sg-view.-co-2>.-sg-view:nth-of-type(2) {flex: 0 0 100px; border-left: 1px rgb(220, 226, 230) solid; background-color: rgb(247, 249, 250);}
	.sg-view.-co-2>.-sg-view:nth-of-type(2)>* {display: block; margin: 0; padding: 8px; border-bottom: 1px  rgb(220, 226, 230) solid; width: auto;}
	.sg-view.-co-2>.-sg-view:nth-of-type(2)>*:last-child {border-bottom: none;}
	.sg-view.-co-2>.-sg-view:nth-of-type(2)>.header {background-color: rgb(247, 249, 250);}

	.sg-view header.header>.nav.-back {display: none;}
	.sg-view.-sg-view:first-of-type>header.header:first-of-type>.nav.-back {display: flex;}



.ui-action {list-style-type: none; margin:0; padding: 0;}
	.ui-item.-sep {list-style-type: none; height:1px; padding:2px 0;}
	.ui-item.-sep hr {height: 0; margin: 0; padding: 0; border: none; border-bottom: 1px #eee solid;}
	.ui-item.-hidden {display: none;}



.ui-autocomplete {}
	.ui-autocomplete.ui-widget-content {margin: 4px 0 0 0; z-index:999999; list-style-type: none; padding: 0; text-align: left;}
	.ui-autocomplete .ui-menu-item {cursor: pointer;}
	.ui-autocomplete .ui-menu-item {background-color: #fff;}
	.ui-autocomplete .ui-menu-item:nth-child(2n+1) {background-color: #f9f9f9;}
	.ui-autocomplete .ui-menu-item>a {padding:8px; color: #666;}
	.ui-autocomplete .ui-menu-item>a:hover {background-color: #eee; border: none; display: block; color: #333; font-weight: normal;}
	.ui-autocomplete .ui-menu-item p {margin:0;padding: 0; color:#999; font-size:0.9em;}
	.ui-autocomplete .ui-menu-item a.ui-state-active {padding: 8px; box-shadow: none;}
	.ui-autocomplete .ui-state-active {border: none;}
	.ui-autocomplete img {display: inline-block; vertical-align: top;}
	.ui-autocomplete .email {display: inline-block; padding-left:8px;}



.ui-card {list-style-type: none; width: 100%; margin: 0; padding: 0;}
	.ui-card>.header {flex: 0 0 100%;}
	.ui-card>.header>h3 {flex: 1;}
	.ui-card>.ui-item {position: relative; margin-bottom:16px; border: 1px #efefef solid; display: block; /* box-shadow: 4px 4px 8px 2px hsla(0, 0%, 0%, 0.1); */}
	.ui-card>.ui-item:hover {}
	.ui-card>.ui-item.-link {}
	.ui-card>.ui-item.-link:hover {}
	.ui-card>.ui-item.-empty {margin: 0 !important
		; padding: 0 !important; border: none; height: 0 !important; overflow: hidden !important;}
	.ui-card>.ui-item>h3 {padding: 8px;}
	.ui-card>.ui-item>p {padding: 8px;}
	.ui-card>.ui-item>.header {padding: 8px; position: relative; flex: 1 0 calc(100% - 16px); display: flex; flex-wrap: wrap;}
	.ui-card>.ui-item>.header>.icon {margin-right: 8px;}
	.ui-card>.ui-item>.header>span {padding: 0 8px;}
	.ui-card>.ui-item>.header .profile {flex: 1;}
	.ui-card>.ui-item>.header .poster-name {font-weight: bold;}
	.ui-card>.ui-item>.header .timestamp {display: block;}
	.ui-card>.ui-item>.header .poster-photo {margin:0 8px 8px 0; border-radius: 50%; width: 40px; height: 40px; float: left; border: 1px #e0e0e0 solid;}
	.ui-card>.ui-item>.header .nav.-header {position: absolute; top: 8px; right: 8px; display: flex;}
	.ui-card>.ui-item>.header .nav.-header>ul {display: flex;}
	.ui-card>.ui-item>.header .sg-dropbox>a {background-color: transparent;}

	.ui-card>.ui-item>.detail {padding: 8px;}
	.ui-card>.ui-item>.footer {margin: 4px 0; padding: 8px 0; font-size: 1em; font-style: normal; border-top: 1px #eee solid; text-align: left;}
	.ui-card>.ui-item>.nav.-more-detail {padding: 4px; text-align: right;}

	.ui-card .nav.-card {padding: 8px 0;}

	.ui-card .comment {padding: 16px 0 16px 32px; border-top: 1px #eee solid;}
	.ui-card .comment-box {padding: 0 16px 0 0; display: flex;}
	.ui-card .comment-box .form-textarea {height: 20px; border-radius: 32px; width: 100%; padding: 10px 16px; line-height: 20px;}
	.ui-card .comment .ui-item {display: flex; margin-bottom: 16px;}
	.ui-card .comment .owner-photo {width: 32px; height: 32px;}
	.ui-card .comment .owner-name {font-weight: bold;}
	.ui-card .comment .message {display: block; padding: 8px 16px; border-radius: 16px; background-color: #f5f5f5; font-size: 0.9em;}
	.ui-card .comment .message-text {margin: 0 0 0 8px;}
	.ui-card .comment .message-footer {font-size: 0.8em; text-align: right; color: #666;}

	.ui-card .album {margin: 0; padding: 8px; list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-between;}
	.ui-card .album>li {width: 48%; margin: 0 2px 8px 2px; position: relative; position: relative;}
	.ui-card .album>li>a>img {width:100%;}
	.ui-card .album .iconset {position: absolute;top: 4px; right: 4px;}
	.ui-card .album .iconset .icon {border:1px #fff solid; background-color: #fff; border-radius: 50%;}
	.ui-card .album .sg-upload {margin:0 auto; display: block;}



.ui-album {list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 4px;}
	.ui-album>.ui-item {flex: 0 0 206px; padding: 0; margin: 0; position: relative; overflow: hidden; background-color: #eee;}
	.ui-album>.ui-item::before {content: ""; float: left; padding-top: 100%;}
	.ui-album>.ui-item.-sg-128 {width: 128px; padding-top: 128px;}
	.ui-album>.ui-item .photoitem {height: 100%; width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	.ui-album>.ui-item .photoitem.-wide {height: 100%; width: auto;}
	.ui-album>.ui-item .photoitem.-tall {height: auto; width: 100%;}
	.ui-album>.ui-item .title {position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
	.ui-album .widget-inlineedit.-photodetail {position: absolute; bottom: 0; left: 0; right: 0;}
	.ui-album>.ui-item>.nav.-icons {position: absolute; top: 4px; right: 4px;}
	.ui-album>.ui-item.-upload {}
	.ui-album>.ui-item.-upload>form {position: absolute; margin: 0; padding: 0; top: 0; left: 0; right: 0; bottom: 0; text-align: center;}
	.ui-album>.ui-item.-upload .btn {margin: 0 auto; display: block; padding: calc(50% - 24px); background-color: transparent;}
	.ui-album>.ui-item.-upload .btn:hover {background-color: #ddd;}
	.ui-album>.ui-item.-upload .btn>span {display: block; width: 100%; padding: 0;}
	.ui-album>.ui-item.-upload .icon {display: block; margin: 0 auto;}

.ui-menu {width: auto; margin: 0; padding: 0; list-style-type: none;}
	.ui-menu>.ui-item>a {padding: 6px 8px; display: block;}
	.ui-menu>.ui-item>a:hover {background-color: #eee;}
	.ui-menu>.ui-item>a>.icon {margin-right:8px;}
	.ui-menu>.ui-item>h3 {background: #ddd; padding: 4px 8px;}
	.ui-menu .ui-menu {position: relative; margin:0;}
	.ui-menu .ui-menu>.ui-item:last-child {border-bottom: none;}
	.ui-menu .ui-menu>.ui-item>a {padding-left: 24px;}

.ui-tag {margin:0; padding: 4px 0; list-style-type: none;}
	.ui-tag .ui-item {margin: 0 20px 10px 0; padding: 0 40px 0 16px; display: inline-block; border: 1px #ccc solid; border-radius:12px; position: relative;}
	.ui-tag .ui-item .icon {border-radius:50%;}
	.ui-tag .nav {position: absolute; right: 0; top: 0;}

.ui-tab {padding:0; margin:0; list-style-type:none; text-align:left; background:#fff; border-bottom:1px #ccc solid;}
	.ui-tab>li { margin: 0 0 -1px 0; padding: 0; display: inline-block;border:1px transparent solid; border-bottom:1px #ccc solid; border-radius: 2px 2px 0 0;}
	.ui-tab>li>a {margin:0; padding:4px 10px; display:inline-block; color:#666;}
	.ui-tab>li>a:hover {background-color:#fafafa;color:#222;}
	.ui-tab>li.-active {border:1px #ccc solid; border-bottom:1px #fff solid;}
	.ui-tab>li.-active>a:hover {color:#222;background-color:#fafafa;}


.ui-like-status {font-size: 0.8em;}
	.ui-like-status>.-item:nth-child(n+2)>a>span {display: none;}
	.ui-like-status .btn.-disabled {border: none; box-shadow: none; background-color: transparent; color: #ccc; pointer-events: initial; cursor: default;}
	.ui-like-status .btn.-disabled:hover {background-color: #eee;}
	.ui-like-status .icon {color: #ccc;}
	.ui-like-status .icon.-active {color: #333;}
	.ui-like-status .icon.-green {color: green;}
	.ui-like-status .icon.-yellow {color: #ffb200; background-color: #f60; border-radius: 50%; width: 22px; height: 22px; font-size: 22px;}
	.ui-like-status .icon.-red {color: red;}




/* sg-dropbox : dropdown box on click or hover */
.widget-dropbox {position: relative; background-color: transparent; border: none; box-shadow: none;}
	.widget-dropbox .sg-dropbox--wrapper {display: block; max-width: 400px;}
	.widget-dropbox.hover:hover .sg-dropbox--wrapper {display: block;}
	.widget-dropbox.click .sg-dropbox--wrapper {margin-top: 4px;}
	.widget-dropbox.leftside .sg-dropbox--wrapper {right:6px; left:auto;}
	.widget-dropbox>a {display: block; padding: 6px; color:#ccc; border-radius: 50%; box-shadow: none; border: none; line-height: 1;}
	.widget-dropbox>a:hover {color:#999; background-color: #eee;}
	.widget-dropbox.-atright>a {}
	.widget-dropbox .sg-dropbox--wrapper { padding:11px 0 8px; display: none; position: absolute; z-index:100; left:-10px; right:auto;}
	.widget-dropbox ul {margin:0; padding:0; list-style-type: none;}
		.widget-dropbox .ui-item a {display: block; padding: 4px 0; color:#666; white-space: nowrap;}
		.widget-dropbox .ui-item a:hover {color:#999; background: #f5f5f5;}
		.widget-dropbox a.-disabled {color:#ccc;}
		.widget-dropbox a.-disabled .icon {opacity: 0.4;}
		.widget-dropbox .sg-dropbox--content {overflow: auto;}
		.widget-dropbox .sg-dropbox--content>ul {padding: 0;}
		.widget-dropbox .sg-dropbox--content>ul>li {padding: 0;}
		.widget-dropbox .sg-dropbox--content>ul>li>a {padding: 4px 24px 4px 16px; white-space: nowrap; display: flex; flex-wrap: nowrap;}
		.widget-dropbox .sg-dropbox--content>ul>li>a>.icon {margin-right: 4px;}
		.widget-dropbox .sg-dropbox--content>ul>li>.iconset {padding: 0;}
		.widget-dropbox .sg-dropbox--content>ul>li>.iconset>a {padding: 0;}
		.widget-dropbox .sg-dropbox--content>ul>li.-sep {height: 4px; margin: 0; padding: 0;}
		.widget-dropbox .sg-dropbox--content>.ui-action>.ui-item.-sep {width: auto;}

	.widget-dropbox .sg-dropbox--arrow {
		height: 8px;
		width: 12px;
		background-image: url('https://softganz.com/library/img/iconset.png');
		background-repeat: no-repeat;
		background-size: auto auto;
		background-position: -4px -1235px;
		right: auto;
		left: 10px;
		top:1px;
		position: absolute;
		text-indent: -999em;
	}
	.widget-dropbox.leftside .sg-dropbox--arrow {left: auto; right: 6px;}
	.widget-dropbox .sg-dropbox--content {margin-top: -4px; padding: 0; border: 1px #D2D2D2 solid; background-color: #f5f5f5; opacity: 1; box-shadow: 4px 4px 4px #aaa; text-align: left; border-radius: 4px 4px 2px 2px;}
	.widget-dropbox form {padding:0 10px;}

	.widget-dropbox.-atright {position: absolute; right: 4px; top:4px;}




.sg-chart {min-height: 200px;}
	.sg-chart h3 {font-family:Tahoma; font-size:1em; color:#999;}
	.sg-chart .widget-table {color:#999;}



/* @group toolbar */
/* @deprecated -> use widget-report */
.toolbar.-report {}
	.toolbar.-report>.-filter {display: flex; margin-bottom: 8px;}
		.toolbar.-report>.-filter>* {display: block;}
		.toolbar.-report>.-filter .form-text {padding: 0 8px;}
		.toolbar.-report>.-filter .-text {background-color: #eee;padding: 6px; border-radius: 4px 0 0 4px; border: 1px #ddd solid; white-space: nowrap;}
		.toolbar.-report>.-filter .-select {margin: 0 16px 0 0; padding: 4px; border-radius: 0 4px 4px 0; border: 1px #ddd solid; border-left: none; flex: 1; display: flex;}
		.toolbar.-report>.-filter .-select>.-item {display: flex; flex-wrap: wrap; flex: 1;}
		.toolbar.-report>.-filter .-select>.-item>span {padding: 2px 0 2px 6px; margin: 1px 8px 1px 0; font-size: 0.85em; background-color: #eee; border-radius: 4px; }

	.toolbar.-report>.-group {position:relative; height: 60px; margin: 0 0 9px 0; display: flex; border: 1px #ccc solid; border-bottom: 2px #dddddd solid; border-radius: 4px;}
		.toolbar.-report>.-group>* {display: block;}

		.toolbar.-report>.-group>.group-nav {flex:0 0 29px; width: 29px; margin:0; padding:0; height:60px; text-align:center; font-size:20px; line-height:60px; z-index: 1; background-color: #fff;}
		.toolbar.-report>.-group>.group-nav.-left {left:4px; border-radius: 4px 0 0 4px; border-right: 1px #dddddd solid;}
		.toolbar.-report>.-group>.group-nav.-left:focus {outline:none;}
		.toolbar.-report>.-group>.group-nav.-right {right:4px; border-left: 1px #dddddd solid; border-radius: 0 4px 4px 0; position: absolute; right: 0;}
		.toolbar.-report>.-group>.group-nav.-right:focus {outline:none;}
		.toolbar.-report>.-group>.group-nav .icon {margin-top: 18px;}

		.toolbar.-report>.-group>ul {height: 60px; display: flex; flex-wrap: nowrap; margin: 0; padding:0; position:relative; list-style-type: none;}
		.toolbar.-report>.-group>ul>li {width: 90px; height: 100%; border-right: 1px #dddddd solid; position: relative; display: flex;  align-items: center;}
		.toolbar.-report>.-group>ul>li:last-child {}
		.toolbar.-report>.-group>ul>li:hover {border-bottom:2px #FF7D13 solid; background-color: #eee;}
		.toolbar.-report>.-group>ul>li.-active {border-bottom:2px #66BD29 solid; background-color: #f5f5f5;}
		.toolbar.-report>.-group>ul>li.-active:hover {background-color: #eee;}

		.toolbar.-report>.-group .-group-name {height: 100%; flex: 1; padding-right: 24px;}
		.toolbar.-report>.-group .-group-name>a { display: flex; align-items: center; height: 100%;padding: 0px 0 0 15px; font-size: 0.9em; background: transparent; color: #666;}
		.toolbar.-report>.-group .-group-name>a:hover {color:#444; border:none;}

		.toolbar.-report>.-group .widget-dropbox {flex: 0 0 24px; position: absolute; top: 0; right: 0; bottom: 0;}
		.toolbar.-report>.-group .widget-dropbox>a {height: 100%; width: 24px; border-radius: 0; display: block; padding: 0; box-shadow: none; background-color: transparent;}
		.toolbar.-report>.-group .widget-dropbox>a:hover {background-color: #f3f3f3;}
		.toolbar.-report>.-group .widget-dropbox>a>.icon {position: absolute; top: calc( 50% - 12px); right: 0;}
		.toolbar.-report>.-group .widget-dropbox .sg-dropbox--content {width: 200px; height: 240px;font-size: 0.85em; background-color: #fff;}
		.toolbar.-report>.-group .widget-dropbox.rightside .sg-dropbox--wrapper {left: -6px;}
		.toolbar.-report>.-group .widget-dropbox .nav {height: 24px; padding: 8px;}
		.toolbar.-report>.-group .widget-dropbox .nav a {padding: 0 8px;}
		.toolbar.-report>.-group .widget-dropbox .nav.-footer a {padding: 0 32px;}
		.toolbar.-report>.-group .widget-dropbox label {padding: 4px 0; display: flex;}
		.toolbar.-report>.-group .widget-dropbox label:hover {background-color: #eee;}

		.toolbar.-report>.-group>ul>li.-no-name .widget-dropbox.rightside .sg-dropbox--wrapper {left: 0;}
		.toolbar.-report>.-group>ul>li.-no-name .widget-dropbox {height: 100%; flex: 1 0 100%; position: relative;}
		.toolbar.-report>.-group>ul>li.-no-name .widget-dropbox>a {width: 100%; height: 100%; display: flex; align-items: center; position: relative;}
		.toolbar.-report>.-group>ul>li.-no-name .widget-dropbox>a>span {padding: 0 24px 0 8px; color: #666; font-size: 0.9em;}
		.toolbar.-report>.-group>ul>li.-no-name .widget-dropbox>.icon {position: relative;}

		.toolbar.-report>.-group .-checkbox {height: calc(240px - 80px); overflow: auto;}
		.toolbar.-report>.-group .-checkbox>.-level-2 {padding-left: 16px; display: block;}
		.toolbar.-report>.-group .-check-count {flex: 1; position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: 0.7em; color: #bbbbbb; pointer-events: none;}
		.toolbar.-report>.-group .-check-count>* {display: inline-block;}
		.toolbar.-report>.-group .-check-count>.-amt {padding-right: 4px;}

	.toolbar.-report>.-options {display: flex;}
		.toolbar.-report>.-options>ul {display: flex; flex: 1; list-style-type: none; margin: 0; padding: 0; align-items: center; border: 1px #ccc solid; border-radius: 4px;}
		.toolbar.-report>.-options>ul>li {border-right: 1px #ccc solid; padding: 2px;}
		.toolbar.-report>.-options>ul>li:last-child {border-right: none;}




.widget-report {}
	.widget-report .report-output {min-height: 300px;}
	.widget-report .report-output>* {overflow: auto; overflow: hidden; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
	.widget-report .report-output>*::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
	.widget-report .report-output>.report-output-chart {min-height: 300px;}
	.widget-report .report-output>.report-output-debug {max-height: 200px; overflow: scroll;}

	.widget-report .-toolbar>.-filter {display: flex; margin-bottom: 8px;}
	.widget-report .-toolbar>.-filter>* {display: block;}
	.widget-report .-toolbar>.-filter .form-text {padding: 0 8px;}
	.widget-report .-toolbar>.-filter .-text {background-color: #eee; padding: 4px; border-radius: 4px 0 0 4px; border: 1px #ddd solid; white-space: nowrap;}
	.widget-report .-toolbar>.-filter .-select {margin: 0 16px 0 0; padding: 4px; border-radius: 0 4px 4px 0; border: 1px #ddd solid; border-left: none; flex: 1; display: flex;}
	.widget-report .-toolbar>.-filter .-select>.-item {display: flex; flex-wrap: wrap; flex: 1;}
	.widget-report .-toolbar>.-filter .-select>.-item>span {padding: 2px 0 2px 6px; margin: 1px 8px 1px 0; font-size: 0.85em; background-color: #eee; border-radius: 4px; }

	.widget-report .-toolbar>.-group {position:relative; height: 60px; margin: 0 0 9px 0; display: flex; border: 1px #ccc solid; border-bottom: 2px #dddddd solid; border-radius: 4px;}
	.widget-report .-toolbar>.-group>* {display: block;}
	.widget-report .-toolbar>.-group .-content {padding: 8px;}

	.widget-report .-toolbar>.-group>.group-nav {flex:0 0 29px; margin:0; padding:0; height:60px; text-align:center; font-size:20px; line-height:60px; z-index: 1; background-color: #fff;}
	.widget-report .-toolbar>.-group>.group-nav.-left {left:4px; border-radius: 4px 0 0 4px; border-right: 1px #dddddd solid;}
	.widget-report .-toolbar>.-group>.group-nav.-left:focus {outline:none;}
	.widget-report .-toolbar>.-group>.group-nav.-right {right:4px; border-left: 1px #dddddd solid; border-radius: 0 4px 4px 0; position: absolute; right: 0;}
	.widget-report .-toolbar>.-group>.group-nav.-right:focus {outline:none;}
	.widget-report .-toolbar>.-group>.group-nav .icon {}

	.widget-report .-toolbar>.-group>ul {display: flex; flex-wrap: nowrap; margin: 0; padding:0; position:relative; list-style-type: none;}
	.widget-report .-toolbar>.-group>ul>li {flex: 0 0 90px; height: 100%; border-right: 1px #dddddd solid; position: relative; display: flex;  align-items: center;}
	.widget-report .-toolbar>.-group>ul>li:last-child {}
	.widget-report .-toolbar>.-group>ul>li:hover {border-bottom:2px #FF7D13 solid; background-color: #eee;}
	.widget-report .-toolbar>.-group>ul>li.-active {border-bottom:2px #66BD29 solid; background-color: #f5f5f5;}
	.widget-report .-toolbar>.-group>ul>li.-active:hover {background-color: #eee;}

	.widget-report .-toolbar>.-group .-group-name {height: 100%; flex: 1; padding-right: 24px;}
	.widget-report .-toolbar>.-group .-group-name>a { display: flex; align-items: center; height: 100%;padding: 0px 0 0 15px; font-size: 0.9em; background: transparent; color: #666;}
	.widget-report .-toolbar>.-group .-group-name>a:hover {color:#444; border:none;}

	.widget-report .-toolbar>.-group>ul>li.-no-name .widget-dropbox.rightside .sg-dropbox--wrapper {left: 0;}
	.widget-report .-toolbar>.-group>ul>li.-no-name .widget-dropbox {height: 100%; flex: 1 0 100%; position: relative;}
	.widget-report .-toolbar>.-group>ul>li.-no-name .widget-dropbox>a {display: flex; align-items: center; position: relative;}
	.widget-report .-toolbar>.-group>ul>li.-no-name .widget-dropbox>a>span {padding: 0 24px 0 8px; color: #666; font-size: 0.9em;}
	.widget-report .-toolbar>.-group>ul>li.-no-name .widget-dropbox>.icon {position: relative;}

	.widget-report .-toolbar>.-group .-checkbox {height: calc(240px - 80px); overflow: auto;}
	.widget-report .-toolbar>.-group .-checkbox abbr {padding-left: 4px; display: block; padding: 4px; white-space: nowrap;}
	.widget-report .-toolbar>.-group .-checkbox>abbr abbr {padding-left: 16px;}
	.widget-report .-toolbar>.-group .-check-count {flex: 1; position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: 0.7em; color: #bbbbbb; pointer-events: none;}
	.widget-report .-toolbar>.-group .-check-count>* {display: inline-block;}
	.widget-report .-toolbar>.-group .-check-count>.-amt {padding-right: 4px;}
	.widget-report .-toolbar>.-group .nav.-footer {display: flex; justify-content: end;}

	.widget-report .-toolbar>.-options {display: flex; align-items: center; border: 1px #ccc solid; border-radius: 4px;}
	.widget-report .-toolbar>.-options>.-item {border-right: 1px #ccc solid; padding: 2px;}
	.widget-report .-toolbar>.-options>.-item:last-child {border-right: none;}

	.widget-report .-toolbar .widget-dropbox .sg-dropbox--wrapper {left: 0; min-width: 200px;}

	.widget-report .report-output-summary {width: 100%; padding: 0; overflow: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
		.widget-report .report-output-summary::-webkit-scrollbar {display: none; width: 0 !important; height:0 !important; background: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
/* @end */



/* @group ui-statusbar */
.ui-statusbar {margin:8px 0 32px 0; padding: 0; list-style-type: none; height:24px; border-bottom: 1px #ccc solid; display: flex; flex-wrap: nowrap; justify-content: space-between;}
	.ui-statusbar .ui-item {display: block; flex: 0 0 48px; text-align: center;}
	.ui-statusbar .ui-item .status {display: block; width: 48px; height: 48px; margin: 0 auto; background-color: #eee; line-height: 48px; border-radius: 50%;}
	.ui-statusbar .ui-item .status:hover {background-color: #f5f5f5;}
	.ui-statusbar .ui-item .status.-active {background-color: green; color:#fff;}
	.ui-statusbar .ui-item .status.-active:hover {background-color: #008912;}
	.ui-statusbar .ui-item .status.-process-1.-active {background-color: yellow; color: #333;}
	.ui-statusbar .ui-item .status.-process-2.-active {background-color: orange;}
	.ui-statusbar .ui-item .status.-process-3.-active {background-color: magenta;}
	.ui-statusbar .ui-item .status.-process-4.-active {background-color: blue;}
	.ui-statusbar .ui-item .status.-process-5.-active {background-color: green;}
	.ui-statusbar .ui-item .status>.icon {color: grey;}
	.ui-statusbar .ui-item .status.-active>.icon {color: #fff;}
	.nav>.ui-statusbar {margin: 8px 0 32px;}
/* @end */


/* JQUERY UI */
.ui-jquery {}
	.ui-widget-content .ui-button {padding: 8px 16px; border: none;}
	.ui-widget-content .ui-button .ui-button-text {background-color: transparent;}
	.ui-dialog {padding: 0; z-index: 10001; }
	.ui-dialog .ui-dialog-titlebar {padding: 0; border: none;}
	.ui-dialog .ui-dialog-title {}
	.ui-dialog .ui-dialog-titlebar-close {margin: -16px 0 0 0;}
	.ui-dialog .ui-dialog-titlebar-close:hover {margin-top: -8px; margin-right: -2px;}
	.ui-dialog .ui-dialog-buttonpane {margin: 16px 0; border: none;}

	.ui-datepicker .ui-datepicker-buttonpane button {border: none;}
	.ui-datepicker td .ui-state-default {}


/* Light Theme Color */
	.widget-nav.-button-menu>ul>li>a {background-color: #999; color: #fff;}
	.widget-nav.-button-menu>ul>li>a>.icon {background-color: #fff;}
	.widget-nav.-button-menu>ul>li:nth-child(1)>a {background-color: #92C739;}
	.widget-nav.-button-menu>ul>li:nth-child(2)>a {background-color: #11B0DE;}
	.widget-nav.-button-menu>ul>li:nth-child(3)>a {background-color: #EB1A2F;}
	.widget-nav.-button-menu>ul>li:nth-child(4)>a {background-color: #81308D;}
	.widget-nav.-button-menu>ul>li:nth-child(5)>a {background-color: #FEA411;}
	.widget-nav.-button-menu>ul>li:nth-child(6)>a {background-color: #622FCF;}
	.widget-nav.-button-menu>ul>li:nth-child(7)>a {background-color: #297FB8;}
	.widget-nav.-button-menu>ul>li:nth-child(8)>a {background-color: #E91668;}
	.widget-nav.-button-menu>ul>li:nth-child(9)>a {background-color: #36485F;}
	.widget-nav.-button-menu>ul>li:nth-child(10)>a {background-color: #12AA84;}
	.widget-nav.-button-menu>ul>li:nth-child(11)>a {background-color: #9B59B3;}
	.widget-nav.-button-menu>ul>li:nth-child(12)>a {background-color: #576475;}
	.widget-nav.-button-menu>ul>li:nth-child(13)>a {background-color: #7E8C8D;}
	.widget-nav.-button-menu>ul>li:nth-child(14)>a {background-color: #3CB04A;}
	.widget-nav.-button-menu>ul>li:nth-child(15)>a {background-color: #BD1B85;}
	.widget-nav.-button-menu>ul>li:nth-child(16)>a {background-color: #FD6400;}



@media (min-width:40em) {		/* 640/16 = 45 */
	.sg-view.-co-2>.-sg-view:nth-of-type(2) {flex: 0 0 240px;}
	.ui-like-status>.-item:nth-child(n+2)>a>span {display: initial;}
}

@media (min-width:45em) {		/* 720/16 = 45 */
	.ui-card.-flex.-sg-is-mobile {display: none;}
}




@media print {
	.inline-edit-view.-text.-fill {display: block;}
}