/**
 * SoftGanz Ui CSS
 * Created :: 2020-10-01
 * Modify  :: 2025-12-19
 * Version :: 33
 */

@charset "UTF-8";

/* Start of new UI style widget */
:root {
	--appbar-bg-color: unset;
	--appbar-text-color: unset;
	--appbar-btn-bg-color: unset;
	--appbar-btn-bg-color-hover: unset;
	--appbar-nav-bg-color: unset;
	--appbar-nav-btn-bg-color: unset;
	--appbar-nav-btn-hover-color: unset;
	--appbar-nav-text-color: unset;
	--appbar-trailing-text-color: var(--appbar-text-color);

	--card-bg-color: unset;
	--side-nav-hover-bg-color: unset;

	--sidebar-bg-color: #f6f6f6;
	--border-color: #dcdedf;

	--button-height: 36px;
	--button-padding: 0 12px;

	--color-1: #E9F7EF; --color-1-border: #84AA8A;
	--color-2: #E7EFFB; --color-2-border: #6A768B;
	--color-3: #F4E7D1; --color-3-border: #999070;
	--color-4: #FCEDE8; --color-4-border: #8C6A67;
	.widget-inlineedit {
		--font-color: inherit;
	}
}

.theme-dark {
	--sidebar-bg-color: #f6f6f6;
	--border-color: #888888;

	.widget-inlineedit {
		--font-color: #979797;
	}
	.widget-table {
		--bg-color: #333;
		--border-color: #333;
		--caption-text-color: #f1f1f1;
		--caption-bg-color: #333;
		--header-bg-color: #404040;
		--footer-bg-color: #333;
		--tr-bg-hover-color: #585858;
	}
}

.-spacer {flex: 1 !important;}

[class^="widget-"]{
	* {box-sizing: border-box;}
	&.-main-axis-start {justify-content: flex-start;}
	&.-main-axis-center {justify-content: center;}
	&.-main-axis-end {justify-content: flex-end;}
	&.-main-axis-spacearound {justify-content: space-around;}
	&.-main-axis-spacebetween {justify-content: space-between;}
	&.-main-axis-spaceevenly {justify-content: space-evenly;}
	&.-cross-axis-start {align-items: flex-start;}
	&.-cross-axis-center {align-items: center;}
	&.-cross-axis-end {align-items: flex-end;}
}

/* widget-button */
.widget-button, .btn {
	--normal-text-color: unset;
	--normal-bg-color: transparent;

	--primary-text-color: #E5F2FF;
	--primary-bg-color: #057BFF;

	--secondary-text-color: #666;
	--secondary-bg-color: #eee;

	--success-text-color: #c5ffc6;
	--success-bg-color: #5FB660;

	--info-text-color: #E5F2FF;
	--info-bg-color: #60C0DC;

	--warning-text-color: #ffedd5;
	--warning-bg-color: #EEAC57;

	--danger-text-color: #FFE0E0;
	--danger-bg-color: #D75452;

	--link-text-color: #666;
	--link-bg-color: transparent;

	--cancel-text-color: #999;
	--cancel-bg-color: transparent;

	--floating-text-color: #FFE0E0;
	--floating-bg-color: #DB4437;

	--disabled-text-color: #a0a0a0;
	--disabled-bg-color: #d0d0d0;
	
	box-sizing: border-box;
	display: inline-flex;
	flex-wrap: nowrap;
	margin: 0px;
	padding: var(--button-padding);
	min-height: var(--button-height);
	font-weight: normal;
	border: none;
	border-radius: 36px;
	cursor: pointer;
	align-items: center;
	box-shadow: none;

	>.-desc {flex: 0 0 100%; text-align: center; font-size: 1.4rem;}
	>.icon {margin: 0;}
	>.icon:only-child {margin: 0;}
	>span {padding: 0 6px; white-space: nowrap;}
	>span.-hidden {display: none;}
	>.icon+span {padding-left: 4px;}
	>.icon-group {padding: 0;}
	>span>em {font-weight: normal; font-size: 1.4rem; font-style: italic; display: block;}

	&:hover {filter: brightness(0.95);}

	&.-default {
		padding: 0;
		flex-direction: row; align-items: start; flex-wrap: wrap;
		&:has(:only-child) {padding: 0;}
		>.-label {flex: 1; white-space: wrap; padding: 0;}
		>.-desc {padding: 0; flex: 1 0 100%; text-align: left;}
	}

	&.-normal {color: var(--normal-text-color); background-color: var(--normal-bg-color);}

	&.-primary {
		color: var(--primary-text-color); background-color: var(--primary-bg-color);
		>.icon {color: var(--primary-text-color);}
	}

	&.-secondary {
		color: var(--secondary-text-color); background-color: var(--secondary-bg-color);
		>.icon {color: var(--secondary-text-color);}
	}

	&.-success {
		color: var(--success-text-color); background-color: var(--success-bg-color);
		>.icon {color: var(--success-text-color);}
	}

	&.-info {
		color: var(--info-text-color); background-color: var(--info-bg-color);
		>.icon {color: var(--info-text-color);}
	}

	&.-warning {
		color: var(--warning-text-color); background-color: var(--warning-bg-color);
		>.icon {color: var(--warning-text-color);}
	}

	&.-danger {
		color: var(--danger-text-color); background-color: var(--danger-bg-color);
		>.icon {color: var(--danger-text-color);}
	}

	&.-link {
		color: var(--link-text-color); background-color: var(--link-bg-color);
		>.icon {color: var(--link-text-color);}
		&:hover {background-color: #F5F5F5;}
	}

	&.-cancel {
		color: var(--cancel-text-color); background-color: var(--cancel-bg-color); margin-right: 16px;
		>.icon {color: var(--cancel-text-color);}
	}

	&.-floating {
		color: var(--floating-text-color); background-color: var(--floating-bg-color); box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
		>.icon {color: var(--floating-text-color);}
	}

	&.-circle24 {width: 24px; height: 24px; padding: 0px; border-radius: 50%;}
	&.-circle32 {width: 32px; height: 32px; padding: 4px !important; border-radius: 50%;}
	&.-circle48 {width: 48px; height: 48px; padding: 12px !important; border-radius: 50%;}

	/*
	button.btn.-circle32 {width: 32px; height: 32px; padding: 0;}
	button.btn.-circle48 {width: 48px; height: 48px; padding: 0;}
	&.-primary>.icon {opacity: 0.8;}
	&.-primary>.icon.-material {color: #f5f5f5;}
	&.-primary>span {opacity: 0.9;}
	&.-floating.-right {right: 16px; position: absolute;}
	&.-floating.-bottom {bottom: 16px; position: fixed;}
	&.-floating .icon.-material {color: #ffc8c3;}
	*/

	&.-no-wrap {flex-wrap: nowrap;}
	&.-big {padding-top: 16px; padding-bottom: 16px; border-radius: 64px; font-size: 1.8rem;}
	&.-hidden {display: none;}
	&:has(:only-child) {padding: 6px;}
	&:has(.-desc) {border-radius: 128px;}
	&.-fill {width: 100%; padding-left: 0; padding-right: 0; justify-content: center;}
	&.-wrap {white-space: normal;}
	&.-disabled {
		color: var(--disabled-text-color); background-color: var(--disabled-bg-color);
		.icon {color: var(--disabled-text-color);}
	}
	&.-active {border: 1px #ffba8c solid;}

	&.-upload>input.form-file {display: none;}
	&.-upload>label {margin: 0;}
	&.-sg-text-center .icon {display: block; margin: 0 auto;}
}

/* widget-floatingactionbutton */
.widget-floatingactionbutton {
	position: fixed; margin: 0 auto; bottom: 8px; z-index: 1000;
	display: flex; flex-wrap: wrap; flex-direction: column;
	width: calc(100% - 16px); padding: 0 8px;
	pointer-events: none;

	>* {flex: 1 0 100%; text-align: right; margin-top: 8px; pointer-events: all;}
}

/* widget-form */
.widget-form, .form {
	--input-height: 34px;
	--bg-color: #fff;
	--border-color: #ccc;
	--hover-bg-color: #ffffcc;
	--hover-border-color: #86b7fe;
	--focus-bg-color: #ffffcc;
	--require-border-color: #ffd8be;
	--require-hover-border-color: #86b7fe;
	--line-focus-border-color: #4285F4;

	optgroup[label] {font-weight: bold;}
	&.-sg-flex {margin: 0;}
	&.-sg-flex.-nowrap {flex-wrap: nowrap;}
	&.-hots {margin: 0 0 40px 0; padding: 10px; border: 2px #f60 solid; background-color: #FCF0DB;}

	fieldset {padding: 10px; margin: 20px 0; border: 1px #c2c2c2 solid; border-radius: 3px;}

	.form-text
	, .form-password
	, .form-textarea {
		font-family: sans-serif; font-size: 1em; appearance: none;
		border: 1px solid var(--border-color);
	}

	.form-text {height: var(--input-height); padding: 0 8px; background-color: var(--bg-color); color: var(--font-color);}
	.form-password {height: var(--input-height); padding: 0 8px; background-color: var(--bg-color); color: var(--font-color);}
	.form-textarea {padding: 8px; background-color: var(--bg-color); color: var(--font-color);}
	.form-select {height: var(--input-height); padding: 0 24px 0 8px; font-family: sans-serif; font-size: 1em; border-radius: 3px; border: 1px var(--border-color) solid; appearance: none; -moz-appearance: none; appearance: none; background-color: var(--bg-color); color: var(--font-color);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23cccccc' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 7.84l4.59 4.58 4.59-4.58 1.41 1.41-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24h-24z' fill='none'/%3E%3C/svg%3E");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 24px;}
	.form-text.-numeric {text-align: center;}
	.form-text.-money {text-align: center;}
	.form-text.-date {text-align: center;}
	.form-text.-time {text-align: center;}
	.form-text.-readonly {color: gray;}

	.form-text[disabled] {border: 1px transparent solid;}
	.form-select[disabled] {border: 1px transparent solid; background-image: none;}

	.form-text:hover
	, .form-password:hover
	, .form-select:hover
	, .form-textarea:hover {background-color: var(--hover-bg-color); outline: none; border: 1px var(--hover-border-color) solid;}

	.form-text:focus
	, .form-password:focus
	, .form-select:focus
	, .form-textarea:focus {background-color: var(--focus-bg-color); color: var(--font-color); outline: none;}

	.-line {
		&.form-text,
		&.form-password,
		&.form-select,
		&.form-textarea {border: none; border-bottom: 2px var(--bg-color) solid; border-radius: 0;}

		&:focus {
			&.form-text
			, &.form-password
			, &.form-textarea
			, &.form-select {border-bottom: 2px var(--line-focus-border-color) solid; box-shadow: none;}
		}
		&.form-select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000; box-shadow: none; outline: none;}
	}


	.form-text.-fill
	, .form-password.-fill
	, .form-textarea.-fill
	, .form-select.-fill {width: 100%;}

	.form-text.-hidden
	, .form-password.-hidden
	, .form-textarea.-hidden
	, .form-select.-hidden {display: none;}

	.form-text.-require,
	.form-select.-require,
	.form-textarea.-require {border: 1px var(--require-border-color) solid;}

	.form-text.-require:hover,
	.form-select.-require:hover,
	.form-textarea.-require:hover {border: 1px var(--require-hover-border-color) solid;}

	.form-text.-require:focus,
	.form-select.-require:focus,
	.form-textarea.-require:focus {border: 1px #86b7fe solid;}
	.form-textarea.-monospace {font-family: monospace, monospace; tab-size: 2;}

	.form-text.-highlight,
	.form-password.-highlight,
	.form-select.-highlight {font-size: 1.2em;}

	.form-item {
		margin: 0; padding: 8px; position: relative; text-align: left;
		&.-hidden {display: none;}
		&.-inlineblock {display: inline-block;}
		>label:not(.-hidden) {margin: 5px 0; font-weight: bold; display: block;}
		.label--option {padding-left: 10px; font-weight: normal; display: inline-block;}
		.option {font-weight: normal;}
		ul {margin: 0 20px; padding: 0;}
		.description {color: gray; font-size: .8em; margin: 5px 0;}
		.form-required {color: #ff6600;}
		&.btn.-upload {padding: 0 8px; height: 34px; flex-wrap: wrap; align-content: center;}
		&.btn.-upload.-primary>label>.icon {color: #fff;}
		&.btn.-upload>label:not(.-hidden) {margin: 0; width: 100%;}
		&.-sg-text-right {
			display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-end; gap: 8px;
		}

		abbr {
			display: block; position: relative; padding: 8px;
			&:hover {background-color: #eee;}
			label>input[type="radio"]+.icon {position: absolute; right: 8px; top: calc(50% - 12px); z-index: 1;}
		}

		>.form-group {
			width: calc(100% - 2px); position: relative; display: inline-flex; flex-wrap: nowrap; border: 1px #ccc solid; border-radius: 3px; padding: 1px; align-items: center;
			>* {margin: 0; border: none; box-shadow: none; border-radius: 0;}
			>*:first-child {border-radius: 3px 0 0 3px;}
			>*:last-child {border-radius: 0 3px 3px 0;}
			>input {flex: 1;}
			>input:hover {box-shadow: none;}
			>input:focus {box-shadow: none;}
			>*>.form-select {height: 36px;}
			>*>span>* {height: 100%; border: none; box-shadow: none;}
			>*>span>.btn {padding: 0; display: block; border-radius: 0;}
			>*>span>.btn.-primary {border: 1px #2179ff solid;}
			>*>span>.btn>.icon {padding: 0;}
			>*>span>.btn>span {padding: 0 4px; line-height: 36px;}
			>*>span>.btn>.icon.-sg-16 {padding: 10px 4px;}
			>.input-prepend {background-color: #f9f9f9; display: flex; line-height: 34px;}
			>.input-prepend>span:first-child>* {border-radius: 2px 0 0 2px;}
			>.input-append {background-color: #f9f9f9; display: flex; line-height: 34px;}
			>.input-append>span {padding: 0;}
			>.input-append>span:last-child>* {border-radius: 0 2px 2px 0;}
		}

		&.-label-in {
			>label {position: absolute; margin: 0; font-size: 0.8em; font-weight: normal; color: gray; opacity: 0.7; z-index: 1;}
			.form-text, .form-password {padding-top: 16px;}
			.form-select {height: 46px; padding-top: 16px;}
			.form-textarea {padding-top: 16px;}
		}

		.editor {
			margin: 1px 0; border: 1px gray solid; background-color: #D6D3CE;
			img {cursor: pointer;}
		}

		>label.rate-percent {width: 2.5em; padding: 8px; border-radius: 4px; border: 1px #ccc solid; text-align: center; display: inline-block;}
		>.rate-percent input {display: block; margin: 0 auto;}
	}

	.options-group {
		display: block;
		>.options-group {padding-left: 16px;}
	}

	.options-group-label {display: block; font-weight: bold;}
	.option.-inline {display: inline;}

	&.-inlineitem {
		.form-item {display: inline-block; vertical-align: top;}
		.form-item.-hidden {display: none;}
		.form-item label {display: inline-block;}
	}
}

/* widget-message */
.widget-message {
	padding: 32px 8px; text-align: center;
}

/* widget-header */
.widget-header {
	display: flex; flex-wrap: wrap; justify-content: space-between; padding: 8px; align-items: center;
	>.-title {
		flex: 1;
		>* {display: block;}
		>.-title-text, >.-title-text>a {font-weight: bold;}
		>.-subtitle-text {font-size: 0.85em;}
	}
	>.-leading {padding-right: 8px;}
}

/* widget-listtile */
.widget-listtile {
	display: flex; flex-wrap: wrap; justify-content: space-between; padding: 8px; align-items: flex-start;

	>.-title {
		flex: 1;
		>* {display: block;}
		>.-title-text, >.-title-text>a {font-weight: bold;}
		>.-subtitle-text {font-size: 0.85em;}
	}
	>.-leading {padding-right: 8px;}
}

/* widget-stepmenu */
.widget-stepmenu {
	margin: 8px 32px 24px;
	
	>ul {
		margin: 8px 0 32px 0; padding: 0; list-style-type: none; height: 24px; border-bottom: 1px #aaa solid; display: flex; flex-wrap: nowrap; justify-content: space-between;
		>.ui-item {
			display: block; flex: 0 0 48px; text-align: center;
			>* {display: block; width: 48px; height: 48px; margin: 0 auto; background-color: #eee; line-height: 48px; border-radius: 50%; overflow: hidden;}
			>*:hover {background-color: #f5f5f5;}
			.icon {color: grey;}
			&.-active>* {background-color: green; color: #fff;}
			&.-active>*:hover {background-color: #008912;}
			&.-active .icon {color: #fff;}
			&>.-cancel {background-color: red;}
			&>.-cancel>.icon {color: #fff;}
		}
	}
}

/* widget-card */
.widget-card {
	margin: 8px 0;
	background-color: var(--card-bg-color);

	>.-header {
		display: flex; flex-direction: row;
		padding: 8px;
		gap: 8px;
		.-title {flex: 1;}
		.-title-text {font-weight: bold;}
	}
	.widget-table:last-child::after {content: ""; display: block; height: 8px;}
}

/* widget-appbar */
.widget-appbar {
	flex: 1 0 100%; display: flex; margin: 0 0 2px 0; padding: 0; flex-wrap: wrap; align-items: center; position: relative; -ms-overflow-style: none; scrollbar-width: none;

	&::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;}
	&.-report>.-nav {background-color: transparent;}

	>.-title {
		flex: 1; margin: 0; padding: 0 8px; height: 4.8rem; font-size: 1.8rem; line-height: 4.8rem; overflow: hidden; position: relative; background-color: var(--appbar-bg-color);
		>.-text {margin: 0; padding: 0; font-size: 1.8rem; height: -webkit-fill-available; font-weight: normal; line-height: 3.8rem; color: var(--appbar-text-color);}
		>.-text:only-child {line-height: 4.8rem;}
		>.-sub {position: absolute; bottom: 2px; font-size: 1.2rem; line-height: 1.6rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--appbar-text-color);}
	}

	>.-leading {
		height: 4.8rem; display: flex; align-items: center; padding: 0 4px; color: var(--appbar-text-color); background-color: var(--appbar-bg-color);
		.icon {color: var(--appbar-text-color);}
		>.nav.-back {display: none;}
		>.nav.-back>a {display: block; width: 36px; height: 36px; padding: 8px; box-sizing: border-box;}
	}

	>.-trailing {
		height: 4.8rem; padding-right: 8px; display: flex; align-items: center; color: var(--appbar-trailing-text-color); background-color: var(--appbar-bg-color);
		.widget-row {gap: 8px;}
		.widget-row>*>a {color: var(--appbar-trailing-text-color); background-color: var(--appbar-btn-bg-color);}
		.widget-row>*>a:hover {background-color: var(--appbar-btn-bg-color-hover);}
		.widget-row>*>a>.icon {color: var(--appbar-trailing-text-color);}
		.widget-nav>ul {align-items: center;}
		.widget-dropbox>a {color: var(--appbar-trailing-text-color); background-color: var(--appbar-btn-bg-color); box-shadow: none;}
		.widget-dropbox>a:hover {background-color: var(--appbar-btn-bg-color-hover);}
		.widget-dropbox>a>.icon {color: var(--appbar-trailing-text-color);}
		.widget-dropbox a>span {white-space: nowrap;}
	}

	>.-nav {
		flex: 1 0 100%; margin: 0; padding: 0; position: relative; display: flex; overflow: auto; -ms-overflow-style: none; scrollbar-width: none; background-color: var(--appbar-nav-bg-color);
		&::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;}
		.-has-dropbox>.-nav {flex: 1 0 calc(100% - 48px);}
		a {white-space: nowrap; display: block; color: var(--appbar-nav-text-color); background-color: var(--appbar-nav-btn-bg-color); margin: 2px 2px 0 0; padding: 4px 8px; border-radius: 0px; text-align: center;}
		a:hover {background-color: var(--appbar-nav-btn-hover-color);}
		a>.icon {display: block; margin: 0 auto;}
		>ul {display: flex; flex-wrap: nowrap; flex: none; margin: 0 8px 0 0; padding: 0; overflow: auto; list-style-type: none;}
		>ul:last-child {margin-right: 0;}
		>.-more {position: absolute; right: 8px; top: 8px; overflow: visible;}
		&.-is-more-nav>.ui-nav {flex-basis: calc(100% - 32px);}
	}

	>.-children {flex: 1 0 100%;}
	.form-report {background-color: transparent; box-shadow: none; margin: 0; padding: 0;}
}

.box-page {
	>.widget-appbar {position: absolute; top: -48px; left: 0; right: 0; z-index: 1;}
	>.widget-appbar>.-trailing .btn {box-shadow: none;}
	>.widget-appbar>.-leading>.nav.-back {display: block;}
	>.widget-appbar>.-nav {display: none;}
}

/* widget-scrollview */
.widget-scrollview {
	width: 100%; padding: 0; overflow: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
}

/* widget-row */
.widget-row {
	display: flex; flex-wrap: nowrap; justify-content: flex-start; list-style-type: none; margin: 0; padding: 0;
	>.-item {position: relative;}
	>.-sep {width: 4px;}
	>.-sep>hr {display: none;}
	&.-hover-parent:hover>.-item .-hover {display: inline-block; top: 0; right: 0;}
}

/* widget-nav */
.widget-nav {
	display: flex; overflow: scroll; flex-direction: row; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */

	.widget-nav::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
	>ul {display: flex; flex-wrap: nowrap; justify-content: space-around; list-style-type: none; margin: 0; padding: 0; width: fit-content;}
	>ul>li {position: relative;}
	>ul>li:not(:last-child) {padding: 0 4px 0 0;}
	&.-cross-axis-center>ul {align-items: center;}
	&.-vertical {flex: 1 0 100%; flex-wrap: wrap; flex-direction: column;}
	&.-vertical>ul {flex: 1 0 100%; flex-wrap: wrap; width: 100%; gap: 4px}
	&.-vertical>ul>li {flex: 0 0 100%; flex-wrap: wrap; padding: 0;}
	&.-vertical>ul>li>a {display: flex; padding: 4px 8px; gap: 8px; align-items: center; font-weight: bold;}
	&.-vertical>ul>li>a>span {flex: 1; padding: 0; line-height: unset;}
	&.-vertical .-sep>hr {display: none;}
	&.-vertical .widget-nav a {font-weight: normal;}
	&.-main-axis-end>ul {margin-left: auto;}

	&.-button-menu>ul>li>a {line-height: 4.8rem; border-radius: 4.8rem; margin: 8px 0; align-items: center; padding: 0;}
	&.-button-menu>ul>li>a>span {text-align: center; font-size: 1.6rem;}
	&.-button-menu>ul>li>a>.icon {border-radius: 50%; opacity: 0.8; width: 5.2rem; height: 5.2rem; font-size: 4.4rem; padding: 2px;}
}

.widget-sidebar {
	display: flex; flex-direction: column; width: 100px;
	z-index: 1;
	background-color: var(--sidebar-bg-color);
	.-header>.icon {width: 32px; height: 32px; display: block; padding: 4px;}
	.-group-header {font-weight: bold; padding: 8px;}
	>nav.-vertical {flex: initial;}
	>nav>ul {gap: 8px;}
	>nav.-vertical>ul>li .widget-button {border-radius: 0;}
	>nav.-vertical.-icon-center .widget-button {text-align: center; flex-direction: column;}
	>nav.-vertical.-icon-center .widget-button>.icon {margin: 0 auto;}
	>nav nav.-vertical {
		ul>li>a {padding: 2px 0 2px 16px;}
		.icon {width: 1.6rem; height: 1.6rem; font-size: 1.6rem;}
	}
}

/* widget-table */
.widget-table {
	--bg-color: #fff;
	--border-color: #f5f5f5;
	--caption-text-color: #333;
	--caption-bg-color: #f1f1f1;
	--header-bg-color: #f7f7f7;
	--footer-bg-color: #f7f7f7;
	--tr-bg-hover-color: #fafafa;
}

.widget-table {	
	width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; border: none; background-color: var(--bg-color); display: table;
	&.-table {width: auto;}
	&.-cross-axis-center>tbody>tr>td {vertical-align: middle;}
	>caption {margin: 0; padding: 4px; font-size: 1.1em; color: var(--caption-text-color); font-weight: bold; background-color: var(--caption-bg-color); border-radius: 0;}
	>thead {background-color: var(--header-bg-color);}
	>thead>tr.header, >tbody>tr.header {display: table-row;}
	>tfoot {font-weight: bold; background-color: var(--footer-bg-color);}
	>tbody>tr:hover {background-color: var(--tr-bg-hover-color);}
	th {padding: 8px 4px; border-right: 1px transparent solid; vertical-align: middle; text-align: center;}
	th:last-child {border-right: none;}
	&.-header-nowrap th {white-space: nowrap;}
	td {padding: 8px 4px; vertical-align: top; border-bottom: 1px var(--border-color) solid;}
	td.-fill {width: 100%;}
	.subheader {font-weight: bold; background-color: #ddd;}
	.subfooter {font-weight: bold; background-color: #eaeaea;}
	.newitem td {background-color: #E5BBA0;}
	&.-center td, &.-center th {text-align: center;}
	&.-cols8 td {width: 12.5%;}
	&.-cols2 td:first-child {white-space: nowrap;}
	&.-cols2 td:nth-child(2) {width: 100%;}
	.col.-center {text-align: center;}
	.col.-left {text-align: left;}
	.col.-right {text-align: right;}
	.col.-money {text-align: center; white-space: nowrap;}
	.col.-no {width: 1px; text-align: center; white-space: nowrap;}
	.col.-no:after {content: ".";}
	.col.-amt {text-align: center; white-space: nowrap;}
	.col.-date {text-align: center; white-space: nowrap;}
	.col.-nowrap {white-space: nowrap;}
	.col.-icons {text-align: left; width: 24px;}
	.col.-icons.-c2 {width: 52px;}
	.col.-icons.-c3 {width: 72px;}
	.col.-icons.-c4 {width: 110px;}
	.col.-icons.-c5 {width: 140px;}
	.col.-icons.-center {text-align: center;}
	>tbody .order {background-color: #eee;}

	.-datainput>td {padding: 8px;}
	>tbody>tr.-cancel>td {text-decoration: line-through; color: gray;}
	>tbody>tr.-cancel>td a {color: gray;}
	td .form-item {margin: 0; padding: 0;}
	&.-info>tbody>tr>td:first-child {white-space: nowrap; text-align: right;}
	&.-info>tbody>tr>td:nth-child(2) {width: 100%;}
	&.-sg-child-vertical-align-middle>tbody>tr>td {vertical-align: middle;}
}

/* widget-inlineedit */
.widget-inlineedit {
	.-for-input {
		box-sizing: border-box;
		display: block; line-height: 3.1rem; min-height: 3.2rem;
		border-bottom: 0.1rem dotted #ccc; cursor: text;
		&:hover {
			border-bottom: 1px dotted #f60;
		}
	}

	.placeholder {color: #ccc; font-style: italic; font-size: 0.9em;}
	.form-text, .form-datepicker {width: calc(100% - 16px); font-size: 1em; box-shadow: none; display: block; height: auto; margin: 0;}
	.form-select {width: 100%; padding: 5px 7px; height: 36px; font-size: 1em; border: none;}
	.form-textarea {width: calc(100% - 16px); margin: 0; padding: 6px 8px 24px 6px; font-size: 1em; border: none; box-shadow: none; background-color: #ffffcc; border-radius: 0;}

	.form-text:focus,
	.form-select:focus {border: none; border-radius: 0; box-shadow: none; background-color: transparent; padding: 0; box-shadow: none;}
	.form-textarea:focus {padding-top: 4px;}
	.form-text:hover,
	.form-select:hover {box-shadow: none;}
	.form-text:focus,
	.form-select:focus {border: none; border-radius: 0; box-shadow: none; background-color: transparent; padding: 0; box-shadow: none;}
	.form-textarea:focus {padding-top: 4px;}
	.form-text:hover,
	.form-select:hover {box-shadow: none;}

	input:invalid,
	.inline-edit-field-disable {color: blue; display: inline-block; min-width: 100px; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;}

	.inlineedit-field-disable {color: blue; display: inline-block; min-width: 100px; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;}

	form {
		display: block; margin: 0; padding: 0;
		>* {padding: 0;}
		>div {padding: 8px; margin-right: 1px; text-align: right; position: absolute; bottom: 0; right: 0;}
	}

	/* @group inlineedit-field */
	.inlineedit-field, .inline-edit-field {
		padding: 0; margin: 0; color: var(--font-color); display: inline-block; min-width: 100px; width: auto; min-height: 1.4em; vertical-align: middle;

		>label {font-weight: bold;}
		&:hover {
			.-for-input {
				border-bottom: 1px dotted #f60; cursor: text;
			}
		}
		>abbr {
			margin: 4px 0; padding: 8px; display: block; background-color: #eee; border-radius: 4px;
			>label {display: flex; align-items: center; gap: 4px;}
		}

		&.-fill {width:-moz-available !important; width: calc(100%);}
		&.-inline {padding: 0;}
		&.-active {border-bottom: 1px dotted #f60; background-color: #ffffcc;}

		&.-disabled {color: #999;}
		&.-primary {font-weight: bold; background-color: #f5f5f5; border: 1px #999 solid;}
		&.-datepicker {
			text-align: center;
			.form-text {text-align: center;}
		}
		&.-textarea {
			display: block;
			p {margin: 0 0 10px 0; padding: 0; }
			ul, ol {margin: 0 0 10px 0; padding: 0 0 0 32px;}
		}
		&.-money {
			text-align: center;
			.form-text {margin: 0; text-align: center;}
		}
		&.-numeric {
			text-align: center;
			.form-text {text-align: center;}
		}
		&.-incomplete {color: #999;}
		&.-text input:hover {border: none;}
		&.-invalid>span.-for-input  {background-color: #ffafaf !important;}

		&.-hidden {display: none;}
		&.-warning, .inline-edit-view.-warning {color: blue;}
		&.-error {
			color: red; background-color: #fdd;
			>span:hover {background-color: #ffe4e4;}
		}

		&input[type="checkbox"],
		&input[type="radio"] {min-width: 1em; vertical-align: middle; border: none; box-shadow: none;}
	}

	.inlineedit-view {
		.-for-view label {pointer-events: none;}
		&.-primary {font-weight: bold;}
		&.-fill:not(.-hidden) {display: block;}
		&.-text {display: inline-block; padding: 0px 8px;}
		&.-primary {font-weight: bold;}
		&.-fill:not(.-hidden) {display: block;}
	}

	&.-textarea {display: block;}
	&.-disabled {opacity: 0.5;}
	&.-fill {display: block;}
	&.-single-line {
		display: block; line-height: 2.5rem; height: 3.6rem; overflow: hidden; white-space: nowrap;
		>.inline-edit-field {width: 100%;}
	}
}

/* widget-column */
.widget-column {
	display: flex; flex-wrap: wrap; gap: 8px;
	>* {flex: 1 0 100%;}
	&.-sg-text-ceter>* {text-align: center;}
}

/* widget-profilephoto */
.widget-profilephoto {
	width: 32px; height: 32px; margin: 0; line-height: 32px; display: inline-block; border-radius: 50%; overflow: hidden; border: 2px #eee solid; vertical-align: middle;
	&.-size-small {width: 24px; height: 24px; display: block; }
	&.-size-big {margin: 0px auto 32px; width: 196px; height: 196px; display: block; }
}

/* widget-album */
.widget-album {
	list-style-type: none; margin: 0; padding: 0; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; width: initial !important; gap: 4px;
	>* {flex: 0 0 206px; padding: 0; position: relative; overflow: hidden; background-color: #eee;}
	>*::before {content: ""; float: left; padding-top: 100%;}
	>* .-photo {height: 100%; width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	>* .-photo.-wide {height: 100%; width: auto;}
	>* .-photo.-tall {height: auto; width: 100%;}
	>* .title {position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
	>* .widget-inlineedit.-photodetail {position: absolute; bottom: 0; left: 0; right: 0;}
	>*.-upload {background-color: transparent;}
	>*.-upload>* {position: absolute; margin: 0; padding: 0; top: 0; left: 0; right: 0; bottom: 0; text-align: center; height: auto; display: block; align-content: center;}
	>*.-upload .btn {margin: 0; padding: 0; padding-top: calc(50% - 24px); box-shadow: none; border: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 8px; background-color: var(--secondary-bg-color);}
	>*.-upload>form .btn>span {display: block; flex: 1 0 100%; padding: 0;}
	>*>a {display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	>*>.-hover {position: absolute; top: 4px; right: 4px;}
	.widget-inlineedit {position: absolute; z-index: 1; left: 0; right: 0; bottom: 0;}
}

/* widget-signin */
.widget-signin {
	max-width: 280px;
	.form-item {
		margin: 8px auto; padding: 8px;
		&.-label-in>label {margin: 2px 0 0 16px;}
		.form-text.-fill, .form-password.-fill {padding: 16px 16px 8px; border-radius: 32px; width:  calc(100% - 32px);}
	}
	.btn.-primary {padding: 16px; border-radius:  32px; box-shadow: none; justify-content: center;}
}

/* widget-signform */
.widget-signform {
	--bg-color: #fff;
	--form-max-width: 300px;
	padding: 16px; margin: 0 auto; max-width: 600px;
	background-color: var(--bg-color);
	border-radius: 8px;
	h3 {margin-bottom: 16px; font-size: 1.3em; text-align: center;}
	.widget-button {padding: 12px;}
	>.-form {
		max-width: var(--form-max-width); margin: 0 auto; padding: 0; border-radius: 8px;
		.form-item {margin-bottom: 8px; position: relative;}
		label {margin: 0; padding: 2px 8px; font-style: italic; left: 12px;}
		.form-text, .form-password {
			padding: 12px 16px 0; width: 100%; border-radius: 32px; box-sizing: border-box; height: 46px; background-color: transparent;
			height: 49px;
		}
		.form-text:hover, .form-password:hover {
			border-radius: 32px;
		}
		.form-select {border-radius: 32px; padding: 14px 24px 15px 12px; height: auto;}
		.btn.-primary {padding: 11px 0; border-radius: 32px;}
		.form-item {
			padding: 8px 0;
			>.form-group {border-radius: 32px;}
			>.form-group>*:first-child:hover {border-radius: 32px;}
			>.form-group .icon {position: absolute; right: 8px;}
		}
	}
	>.-more {max-width: var(--form-max-width); margin: 0 auto;}
	>.-info .btn {border: none;}
	>.-info .btn.-fill {max-width: 260px; margin: 32px auto;}
	>.-form>.form>.ui-action {display: block; text-align: center;}

	.g_id_signin iframe {margin: 2px auto !Important;}
	.-more {
		text-align: center;
		>* {margin: 0 0 16px 0;}
	}
	.-not-member {max-width: var(--form-max-width); margin: 32px auto;}
}

/* widget-statusbar */
.widget-statusbar {
	margin: 8px 0 32px 0 !important; padding: 0; list-style-type: none; height: 24px; border-bottom: 1px #ccc solid; display: flex; flex-wrap: nowrap; justify-content: space-between;
	>li {display: block; flex: 0 0 48px; text-align: center;}
	>li .widget-button.status {
		display: block; width: 48px; height: 48px; padding: 12px; margin: 0 auto; background-color: #eee; line-height: normal; border-radius: 50%;
		&:hover {filter: brightness(0.95);}
		&.-active {background-color: green; color: #fff; border: none; box-shadow: none;}
		&.-process-1.-active {background-color: yellow; color: #333;}
		&.-process-2.-active {background-color: orange;}
		&.-process-3.-active {background-color: magenta;}
		&.-process-4.-active {background-color: blue;}
		&.-process-5.-active {background-color: green;}
		&>.icon {color: grey;}
		&.-active>.icon {color: #fff;}
	}
}

/* widget-dashboard */
.widget-dashboard {
	--text-color: #fff;
	display: flex; flex-wrap: wrap; gap: 8px;
	>* {border-radius: 8px; padding: 8px; flex: 0 0 15rem; display: flex; flex-wrap: wrap; background-color: #ccc;}
	>*.-green {background-color: #1CB09A;}
	>*.-red {background-color: #DA534F;}
	>*.-yellow {background-color: #c3c500;}
	>*.-blue {background-color: #418BCA;}
	>*.-black {background-color: #1D2939;}
	.-title {
		min-height: 3.6rem; align-items: center; white-space: nowrap; font-size: 1.4rem;
		flex: 1 0 100%;
		display: flex; gap: 8px;
		>span {flex: 1 0 1px; color: var(--text-color);}
		.icon {color: var(--text-color);}
	}
	.-value {font-size: 2.4rem; flex: 1 0 1px; text-align: center; color: var(--text-color);}
	.-unit {font-size: 1.2rem; color: var(--text-color);}
	&.-guage>* {
		.sg-chart {width: 20rem; height: 20rem;}
	}
}

/* sg-dropbox : dropdown box on click or hover */
.widget-dropbox {
	position: relative; background-color: transparent; border: none; box-shadow: none;
	ul {margin: 0; padding: 0; list-style-type: none;}
	.ui-item a {display: block; padding: 4px 0; color: #666; white-space: nowrap;}
	.ui-item a:hover {color: #999; background-color: #f5f5f5;}
	>.-wrapper {
		display: block; max-width: 400px; padding: 11px 0 8px; display: none; position: absolute; z-index: 100; left:-10px; right: auto;
	}
	>* {
		>.-content {
			margin-top: -4px; padding: 0; opacity: 1; text-align: left; border-radius: 4px 4px 2px 2px;
			overflow: auto;
			border: 1px #D2D2D2 solid;
			background-color: #f5f5f5;
			box-shadow: 4px 4px 4px #aaa;
			>ul {padding: 0;}
			>ul>li {padding: 0;}
			>ul>li>a {padding: 4px 24px 4px 16px; white-space: nowrap; display: flex; flex-wrap: nowrap;}
			>ul>li>a>span {white-space: nowrap;}
			>ul>li>a>.icon {margin-right: 4px;}
			>ul>li>.iconset {padding: 0;}
			>ul>li>.iconset>a {padding: 0;}
			>ul>li.-sep {height: 4px; margin: 0; padding: 0;}
			>.ui-action>.ui-item.-sep {width: auto;}
		}
		>.-arrow {
			height: 8px;
			width: 12px;
			background-image: url('https://softganz.com/library/img/iconset.png');
			background-repeat: no-repeat;
			background-size: auto auto;
			background-position: -4px -1235px;
			right: auto;
			left: 10px;
			top: 1px;
			position: absolute;
			text-indent: -999em;
		}
		form {padding: 0 10px;}
	}

	>a {display: block; padding: 6px; color: #ccc; border-radius: 50%; box-shadow: none; border: none; line-height: 1;}
	>a:hover {color: #999; background-color: #eee;}

	>* {
		a.-disabled {color: #ccc;}
		a.-disabled .icon {opacity: 0.4;}
	}

	&.hover:hover>.-wrapper {display: block;}
	&.click>.-wrapper {margin-top: 4px;}
	&.-leftside {
		>.-wrapper {right: 6px; left: auto;}
		>.-wrapper>.-arrow {left: auto; right: 6px;}
	}
	&.-centerside {
		>.-wrapper {left: -80px; right: auto;}
		>.-wrapper>.-arrow {left: 50%; right: auto;}
	}
	&.-atright {position: absolute; right: 4px; top: 4px;}
}

/* @group widget-toolbar */
.widget-report {
	.report-output {
		min-height: 300px;

		>* {overflow: auto; scrollbar-width: none; /* Firefox */}
		>*::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
		>.report-output-chart {min-height: 300px;}
		>.report-output-debug {max-height: 200px; overflow: scroll;}
	}

	.-toolbar>.-metric {
		display: flex;
		margin-bottom: 8px;
		align-items: center;
		gap: 8px;
		>* {display: block;}
		.widget-row a {border-radius: 8px; color: #333; background-color: #EEEEEE;}
		.widget-row a:hover {background-color: #e6e6e6;}
		.widget-container {font-weight: bold; font-size: 120%;}
	}

	.-toolbar>.-filter {
		display: flex;
		margin-bottom: 8px;

		>* {display: block;}
		.form-item {display: flex; gap: 8px; padding: 0;}
		.form-text {padding: 0 8px; border-radius: 24px;}
		.form-select { border-radius: 24px;}
		.-text {background-color: #eee; padding: 4px; border-radius: 4px 0 0 4px; border: 1px #ddd solid; white-space: nowrap;}
		.-select {margin: 0 16px 0 0; padding: 4px; border-radius: 0 4px 4px 0; border: 1px #ddd solid; border-left: none; flex: 1; display: flex; gap: 8px;}
		.-select>.-item {display: flex; flex-wrap: wrap; flex: 1;}
		.-select>.-item>span {padding: 2px 0 2px 6px; margin: 1px 8px 1px 0; font-size: 0.85em; background-color: #eee; border-radius: 4px;}
		.toolbar-report-filter-items {flex: 1;}
	}

	.-toolbar>.-group {
		position: relative; height: 40px; margin: 0 0 9px 0; display: flex; border: 1px #ccc solid; border-bottom: 2px #dddddd solid; border-radius: 4px;

		>* {display: block;}
		.-content {padding: 8px;}

		>.group-nav {
			flex: 0 0 29px; margin: 0; padding: 0; text-align: center; font-size: 20px;z-index: 1;
			align-content: center;
			background-color: #fff;
			&.-left {border-radius: 4px 0 0 4px; border-right: 1px #dddddd solid;}
			&.-left:focus {outline: none;}
			&.-right {right: 4px; border-left: 1px #dddddd solid; border-radius: 0 4px 4px 0; position: absolute; right: 0; height: 100%;}
			&.-right:focus {outline: none;}
		}

		>ul {
			display: flex; flex-wrap: nowrap; margin: 0; padding: 0; position: relative; list-style-type: none;
			>li {
				flex: 0 0 90px; height: 100%; border-right: 1px #dddddd solid; position: relative; display: flex;  align-items: center;
				.widget-dropbox {
					height: 100%; flex: 1 0 100%; position: relative;
					abbr {display: block; padding: 4px; white-space: nowrap;}
					abbr:hover {background-color: #eee;}
					abbr abbr {padding-left: 16px;}

					label {display: block;}
					>a {display: flex; align-items: center; position: relative; border-radius: 0; white-space: nowrap;}
					>a:hover {border-radius: 0; background-color: transparent;}
					>a>span {padding: 0 24px 0 8px; color: #666; font-size: 0.9em;}
					>.icon {position: relative;}
					>.-wrapper {min-width: 20rem;}
					>.-wrapper>.-content>ul {max-height: 30rem; overflow-y: auto;}
					&.rightside>.-wrapper {left: 0;}
				}
			}
			>li:hover {border-bottom: 2px #FF7D13 solid; background-color: #eee;}
			>li.-active {border-bottom: 2px #66BD29 solid; background-color: #f5f5f5;}
			>li.-active:hover {background-color: #eee;}
		}

		>ul:has(> :last-child:nth-child(2))>li:nth-child(2) {
			flex: 1;
			font-weight: bold;
		}

		.-group-name {
			height: 100%; flex: 1; padding-right: 24px;
			>a { display: flex; align-items: center; height: 100%;padding: 0px 0 0 15px; font-size: 0.9em; background-color: transparent; color: #666; white-space: nowrap;}
			>a:hover {color: #444; border: none;}
		}

		.-check-count {
			flex: 1; position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: 0.7em; color: #bbbbbb; pointer-events: none;
			>* {display: inline-block;}
			>.-amt {padding-right: 4px;}
		}

		.nav.-footer {display: flex; justify-content: end;}
	}

	.-toolbar>.-options {
		display: flex; align-items: center; border-radius: 4px; gap: 8px; margin: 0 0 8px 0;

		.form-select {height: 22px;}
		>.-item {border-right: 1px #ccc solid; padding: 0;}
		>.-item:last-child {border-right: none;}
		>div {display: flex; background-color: #fff; border-radius: 8px; gap: 8px; padding: 8px;}
	}

	.report-output-debug {display: none;}
	.report-output-summary {width: 100%; padding: 0; overflow: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
	.report-output-summary::-webkit-scrollbar {display: none; width: 0 !important; height: 0 !important; background-color: transparent;} /* Hide scrollbar for Chrome, Safari and Opera */
}
/* @end */

/* @group widget-tabbar */
.widget-tabbar {
	div.tabs {padding: 2px; border: 1px #D3D3D3 solid; border-radius: 3px; }
	ul.tabs {
		padding: 0; margin: 0; list-style-type: none; text-align: left; background-color: transparent; border-bottom: 1px #ccc solid;
		>li { margin: 0 0 -1px 0; padding: 0; display: inline-block; border: 1px transparent solid; border-bottom: 1px #ccc solid; border-radius: 4px 4px 0 0;}
		>li>a {margin: 0; padding: 4px 10px !important; display: inline-block; color: #666; border-radius: 4px 4px 0 0;}
		>li>a:hover {background-color: #fafafa; color: #222;}
		>li.-active {border: 1px #ccc solid; border-bottom: 1px #fff solid;}
		>li.-active>a:hover {color: #222; background-color: #fafafa;}
	}

	/* @group tabs_Input */
	div.tabs_input {display: none;}
	/* @end */

}
/* @end */

.widget-listorder {
	margin: 0;
	padding: 0 0 0 24px;
}

.profile-photo {
	width: 32px; height: 32px; margin: 0; line-height: 32px; display: inline-block; border-radius: 50%; overflow: hidden; border: 2px #eee solid; vertical-align: middle;
	&.-sg-big {margin: 0px auto 32px; width: 196px; height: 196px; display: block; }
}







/* Old style widget */
/* @deprecated */

.ui-nav {
	&.-sg-text-center {text-align: left;}
	&.-sg-text-center>li {text-align: center;}
	&.-sg-text-center>li>a>.icon {margin: 0 auto; display: block;}
}

.ui-step {
	span {display: block;}
	.step-num {display: block; width: 32px; height: 32px; border: 1px #ccc solid; line-height: 32px; border-radius: 50%; margin: 0 auto 8px; font-weight: bold; background-color: #fff;}
	>.ui-item.-done .step-num {background-color: green; color: #fff; border: 1px green solid;}
}

.sg-toolbar {
	display: flex; margin: 0; padding: 0; flex-wrap: wrap; position: relative; -ms-overflow-style: none; scrollbar-width: none;
	&::-webkit-scrollbar {display: none;}
	>h2 {flex: 1 0 calc(100% - 16px); margin: 0; padding: 0 8px; height: 2.6em; font-size: 1.1em; line-height: 2.8em; overflow: hidden;}
	>nav {flex: 0 0 100%; display: flex; margin: 0; padding: 0; position: relative; max-width: 100%;}
	>nav>ul {display: flex; flex-wrap: nowrap; margin: 0; padding: 0; overflow: auto; -ms-overflow-style: none; scrollbar-width: none; -webkit-scrollbar: none; align-items: center;}
	>nav>ul::-webkit-scrollbar {display: none; width: 5px;height: 1px;}
	>nav>ul>li {text-align: center;}
	>nav>ul>li>a {display: block; padding: 4px 8px; margin: 1px 0;}
	>nav>ul>li>a:hover {background-color: #f5f5f5;}
	>nav>ul>li>a>.icon {display: block; margin: 0 auto;}
	>nav>ul>li>a>span {white-space: nowrap;}
	>nav.-is-more-nav {
		&.-is-more-nav>.ui-nav {flex-basis: calc(100% - 32px);}
		>.-more {position: absolute; right: 8px; top: 8px; overflow: visible;}
	}
}



.sg-view {
	&.-co-2 {display: flex; flex-wrap: wrap;}
	&.-co-2>.header {flex: 1 0 100%; border-bottom: 1px var(--border-color) solid;}
	&.-co-2>.detail.-sg-view {margin: 0; padding: 0;}
	&.-co-2>.-sg-view:first-of-type {flex: 1;}
	&.-co-2>.-sg-view:nth-of-type(2) {flex: 0 0 100px; border-left: 1px var(--border-color) solid; background-color: var(--card-bg-color);}
	&.-co-2>.-sg-view:nth-of-type(2)>* {display: block; margin: 0; padding: 8px; border-bottom: 1px  var(--border-color) solid; width: auto;}
	&.-co-2>.-sg-view:nth-of-type(2)>*:last-child {border-bottom: none;}
	&.-co-2>.-sg-view:nth-of-type(2)>.header {background-color: rgb(247, 249, 250);}

	header.header>.nav.-back {display: none;}
	&.-sg-view:first-of-type>header.header:first-of-type>.nav.-back {display: flex;}
}


.ui-action {
	list-style-type: none; margin: 0; padding: 0;
	&.-sep {list-style-type: none; height: 1px; padding: 2px 0;}
	&.-sep hr {height: 0; margin: 0; padding: 0; border: none; border-bottom: 1px #eee solid;}
	&.-hidden {display: none;}
}


.ui-autocomplete {
	&.ui-widget-content {margin: 4px 0 0 0; z-index: 999999; list-style-type: none; padding: 0; text-align: left;}
	.ui-menu-item {cursor: pointer;}
	.ui-menu-item {background-color: #fff;}
	.ui-menu-item:nth-child(2n+1) {background-color: #f9f9f9;}
	.ui-menu-item>a {padding: 8px; color: #666;}
	.ui-menu-item>a:hover {background-color: #eee; border: none; display: block; color: #333; font-weight: normal;}
	.ui-menu-item p {margin: 0;padding: 0; color: #999; font-size: 0.9em;}
	.ui-menu-item a.ui-state-active {padding: 8px; box-shadow: none;}
	.ui-state-active {border: none;}
	img {display: inline-block; vertical-align: top;}
	.email {display: inline-block; padding-left: 8px;}
}


.ui-card {
	list-style-type: none; width: 100%; margin: 0; padding: 0;
	>.header {flex: 0 0 100%;}
	>.header>h3 {flex: 1;}
	>.ui-item {position: relative; margin-bottom: 16px; border: 1px #efefef solid; display: block;}
	>.ui-item.-empty {margin: 0 !important
		; padding: 0 !important; border: none; height: 0 !important; overflow: hidden !important;}
	>.ui-item>h3 {padding: 8px;}
	>.ui-item>p {padding: 8px;}
	>.ui-item>.header {padding: 8px; position: relative; flex: 1 0 calc(100% - 16px); display: flex; flex-wrap: wrap;}
	>.ui-item>.header>.icon {margin-right: 8px;}
	>.ui-item>.header>span {padding: 0 8px;}
	>.ui-item>.header .profile {flex: 1;}
	>.ui-item>.header .poster-name {font-weight: bold;}
	>.ui-item>.header .timestamp {display: block;}
	>.ui-item>.header .poster-photo {margin: 0 8px 8px 0; border-radius: 50%; width: 40px; height: 40px; float: left; border: 1px #e0e0e0 solid;}
	>.ui-item>.header .nav.-header {position: absolute; top: 8px; right: 8px; display: flex;}
	>.ui-item>.header .nav.-header>ul {display: flex;}
	>.ui-item>.header .sg-dropbox>a {background-color: transparent;}
	>.ui-item>.detail {padding: 8px;}
	>.ui-item>.footer {margin: 4px 0; padding: 8px 0; font-size: 1em; font-style: normal; border-top: 1px #eee solid; text-align: left;}
	>.ui-item>.nav.-more-detail {padding: 4px; text-align: right;}

	.nav.-card {padding: 8px 0;}

	.comment {padding: 16px 0 16px 32px; border-top: 1px #eee solid;}
	.comment-box {padding: 0 16px 0 0; display: flex;}
	.comment-box .form-textarea {height: 20px; border-radius: 32px; width: 100%; padding: 10px 16px; line-height: 20px;}
	.comment .ui-item {display: flex; margin-bottom: 16px;}
	.comment .owner-photo {width: 32px; height: 32px;}
	.comment .owner-name {font-weight: bold;}
	.comment .message {display: block; padding: 8px 16px; border-radius: 16px; background-color: #f5f5f5; font-size: 0.9em;}
	.comment .message-text {margin: 0 0 0 8px;}
	.comment .message-footer {font-size: 0.8em; text-align: right; color: #666;}

	.album {margin: 0; padding: 8px; list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-between;}
	.album>li {width: 48%; margin: 0 2px 8px 2px; position: relative; position: relative;}
	.album>li>a>img {width: 100%;}
	.album .iconset {position: absolute;top: 4px; right: 4px;}
	.album .iconset .icon {border: 1px #fff solid; background-color: #fff; border-radius: 50%;}
	.album .sg-upload {margin: 0 auto; display: block;}
}



.ui-album {
	list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 4px;
	>.ui-item {flex: 0 0 206px; padding: 0; margin: 0; position: relative; overflow: hidden; background-color: #eee;}
	>.ui-item::before {content: ""; float: left; padding-top: 100%;}
	>.ui-item.-sg-128 {width: 128px; padding-top: 128px;}
	>.ui-item .photoitem {height: 100%; width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	>.ui-item .photoitem.-wide {height: 100%; width: auto;}
	>.ui-item .photoitem.-tall {height: auto; width: 100%;}
	>.ui-item .title {position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
	.widget-inlineedit.-photodetail {position: absolute; bottom: 0; left: 0; right: 0;}
	>.ui-item>.nav.-icons {position: absolute; top: 4px; right: 4px;}
	>.ui-item.-upload {
		>form {position: absolute; margin: 0; padding: 0; top: 0; left: 0; right: 0; bottom: 0; text-align: center;}
		.btn {margin: 0 auto; display: block; padding: calc(50% - 24px); background-color: transparent;}
		.btn:hover {background-color: #ddd;}
		.btn>span {display: block; width: 100%; padding: 0;}
		.icon {display: block; margin: 0 auto;}
	}
}

.ui-menu {
	width: auto; margin: 0; padding: 0; list-style-type: none;
	>.ui-item>a {padding: 6px 8px; display: block;}
	>.ui-item>a:hover {background-color: #eee;}
	>.ui-item>a>.icon {margin-right: 8px;}
	>.ui-item>h3 {background-color: #ddd; padding: 4px 8px;}
	.ui-menu {
		position: relative; margin: 0;
		>.ui-item:last-child {border-bottom: none;}
		>.ui-item>a {padding-left: 24px;}
	}
}

.ui-tag {
	margin: 0; padding: 4px 0; list-style-type: none;
	.ui-item {margin: 0 20px 10px 0; padding: 0 40px 0 16px; display: inline-block; border: 1px #ccc solid; border-radius: 12px; position: relative;}
	.ui-item .icon {border-radius: 50%;}
	.nav {position: absolute; right: 0; top: 0;}
}

.ui-tab {
	padding: 0; margin: 0; list-style-type: none; text-align: left; background-color: #fff; border-bottom: 1px #ccc solid;
	>li { margin: 0 0 -1px 0; padding: 0; display: inline-block;border: 1px transparent solid; border-bottom: 1px #ccc solid; border-radius: 2px 2px 0 0;}
	>li>a {margin: 0; padding: 4px 10px; display: inline-block; color: #666;}
	>li>a:hover {background-color: #fafafa;color: #222;}
	>li.-active {border: 1px #ccc solid; border-bottom: 1px #fff solid;}
	>li.-active>a:hover {color: #222;background-color: #fafafa;}
}


.ui-like-status {
	font-size: 0.8em;
	>.-item:nth-child(n+2)>a>span {display: none;}
	.btn.-disabled {border: none; box-shadow: none; background-color: transparent; color: #ccc; pointer-events: initial; cursor: default;}
	.btn.-disabled:hover {background-color: #eee;}
	.icon {color: #ccc;}
	.icon.-active {color: #333;}
	.icon.-green {color: green;}
	.icon.-yellow {color: #ffb200; background-color: #f60; border-radius: 50%; width: 22px; height: 22px; font-size: 22px;}
	.icon.-red {color: red;}
}


.sg-chart {
	min-height: 200px;
	h3 {font-family: Tahoma; font-size: 1em; color: #999;}
	.widget-table {color: #999;}
}



/* @group toolbar */
/* @deprecated -> use widget-report */
.toolbar.-report {
	>.-filter {display: flex; margin-bottom: 8px;}
		>.-filter>* {display: block;}
		>.-filter .form-text {padding: 0 8px;}
		>.-filter .-text {background-color: #eee;padding: 6px; border-radius: 4px 0 0 4px; border: 1px #ddd solid; white-space: nowrap;}
		>.-filter .-select {margin: 0 16px 0 0; padding: 4px; border-radius: 0 4px 4px 0; border: 1px #ddd solid; border-left: none; flex: 1; display: flex;}
		>.-filter .-select>.-item {display: flex; flex-wrap: wrap; flex: 1;}
		>.-filter .-select>.-item>span {padding: 2px 0 2px 6px; margin: 1px 8px 1px 0; font-size: 0.85em; background-color: #eee; border-radius: 4px; }

	>.-group {position: relative; height: 60px; margin: 0 0 9px 0; display: flex; border: 1px #ccc solid; border-bottom: 2px #dddddd solid; border-radius: 4px;}
		>.-group>* {display: block;}

		>.-group>.group-nav {flex: 0 0 29px; width: 29px; margin: 0; padding: 0; height: 60px; text-align: center; font-size: 20px; line-height: 60px; z-index: 1; background-color: #fff;}
		>.-group>.group-nav.-left {left: 4px; border-radius: 4px 0 0 4px; border-right: 1px #dddddd solid;}
		>.-group>.group-nav.-left:focus {outline: none;}
		>.-group>.group-nav.-right {right: 4px; border-left: 1px #dddddd solid; border-radius: 0 4px 4px 0; position: absolute; right: 0;}
		>.-group>.group-nav.-right:focus {outline: none;}
		>.-group>.group-nav .icon {margin-top: 18px;}

		>.-group>ul {height: 60px; display: flex; flex-wrap: nowrap; margin: 0; padding: 0; position: relative; list-style-type: none;}
		>.-group>ul>li {width: 90px; height: 100%; border-right: 1px #dddddd solid; position: relative; display: flex;  align-items: center;}
		>.-group>ul>li:hover {border-bottom: 2px #FF7D13 solid; background-color: #eee;}
		>.-group>ul>li.-active {border-bottom: 2px #66BD29 solid; background-color: #f5f5f5;}
		>.-group>ul>li.-active:hover {background-color: #eee;}

		>.-group .-group-name {height: 100%; flex: 1; padding-right: 24px;}
		>.-group .-group-name>a { display: flex; align-items: center; height: 100%;padding: 0px 0 0 15px; font-size: 0.9em; background-color: transparent; color: #666;}
		>.-group .-group-name>a:hover {color: #444; border: none;}

		>.-group .widget-dropbox {flex: 0 0 24px; position: absolute; top: 0; right: 0; bottom: 0;}
		>.-group .widget-dropbox>a {height: 100%; width: 24px; border-radius: 0; display: block; padding: 0; box-shadow: none; background-color: transparent;}
		>.-group .widget-dropbox>a:hover {background-color: #f3f3f3;}
		>.-group .widget-dropbox>a>.icon {position: absolute; top: calc( 50% - 12px); right: 0;}
		>.-group .widget-dropbox>.-wrapper>.-content {width: 200px; height: 240px;font-size: 0.85em; background-color: #fff;}
		>.-group .widget-dropbox.rightside>.-wrapper {left: -6px;}
		>.-group .widget-dropbox .nav {height: 24px; padding: 8px;}
		>.-group .widget-dropbox .nav a {padding: 0 8px;}
		>.-group .widget-dropbox .nav.-footer a {padding: 0 32px;}
		>.-group .widget-dropbox label {padding: 4px 0; display: flex;}
		>.-group .widget-dropbox label:hover {background-color: #eee;}

		>.-group>ul>li.-no-name .widget-dropbox.rightside>.-wrapper {left: 0;}
		>.-group>ul>li.-no-name .widget-dropbox {height: 100%; flex: 1 0 100%; position: relative;}
		>.-group>ul>li.-no-name .widget-dropbox>a {width: 100%; height: 100%; display: flex; align-items: center; position: relative;}
		>.-group>ul>li.-no-name .widget-dropbox>a>span {padding: 0 24px 0 8px; color: #666; font-size: 0.9em;}
		>.-group>ul>li.-no-name .widget-dropbox>.icon {position: relative;}

		>.-group .-checkbox {height: calc(240px - 80px); overflow: auto;}
		>.-group .-checkbox>.-level-2 {padding-left: 16px; display: block;}
		>.-group .-check-count {flex: 1; position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: 0.7em; color: #bbbbbb; pointer-events: none;}
		>.-group .-check-count>* {display: inline-block;}
		>.-group .-check-count>.-amt {padding-right: 4px;}

	>.-options {display: flex;}
		>.-options>ul {display: flex; flex: 1; list-style-type: none; margin: 0; padding: 0; align-items: center; border: 1px #ccc solid; border-radius: 4px;}
		>.-options>ul>li {border-right: 1px #ccc solid; padding: 2px;}
		>.-options>ul>li:last-child {border-right: none;}
}
/* @end */


/* @group ui-statusbar */
.ui-statusbar {
	margin: 8px 0 32px 0 !important; padding: 0; list-style-type: none; height: 24px; border-bottom: 1px #ccc solid; display: flex; flex-wrap: nowrap; justify-content: space-between;
	.ui-item {display: block; flex: 0 0 48px; text-align: center;}
	.ui-item .status {display: block; width: 48px; height: 48px; margin: 0 auto; background-color: #eee; line-height: 48px; border-radius: 50%;}
	.ui-item .status:hover {background-color: #f5f5f5;}
	.ui-item .status.-active {background-color: green; color: #fff;}
	.ui-item .status.-active:hover {background-color: #008912;}
	.ui-item .status.-process-1.-active {background-color: yellow; color: #333;}
	.ui-item .status.-process-2.-active {background-color: orange;}
	.ui-item .status.-process-3.-active {background-color: magenta;}
	.ui-item .status.-process-4.-active {background-color: blue;}
	.ui-item .status.-process-5.-active {background-color: green;}
	.ui-item .status>.icon {color: grey;}
	.ui-item .status.-active>.icon {color: #fff;}
}
/* @end */


/* JQUERY UI */
.ui-widget-content {
	.ui-button {padding: 8px 16px; border: none;}
	.ui-button .ui-button-text {background-color: transparent;}
}
.ui-dialog {
	padding: 0; z-index: 10001;
	.ui-dialog-titlebar {padding: 0; border: none;}
	.ui-dialog-titlebar-close {margin: -16px 0 0 0;}
	.ui-dialog-titlebar-close:hover {margin-top: -8px; margin-right: -2px;}
	.ui-dialog-buttonpane {margin: 16px 0; border: none;}
}
.ui-datepicker {
	.ui-datepicker-buttonpane button {border: none;}
}


/* Light Theme Color */
.widget-nav {
	&.-button-menu>ul>li>a {background-color: #999; color: #fff;}
	&.-button-menu>ul>li>a>.icon {background-color: #fff;}
	&.-button-menu>ul>li:nth-child(1)>a {background-color: #92C739;}
	&.-button-menu>ul>li:nth-child(2)>a {background-color: #11B0DE;}
	&.-button-menu>ul>li:nth-child(3)>a {background-color: #EB1A2F;}
	&.-button-menu>ul>li:nth-child(4)>a {background-color: #81308D;}
	&.-button-menu>ul>li:nth-child(5)>a {background-color: #FEA411;}
	&.-button-menu>ul>li:nth-child(6)>a {background-color: #622FCF;}
	&.-button-menu>ul>li:nth-child(7)>a {background-color: #297FB8;}
	&.-button-menu>ul>li:nth-child(8)>a {background-color: #E91668;}
	&.-button-menu>ul>li:nth-child(9)>a {background-color: #36485F;}
	&.-button-menu>ul>li:nth-child(10)>a {background-color: #12AA84;}
	&.-button-menu>ul>li:nth-child(11)>a {background-color: #9B59B3;}
	&.-button-menu>ul>li:nth-child(12)>a {background-color: #576475;}
	&.-button-menu>ul>li:nth-child(13)>a {background-color: #7E8C8D;}
	&.-button-menu>ul>li:nth-child(14)>a {background-color: #3CB04A;}
	&.-button-menu>ul>li:nth-child(15)>a {background-color: #BD1B85;}
	&.-button-menu>ul>li:nth-child(16)>a {background-color: #FD6400;}
}


@media (min-width:40em) {		/* 640/16 = 45 */
	.sg-view.-co-2>.-sg-view:nth-of-type(2) {flex: 0 0 240px;}
	.ui-like-status>.-item:nth-child(n+2)>a>span {display: initial;}
}

@media (min-width:45em) {		/* 720/16 = 45 */
	.ui-card.-flex.-sg-is-mobile {display: none;}
}




@media print {
	.inline-edit-view.-text.-fill {display: block;}

	.widget-table {
		display: table; width: 100%; padding: 2px; border: 1px #333 solid; clear: none;
		&.-no-print {display: none;}
		tr td {padding: 1.0rem; border: none; border-bottom: 1px #ccc solid; border-radius: 0;vertical-align: top;}
		thead tr th {padding: 4px 0px; border: none; border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; border-radius: 0;}
		&.-center td {text-align: center;}
		&.-cols8 td {width: 12.5%;}
		.col.-center {text-align: center;}
		.col.-money {text-align: center;}
		.col.-no {width: 1px; text-align: center; white-space: nowrap;}
		.col.-no:after {content: ".";}
		.col.-amt {text-align: center;}
		.col.-tool {text-align: center;}
		.col.-date {text-align: center; white-space: nowrap;}
		.col.-status {text-align: center;}
		.col.-poster {text-align: center;}
		.widget-table {border-left: none; border-right: none; border: none;} /* table in table */

		&.-print-border-all {
			--border-color: #000;
			border-right: 1px var(--border-color) solid;
			box-sizing: border-box;
			box-shadow: none;
			* {box-sizing: border-box;}
			>tbody>tr>td {padding: 4px; border: 1px var(--border-color) solid;}
			>thead>tr>th {border: 1px var(--border-color) solid;}
			>tfoot>tr>td {border: 1px var(--border-color) solid;}
		}
	}
}