/* Group widget Label */
.label-size {padding-right:0.8em;line-height:16pt;}
.label-size-1 {font-size:100%;}
.label-size-2 {font-size:115%;}
.label-size-3 {font-size:130%;}
.label-size-4 {font-size:145%;}
.label-size-5 {font-size:160%;}
/* @end */

