.module-set {font-family: Arial; font-size:0.7em;}
.module-set #secondary {display: none;}
.module-set #footer-wrapper {display: none;}
.module-set #ribbon-toolbar {display:none;}
.module-set #main {margin:0;}
.module-set .page.-content { position: relative;}
.module-set #cse-search-box {display: none;}
.module-set .postdate {font-weight: bold;}
.module-set h2.title {display:none;}
.module-set .package-footer {position: fixed; right:0; bottom:0;}

.module-set .app-sidebar {width: auto; margin: 0; padding:0; position: relative; float: none; border: none; background: transparent;}
.module-set #app-output {width: auto; float: none; clear: both; background: transparent;}


#app-sidebar-menu>ul {list-style-type: none; margin:0; padding: 0;background:#008000; clear:both;}
#app-sidebar-menu>ul>li {display: inline-block;}
#app-sidebar-menu>ul>li>a {margin:0 1px 1px 0; padding: 8px 12px; display: block; background:#008000; color: #fff; border-right: 1px #66B36E solid;}
#app-sidebar-menu>ul>li:last-child>a {border-right: none;}
#app-sidebar-menu>ul>li>a:hover {color: #eee;}

#app-sidebar-content {height:0; display: none; overflow: hidden;}
#app-sidebar-content ul {list-style-type: none; margin: 0; padding: 0;}
#app-sidebar-content ul li {display: inline-block; margin:0; position: relative;}
#app-sidebar-content ul li>a {margin:0; padding:4px; display: block; background:#ddd;}
.app-sidebar ul>li>span {width:18px; height:18px; display: inline-block; position: absolute; top:0; right:0; background:#fff; font-size:10px; line-height:14px; text-align: center;}
.app-sidebar ul>li>span>a>i {width:16px; height:16px; font-style: normal; display: block; background:#ccc; border:1px #fff solid;}
#app-sidebar-content i {font-style: normal;}

/* @set display */
#set-nav ul {list-style-type:none;margin:0;padding:0; border:none; background: transparent;}
#set-nav ul li {display:inline-block;}
#set-nav ul li>a {padding:5px 5px;display:block;}

.set-title {height: 30px; margin:0; padding: 0; width: 50%; float: left; line-height: 30px;}
.set-search {height:30px; width:50%; margin:0; float: right;}
.set-search .search-box {margin:0 0 5px 0; padding:0;width:100%}
.set-search .form-text {border-radius: 0; width: 98.00%; display: block;}

#set-refresh {margin:0; padding:10px; position:fixed; top:6px; right:4px; z-index:1000; background: #4888E9; color: #fff; border: none; line-height: 16px; box-shadow: none;}

.set-card>tbody>tr>td {text-align: center;}
.set-card>tfoot>tr>td {text-align: center; font-weight: bold;background: #DDDDDD;}

.set-symbol-high {display:block; color:green;}
.set-symbol-open {display:block;color:#FFA81E;}
.set-symbol-low {display:block; color:red;}

.set-symbol-list-price {font-size:0.95em;margin:0; padding: 0;}
.set-symbol-list-price>caption {font-weight: normal;}
.set-symbol-list-price>caption>span {display: block; float: left; line-height: 16px;}
.set-symbol-list-price>caption>span:first-child {width: 42%;}
.set-symbol-list-price>caption>span:nth-child(2) {width: 58%; font-size: 0.9em;}
.set-symbol-list-price>thead>tr>th {font-size:0.95em; font-weight: normal;}
.set-symbol-list-price>tbody>tr>td {padding:4px 0;vertical-align: middle;}
.set-symbol-list-price>tbody>tr>td:first-child {font-weight: normal; font-size:1.2em;}
.set-symbol-list-price>tbody>tr>td>span {display:block; font-size: 0.75em;}
.set-symbol-list-price>tbody>tr>th {font-weight:bold; background:green; text-align: left;color:#fff; font-size: 1.2em;}
.set-symbol-list-price>tbody>tr>th>span {font-weight: normal; font-size:0.9em; color: #fff;}
.set-symbol-list-price>tbody>tr>td:first-child>span {font-size:0.6em;}
.set-symbol-list-price>tbody>tr.subtotal>td {background:#ccc;}
.set-symbol-list-price>tbody>tr.subtotal>td>span {font-size:1.0em;}
.set-symbol-list-price>tfoot>tr>td {text-align: right; font-weight: normal; font-size: 1.1em; background: #DDDDDD;}

.set-symbol-list-price.active>tbody>tr>td:nth-child(n+2) {text-align: right;}
.set-symbol-list-price.active>tbody>tr>td:nth-child(n+4) {font-weight: normal; font-size:1.1em;}
.set-symbol-list-price.active>tbody>tr>td:nth-child(n+8) {font-weight: normal; font-size: 1em;}
.set-symbol-list-price.active>tbody>tr>td.open {line-height:0.9em;}
.set-symbol-list-price.active>tbody>tr>td.volume {font-size:0.9em;}
.set-symbol-list-price.active>tbody>tr>td.cost {background:#D2FFC1;}
.set-symbol-list-price.active>tbody>tr>td.last {background:#FFD6FC;}
.set-symbol-list-price.active>tbody>tr>td.change {text-align: center;}
.set-symbol-list-price.active>tbody>tr>td.margin,
.set-symbol-list-price.active>tbody>tr>td.margin-all {background:#CCC;}
.set-symbol-list-price.active>tbody>tr.subtotal>td:nth-child(n+4) {font-size: 0.95em;}

.set-symbol-list-price.-closed>tbody>tr>td:nth-child(n+2) {text-align: right;}
.set-symbol-list-price.-closed>tbody>tr>td {}
.set-symbol-list-price.-closed>thead>tr>th {}
.set-symbol-list-price.-closed>tbody>tr>td:nth-child(8) {background:#D2FFC1;}
.set-symbol-list-price.-closed span {display: block;}

.set-symbol-list-price i {font-style: normal;}

.set-symbol-list-price>li {width: 48%; margin:0 1% 20px; display: block; float:left; position: relative; background: #fff; box-shadow: 2px 2px 5px #aaa;}

.set-symbol-list-price>li>h3 {margin:0; padding:8px 4px; font-family: Tahoma; font-size: 1.4em; line-height: 1.6em; color: #8900D3;}
.set-symbol-list-price>li>h3>a {color:#8900D3;}
.set-symbol-list-price>li>h3>span {color:#333; font-size:10px;display: block; line-height: .8em; position: absolute;z-index:1; white-space: nowrap;}
.set-symbol-list-price>li>h3.set-buy-alert {background: blue; color: #fff;}
.set-symbol-list-price>li>h3.set-buy-alert>a {color: #fff;}

.set-symbol-list-price>li>div>p {margin:0; padding:0; font-size: 2em;}
.set-symbol-list-price>li>div>p>span {font-size: .5em; display: block;}

.set-symbol-list-price-last {padding:4px; font-size: 1.2em; line-height: 1.4em;}
.set-symbol-list-price-last>p:first-child>span {display: none;}
.set-symbol-list-price-last>p:nth-child(2) {font-size:1.4em;}
.set-symbol-list-price-last>p:nth-child(2)>span {font-size:.6em;}

.set-symbol-list-price-cost {padding:4px; clear: both;}
.set-symbol-list-price-cost>div {width:33%; display: block; float: left; overflow: hidden; text-align: center;}
.set-symbol-list-price-cost>div>h4 {margin:0; padding:0; color:#f60;}
.set-symbol-list-price-cost>div>strong {display: block;}
.set-symbol-list-price-cost>div>span {display: block;}

.set-symbol-list-price-price {padding:4px; font-size: .85em; line-height: 1.2em;}
.set-symbol-list-price-price>ul {list-style-type: none; margin:0; padding: 0;}
.set-symbol-list-price-price>ul>li>span {width:50%; display: inline-block;}

.set-port-list>tbody>tr>td:nth-child(n+2) {text-align: right;}
.set-port-list>tbody>tr>td:nth-child(n+7) {}
.set-port-list>tfoot>tr>td {text-align: right; font-weight: bold;}
.set-port-list>tbody>tr>th {font-weight:bold; background:green; text-align: left;color:#fff; font-size: 1.2em;}
.set-port-list>tbody>tr.subtotal>td {background:#ccc;}

.-set-up, .-set-up a {color: green;}
.-set-normal, .-set-normal a {color: #FFA81E;}
.-set-down, .-set-down a {color: red;}
.-set-notchange {}

.set-day-nav {background: #eee; padding: 4px 10px; border-radius: 4px; margin: 0 4px;}

.set-symbol-list-price>tbody>tr>th {position: relative;}
.set-symbol-list-price>tbody>tr>th .set-index {position: absolute;right:4px; top:9px; color:#fff;}
.set-symbol-list-price>tbody>tr>th .set-index a {padding:6px 8px; background-color: #fff; color:#333; border-radius: 4px;opacity: 0.8;}

.set-chart {width:100%; height:710px; border:none; overflow-y: auto;}
.set-chart-iframe {width:100%; height:100%;}
.set-symbol-info {width:100%;height:3500px;border:none;}

#set-note-post {margin:0 0 10px 0; padding:0; background: #fff; box-shadow: 2px 2px 2px #aaa;}
#set-note-post label {display: none;}
#set-note-post textarea {margin:0 auto; padding:0; border:none; width:100%; display: block; }
#set-note-post .form-item {margin:0; padding:0; border-bottom: 1px #E9EAED solid;}
#set-note-post .form-item:nth-child(2) {padding:3px 3px 3px 0;background: #F6F7F8;}
#set-note-post button {margin:0 0 0 auto; font-weight: bold; display: block; position: relative; right:0;}

.set-note-items {font-size: 1.00em; line-height: 1.40em;}
.set-note-items .timestamp {font-size: 1em; font-weight: bold; color: #000;}
.set-note-items p {margin:0; padding:0;}
.set-note-items strong {color:#EF0B00; font-weight: normal;}
.set-note-items>div {margin:0 0 8px 0; padding: 3px; background: #fff; box-shadow: 1px 1px 2px #aaa;}

.edit-set .form-item {width: 45%; margin:0 2.5% 10px 2.5%; float: left; text-align: center;}
.edit-set .form-text, .edit-set .form-select {width:99%; text-align:center; border-radius: 0;}
.edit-set .form-item.-edit-set-submit {width: 100%; clear: both;}

/* hide for <480 pixel */
table.set-symbol-list-price {font-size: .80em; clear:both;}
.set-symbol-list-price.active th:nth-child(2),
.set-symbol-list-price.active th:nth-child(9),
.set-symbol-list-price.active th:nth-child(10),
.set-symbol-list-price.active th:nth-child(11),
.set-symbol-list-price.active th:nth-child(12),
.set-symbol-list-price.active td:nth-child(2),
.set-symbol-list-price.active td:nth-child(9),
.set-symbol-list-price.active td:nth-child(10),
.set-symbol-list-price.active td:nth-child(11),
.set-symbol-list-price.active td:nth-child(12),
.set-symbol-list-price.active td:nth-child(14)
 {display:none;}

.set-symbol-list-price.closed th:nth-child(2),
.set-symbol-list-price.closed th:nth-child(12),
.set-symbol-list-price.closed th:nth-child(13),
.set-symbol-list-price.closed th:nth-child(14),
.set-symbol-list-price.closed th:nth-child(15),
.set-symbol-list-price.closed td:nth-child(2),
.set-symbol-list-price.closed td:nth-child(12),
.set-symbol-list-price.closed td:nth-child(13),
.set-symbol-list-price.closed td:nth-child(14),
.set-symbol-list-price.closed td:nth-child(15)
 {display:none;}

#set-cal-cost .form-text {text-align: center}

.set-symbol-card {margin:0; padding:0;}
.set-symbol-card>li {display: block; float: left;}
.set-symbol-card>li {width: 98%; margin:0 1% 10px; display: block; float:left; position: relative; background: #fff; box-shadow: 2px 2px 5px #aaa;}
.set-symbol-card h3 {margin:0; padding:2px; font-size: 1.2em;}
.set-symbol-card .set-symbol-list-price-last {margin:0; padding:0 2px; font-size: 1em;}
.set-symbol-card>li>h3.set-buy-alert {background: blue; color: #fff;}
.set-symbol-card>li>h3.set-buy-alert>a {color: #fff;}

.set-price-monitor>li>h3.set-buy-alert {font-family:Tahoma; font-size: 0.8em; background: #9999FF;}
.set-price-monitor>li>h3.set-buy-alert>a {color: #333;}
.set-price-monitor>li>h3>span {color: #333; font-size:0.9em;}
.set-price-monitor>li {width: 31.333333%; height:22px; margin-bottom:4px; overflow: hidden;}
.set-price-monitor .set-symbol-list-price-last {width:50%; position:absolute; top:2px; right:0; font-size: .75em; text-align: right; line-height: 1em;}
.set-price-monitor img {width:40px; height: 100%; position: absolute; top:0; right:0;}

#set-info .set-symbol-side {max-height: 200px; margin:0 10px; overflow: auto;}
#set-info .set-chart {width: 100%; margin:0 auto;}

.set-symbol-list-price tr {position: relative;}
.set-symbol-percent--cost {height:2px;background: #999; position:absolute; bottom:0; font-size: 6px; line-height: 8px; color:#333; overflow: hidden; opacity: 1;}
.set-symbol-percent--margin {height:2px;background: green; position:absolute; bottom:0; font-size: 6px; line-height: 8px; color:#333; overflow: hidden; opacity: .5;}
.set-symbol-percent--margin.minus {background: red;}
/* @end of set display */


@media (min-width:22.5em) {    /* 360/16 = 22.5 */
	.set-price-monitor>li {width: 23%;}
}

@media (min-width:25em) {    /* 400/16 = 25 */
	table.set-symbol-list-price {font-size: 0.90em;}
	table.set-symbol-list-price.closed {font-size: 1.0em;}
}

@media (min-width:30em) {    /* 480/16 = 30 */
	.module-set .app-sidebar {width: 130px;  margin:0; position: fixed; height: 90%; overflow: auto;}
	.module-set #app-output {clear: none; margin-left: 140px; position: relative;z-index: 1; background: #EFEFEF;}

	.set-title {width: 100%; float:none;}
	.set-search {width:95%; margin:0 auto; float: none;}

	#app-sidebar-menu>ul>li {display: block;}
	#app-sidebar-menu>ul>li>a {margin:0 1px 1px 0; padding: 8px 12px; display: block; background:#008000; color: #fff; border:none; border-bottom: 1px #66B36E solid;}
	#app-sidebar-menu>ul>li:last-child>a {border-right: none;}
	#app-sidebar-content {height:auto; display: block; overflow: auto;}
	#app-sidebar-content ul li {display: block;border-bottom: 1px transparent solid}

	.set-symbol-list-price-price {width: 50%; position: absolute; top:0; right:0;}
	table.set-symbol-list-price {font-size: .8em;}
	.set-symbol-list-price.active th:nth-child(n),
	.set-symbol-list-price.active td:nth-child(n) {display:table-cell;}
	.set-symbol-list-price.closed th:nth-child(n),
	.set-symbol-list-price.closed td:nth-child(n) {display:table-cell;}
}

@media (min-width:34) {    /* iPhone landscape 550/16 = 34.375 */

}

@media (min-width:40em) {    /* Tablet 640/16 = 40 */
	#set-nav ul>li:nth-child(6) {display:inline-block;}
	table.set-symbol-list-price {font-size: .85em;}
	.set-symbol-list-price>li {width: 31%;}
	.set-price-monitor>li {width: 14.666666%;}
}

@media (min-width:48em) {    /* iPad 768/16 = 48 */
	#set-myport {height:40%;}
	#set-wishlist {height:60%; }
	#set-wishlist h3 {height: 20px; overflow:hidden;}
	#set-wishlist-items {height:80%; overflow: auto;}

	.edit-set .form-item {width: 20%; margin:0 2.5% 10px 2.5%;}
	table.set-symbol-list-price {font-size: .85em;}

	/*
	ul.set-price-monitor {width:20%; float:right;}
	table.set-symbol-list-price {width: 80%; display: block; float:left; clear:none;}
	*/
}

@media (min-width:50em) {    /* 800/16 = 50 */
	table.set-symbol-list-price {font-size: .95em;}
}

@media (min-width:61.25em) {    /* 980/16 = 61.25 */
	.set-symbol-list-price>li {width: 18%;}
	.set-price-monitor>li {width: 11.5%; margin-left: 0%; margin-right: 1.0%;}
	#set-info .set-symbol-side {display: block; padding:0 0 0 .5%;max-height: 700px;}
	#set-info .set-chart {width: 72%; float: left;}
}

@media (min-width:64em) {    /* 1024/16 = 64 */
}