<!-- <div class="form-info"><p align="center" style="margin:0;padding:5px; border-bottom:1px #666 solid;">สำหรับเจ้าหน้าที่ สปสช.</p><p style="padding:0 5px;">รหัสโครงการ : {$prid}</p><p style="padding:0 5px;">วันที่ :  <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>25&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p></div> -->

<div id="owner">

	<h2 class="title">แบบฟอร์มพัฒนาโครงการ {$orgname}</h2>

	<div class="box -title">
	<h3>1. ชื่อโครงการ/กิจกรรม</h3>
	<em class="noprint">ควรสั้น กระชับ เข้าใจง่าย และสื่อสาระของสิ่งที่จะทำอย่างชัดเจน ควรจะระบุชื่อชุมชนในชื่อโครงการเพื่อความสะดวกในการค้นหา</em>
	<p><label class="hots">ชื่อโครงการ</label><span class="{$datainput} -fill" onclick="" data-group="topic" data-fld="title" data-type="text" data-test="HELLO"></span></p>

	<p class="-hidden"><b><label>ชื่อกองทุน</label> <span>{$orgname}</span></b></p>
	<p><label class="hots">ชื่อองค์กร/หน่วยงานเสนอโครงการ</label><span class="{$datainput} -fill" onclick="" data-group="dev" data-fld="orgnamedo" data-type="text"></span></p>
	<p><label class="hots">ชื่อกลุ่มคน (5 คน)</label><span class="{$datainput} -fill" onclick="" data-fld="owner-name-all" data-type="textarea"></span></p>
	<p><label>พื้นที่ดำเนินการ</label>
		<span class="{$datainput} -fill" onclick="" data-group="dev" data-fld="area" data-type="text"></span></p>
	</div><!-- box -->

</div><!-- owner -->



<div id="detail">

	<div class="box -title">
	<h3>2. ความสอดคล้องกับแผนงาน</h3>
	<div class="widget issue" id="project-develop-issue" data-url="project/develop/issue" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>
	</div><!-- box -->

	<div class="box -problem">
	<h3>3. สถานการณ์</h3>
	<div class="widget problem" id="project-develop-problem" data-url="project/develop/problem" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>
	<p><span class="{$datainput} -fill" data-fld="project-problem" data-type="textarea" onclick="" ></span></p>
	<em class="{$hidden} -noprint">ระบุสถานการณ์ หลักการและเหตุผล หรือ ที่มาของการทำโครงการ เพิ่มเติม</em>
	</div>

	<div class="box -objective">
	<h3>4. วัตถุประสงค์และตัวชี้วัด</h3>
	<em>
	<ul>
	<li>บอกจุดมุ่งหมายในการดำเนินงานโครงการ และสิ่งที่ต้องการให้เกิดผลจากการดำเนินงานโครงการ  วัตถุประสงค์นี้จะต้อง <strong>เฉพาะเจาะจง วัดได้จริง แสดงโอกาสที่จะเกิดผลสำเร็จ สอดคล้องกับหลักการและเหตุผล ในระยะเวลาที่กำหนด</strong></li>
	<li><strong>ตัวชี้วัด</strong> ให้ระบุความชัดเจนว่า เมื่อดำเนินการตามโครงการเสร็จแล้ว จะเกิดการเปลี่ยนแปลงหรือบรรลุผลสำเร็จอะไรบ้างและมากน้อยเพียงใด  และควรแสดงให้เห็นถึงการเปลี่ยนแปลงเป็นรูปธรรมวัดผลได้ และระบุตัวชี้วัดความสำเร็จของโครงการทั้งในระดับผลผลิตและผลลัพธ์ที่สอดคล้องกับวัตถุประสงค์</li>
	</ul>
	</em>
	<div class="widget objective-tree" id="project-develop-objective" data-url="project/develop/objective" data-para-id="{$tpid}" data-para-action="{$para-action}""></div>

	<p><span class="{$datainput} -fill -disabled" data-fld="project-objective" data-type="textarea" onclick=""></span></p>
	</div><!-- box -->



	<div class="box -target">
	<h3>5. กลุ่มเป้าหมาย</h3>
	<div class="widget target" id="project-develop-target" data-url="project/develop/target" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>
	</div><!-- box -->


	<div class="box -perioddate">
	<h3>6. ระยะเวลาดำเนินงาน</h3>
	<p>วันเริ่มต้น <span class="{$datainput} w-2 -datepicker" onclick="" data-group="dev" data-fld="date_from" data-type="datepicker" data-ret="date:d/m/Y"></span></p>
	<p>กำหนดเสร็จ <span class="{$datainput} w-2 -datepicker" onclick="" data-group="dev" data-fld="date_end" data-type="datepicker" data-ret="date:d/m/Y"></span></p>
	</div><!-- box -->


	<div class="box -process">
	<h3>7. วิธีการดำเนินงาน</h3>
	<em><ul><li><strong>กิจกรรม</strong> แสดงขั้นตอนการทำกิจกรรมและกระบวนการดำเนินงาน เขียนให้ละเอียดว่าจะทำอะไร อย่างไร จึงจะสำเร็จตามวัตถุประสงค์หรือเป้าหมายที่วางไว้ เขียนให้เห็นลำดับเป็นขั้นเป็นตอน</li><li><strong>งบประมาณ</strong> ในแต่ละกิจกรรม ขอให้จำแนกรายการค่าใช้จ่ายต่างๆ โดยละเอียด</li></ul></em>
	<p><span class="" onclick="" data-fld="project-process"></span></p>
	<nav class="nav -sg-text-right"><a class="sg-action btn" href="{url:project/proposal/{$tpid}/info.howto}" data-rel="box"><i class="icon -material">assistant</i><span>วิธีการสำคัญของแผนงาน</span></a></nav>
	<div class="widget plan-tree" id="project-develop-plan" data-url="project/develop/plan/single" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>
	<p><b>หมายเหตุ :</b><br />
	<span class="{$datainput} w-10" onclick="" data-fld="budget-remark" data-type="textarea"></span></p>

	</div><!-- box -->

	<!--
	<div class="box -budget">
	<h3>8. งบประมาณโครงการ</h3>
	<p>จำนวนงบประมาณที่ต้องการสนับสนุน จำนวน <span class="{$datainput} numeric w-2" onclick="" data-group="dev" data-fld="budget" data-ret="numeric"></span> บาท</p>
	</div>
	--><!-- box -->

	<div class="box -budget">
	<h3>8. ผลการดำเนินงานที่คาดหวัง</h3>
	<em>ผลจากการดำเนินโครงการท่านคาดว่าจะเกิดการเปลี่ยนแปลงอย่างไร?</em>
	<p><span class="{$datainput} w-10" onclick="" data-fld="conversion-human" data-type="textarea"></span></p>
	</div><!-- box -->

	<hr class="pagebreak" />


</div><!-- detail -->







<nav class="nav -noprint"><a class="btn" href="#owner"><i class="icon -material">publish</i><br /><span>Goto Top</span></a> <a class="btn" href="#detail"><i class="icon -material">publish</i><br /><span>Goto Detail</span></a></nav>

<a class="button--expand noprint" href="#">&gt;</a>

<style type="text/css">
/*
table {border-left: 2px gray solid; border-top: 2px gray solid;}
table th {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: middle;}
table td {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: top;}
*/
.button--expand {position: fixed; top:0; right:270px; display: block;width: 40px;height: 39px;background: #000; color:#fff;opacity:.5;font-size: 40px;line-height: 32px;text-align: center;z-index: 9999;
display:none;
}

.box {margin:16px 0; padding: 4px 8px; box-shadow: 2px 2px 2px #aaa; border-top:1px #ddd solid;border-left:1px #ddd solid;}
.numeric, .inline-edit-field.numeric input {text-align: center;}
p.L1 {margin-left: 1em; margin-bottom:10px;}
p.L2 {margin-left: 2em;margin-bottom:10px;}
p.L3 {margin-left: 3em;margin-bottom:10px;}
hr.pagebreak {height:1px; background: transparent; border:none; display: none;}
label.hots {font-weight: bold; display: block;}
span.explan {color:#666;}

.module-project .page.-main h2.title {text-align: center; margin: 16px 0; background-color: #ccc;}

#objective-indicators td:first-child {text-align: center;}
#objective-indicators td {padding:0;}
#objective-indicators p {margin:0;}

.item.-problem>tbody>tr>td {vertical-align: top;}
.item.-problem>tbody>tr>td:nth-child(n+2) {text-align: center;}

.problemweight {display: inline-block; margin: 0 2px;}
.problemweight>input {display: block;}


span[data-type="textarea"] {border-top:1px #eaeaea solid;border-left:1px #eee solid;border-right:1px #eaeaea solid;}

table.project-mainact-items {margin:20px 0;}
.project-mainact-items>tbody>tr>td:nth-child(1) {width:10em;}
.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
.project-mainact-items>tbody>tr>td:nth-child(3) {width:20em;}
.project-mainact-items>tbody>tr>td:nth-child(4) {width:12px;text-align: center;}


.button--addtoobj {width: 100%;display: block;padding: 2px 0;margin: 0 0 40px 0; text-align: center;}

.project-report-item {background: #fff; border:1px #ddd solid; box-shadow: none;}

@media (min-width:48em) { /* 768/16 = 48 iPad */
	body#project {margin-right:320px;
		margin-right:0;
	}
	.box {margin-right:3px;}
	#comment {padding:0 10px; position: fixed; top:0px; right:0; bottom:0; width:300px; right:0; background: #fff; height:100%; overflow: auto; z-index:1;}
	#comment h2 {padding:8px 0;font-size:1.6em;background: #058DC7; color:#fff;}
	#comment h3 {font-size:1.4em;}
	#comment .box {background: #f0f0f0;}
	#comment button {margin:0 0 20px 10px; padding: 4px 10px;}
	#comment .form-item {text-align: right;}
	.sg-dropbox>div {right:10px;}
}


{$css-print}
	body {margin: 0 0 0 5mm; font: 14pt/14pt "AngsanaUPC", "Angsana New", "TH Sarabun New", Tahoma, Arial, Verdana, sans-serif; color: #000}
	h1 {display:none;}
	h2 {text-align: center;}
	h5 {font-size: 1em; margin:1em 0 0 0; }
	h6 {font-size: 1em; margin:1em 0 0 0; }
	p {margin:0; padding:0;}
	.noprint {display: none;}
	hr.pagebreak {display: block;}
	.module-project .box {margin:0; padding:0; box-shadow: none; border:none;}

	.module-project .box h2,
	.module-project .box h3,
	.module-project .box h4,
	.module-project .box h5,
	.module-project .box h6 {
		margin: 5px 5px 0 0;
		padding: 0;
		font: 14pt/14pt "AngsanaUPC","Angsana New","TH Sarabun New", Tahoma, Arial, Verdana, sans-serif;
		border:none;
		background: #fff;
		color: #000;
		font-weight: bold;
	}

	.inline-edit-field {color:#000; display:inline-block; min-width:auto; min-height: auto; border-bottom: none; vertical-align: top;}
	.inline-edit-field.w-1 {min-width:auto;}
	.inline-edit-field.w-2 {min-width:auto;}
	.inline-edit-field.w-3 {min-width:auto;}
	.inline-edit-field.w-4 {min-width:auto;}
	.inline-edit-field.w-5 {min-width:auto;}
	.inline-edit-field.w-6 {min-width:auto;}
	.inline-edit-field.w-7 {min-width:auto;}
	.inline-edit-field.w-8 {min-width:auto;}
	.inline-edit-field.w-9 {min-width:auto;}
	.inline-edit-field.w-10 {min-width:auto;}


	table {margin: 20px 0; font-size: 14pt;}
	table p, #objective-indicators p {margin:0; padding: 0;}
	p.L1 {margin-left: 1cm; margin-bottom:10px;}
	p.L2 {margin-left: 2cm;margin-bottom:10px;}
	p.L3 {margin-left: 3cm;margin-bottom:10px;}
	input[type="checkbox"] {margin:0; padding:0; display:inline-block; vertical-align: middle;}
	span[data-type="textarea"] {border:none;}

	.project-mainact-items>tbody>tr>td:nth-child(1) {width:5em;}
	.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
	.project-mainact-items>tbody>tr>td:nth-child(3) {width:10em;}

	.project-mainact-items>thead>tr>th:nth-child(4) {display: none;}
	.project-mainact-items>tbody>tr>td:nth-child(4) {display: none;}
	.project-mainact-items>tfoot>tr>td:nth-child(4) {display: none;}

	table.item {border:none;}
	table.item tr td {border:none}
	table.item thead tr th {border:none;}

	table.project-develop-exp {border: none;}
	table.project-develop-exp>tbody>tr>td {border:none;}
	.project-develop-exp>thead>tr>th:nth-child(6) {display: none;}
	.project-develop-exp>tbody>tr>td:nth-child(6) {display: none;}
	.project-develop-exp>tfoot>tr>td:nth-child(6) {display: none;}


	@page port { size: portrait; }
	.portrait { page: port; }

	@page land { size: landscape; }
	body {margin:0;padding:0;}
	.landscape { page: land; }

	.landscape {
		width: 100%;
		height: 100%;
		font-size:12pt;
		-webkit-transform: rotate(-90deg);
		-moz-transform:rotate(-90deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

	@media (min-width:48em) { /* 768/16 = 48 iPad */
		body#project {margin-right:0;}
		#comment {padding:0; position: relative; top:0px; right:0; bottom:0; width:auto; right:0; background: #fff; height:auto; overflow: auto; z-index:1;}
	}
{$css-print-end}


</style>