<div class="form-info -hidden"><p align="center" style="margin:0;padding:5px; border-bottom:1px #666 solid;">สำหรับเจ้าหน้าที่ สสส.</p><p style="padding:0 5px;">รหัสโครงการ : {$prid}</p><p style="padding:0 5px;">วันที่ :  <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>25&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p></div>

<div id="project-develop-owner" class="container">
<h2>แบบเสนอโครงการ Physical Activity</h2>

<h3>1. ชื่อโครงการ<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
<p><label class="hots">ชื่อโครงการ (ภาษาไทย)</label><span class="{$datainput} -fill -primary" data-group="topic" data-fld="title"></span></p>
<p><label class="hots">ชื่อโครงการ (ภาษาอังกฤษ ถ้ามี)</label><span class="{$datainput} -fill -primary" data-fld="title-EN"></span></p>
<em class="noprint">ควรสั้น กระชับ เข้าใจง่าย และสื่อสาระของสิ่งที่จะทำอย่างชัดเจน ควรจะระบุชื่อชุมชนในชื่อโครงการเพื่อความสะดวกในการค้นหา</em>
</div>



<h3>2. ประเภทโครงการ<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
<p>
<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการใหม่" /> เป็นโครงการใหม่</label></abbr>
<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการต่อเนื่อง" /> เป็นโครงการต่อเนื่อง</label></abbr>
</p>
<p><em>
**  โครงการใหม่  หมายถึง เป็นโครงการที่ยังไม่เคยได้รับทุนสนับสนุนจาก สสส.<br />
**  โครงการต่อเนื่อง หมายถึง เป็นโครงการต่อเนื่องจากโครงการที่เคยได้รับทุนจาก สสส.
</em>
</p>
</div>

<a name="ownername" id="ownername"></a>
<h3>3. องค์กร/คณะบุคคล ที่เสนอโครงการ (กรณีขอทุนในนามองค์กร/คณะบุคคล)<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>

	<div class="box">
	<h4>1. ชื่อองค์กร/คณะบุคคล</h4>

	<p><label>ชื่อองค์กร</label> <span class="{$datainput} w-9" data-fld="org-name"></span></p>
	<p><label>หมายเลขผู้เสียภาษี</label> <span class="{$datainput} w-3" data-fld="org-taxid"></span><br />
	<p>
	<label>ที่ตั้งองค์กร</label> <span class="{$datainput} w-1" data-fld="org-address"></span>
	<label>หมู่ที่</label> <span class="{$datainput} w-1" data-fld="org-moo"></span>
	<label>ตรอก/ซอย</label> <span class="{$datainput} w-2" data-fld="org-soi"></span>
	<label>ถนน</label> <span class="{$datainput} w-2" data-fld="org-road"></span>
	<label>ตำบล/แขวง</label> <span class="{$datainput} w-2" data-fld="org-tambon"></span>
	<label>อำเภอ/เขต</label> <span class="{$datainput} w-2" data-fld="org-ampur"></span>
	<label>จังหวัด</label> <span class="{$datainput} w-2" data-fld="org-changwat"></span>
	<label>รหัสไปรษณีย์</label> <span class="{$datainput} w-1" data-fld="org-zip"></span>
	</p>

	<p>
	<label>โทรศัพท์</label> <span class="{$datainput} w-1" data-fld="org-phone"></span>
	<label>โทรศัพท์เคลื่อนที่</label> <span class="{$datainput} w-1" data-fld="org-mobile"></span>
	<label>โทรสาร</label> <span class="{$datainput} w-1" data-fld="org-fax"></span>
	<label>อีเมล์</label> <span class="{$datainput} w-2" data-fld="org-email"></span>
	</p>
	</div>

<a name="teamname" id="teamname"></a>
<h3>4. ผู้รับผิดชอบโครงการ<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>

	<div>
	<div class="box">
	<h4>1. ชื่อ-นามสกุลผู้รับผิดชอบโครงการ</h4>

	<p>คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="owner-prename"></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="owner-name"></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="owner-lastname"></span></p>

	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="owner-cid"></span></p>

	<p><label><b>สถานที่ทำงาน</b></label><span class="{$datainput} -fill" data-fld="owner-workorg"></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="owner-address"></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="owner-moo"></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="owner-soi"></span>
	ถนน <span class="{$datainput} w-2" data-fld="owner-road"></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="owner-tambon"></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="owner-ampur"></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="owner-changwat"></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="owner-zip"></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="owner-phone"></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="owner-mobile"></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="owner-fax"></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="owner-email"></span>
	</p>
	<p><label><b>ที่อยู่ที่จัดส่งเอกสาร</b></label><span class="{$datainput} -fill" data-fld="owner-addressdoc"></span></p>
	</div>

	<h4>รายชื่อผู้ร่วมทำโครงการ/คณะทำงาน (อย่างน้อย 2 คน)</h4>
	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 1</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-1-prename"></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-1-name"></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-1-lastname"></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-1-cid"></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-1-address"></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-1-moo"></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-1-soi"></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-1-road"></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-1-tambon"></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-1-ampur"></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-1-changwat"></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-1-zip"></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-1-phone"></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-1-mobile"></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-1-fax"></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-1-email"></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
	<span onclick="" data-fld="coowner-1-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-1-position"></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-1-org"></span>	</p>
	</div>

	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 2</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-2-prename"></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-2-name"></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-2-lastname"></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-2-cid"></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-2-address"></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-2-moo"></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-2-soi"></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-2-road"></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-2-tambon"></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-2-ampur"></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-2-changwat"></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-2-zip"></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone"></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-2-mobile"></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-2-fax"></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-2-email"></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
	<span onclick="" data-fld="coowner-2-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-2-position"></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-2-org"></span>	</p>
	</p>
	</div>
	</div>


<h3>5. ท่านและองค์กรของท่าน จัดอยู่ในองค์กรประเภทใด<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="1" /> 1. หน่วยงานของรัฐ (หน่วยงานราชการ)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="2" /> 2. สถาบันการศึกษาของรัฐ (รวมถึงสถาบันการศึกษาที่ออกนอกระบบ สถาบันการศึกษาที่จัดตั้งพิเศษ)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="3" /> 3. หน่วยงานสาธารณสุข/โรงพยาบาล (ของรัฐ)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="4" /> 4. หน่วยงานของรัฐที่ไม่ใช่ส่วนราชการ (เช่น องค์การมหาชน กองทุน ฯลฯ)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="5" /> 5. รัฐวิสาหกิจ</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="6" /> 6. องค์กรปกครองส่วนท้องถิ่น (เทศบาล  องค์การบริหารส่วนตำบล  องค์การบริหารส่วนจังหวัด)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="7" /> 7. องค์กรชุมชน / องค์กรชาวบ้าน / กลุ่มชาวบ้านซึ่งมีการรวมตัวเฉพาะกิจ</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="8" /> 8. คณะบุคคล (ที่ไม่ใช่องค์กรชุมชน หรือองค์กรชาวบ้าน)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="9" /> 9. วัด / อาศรม / องค์กรศาสนา</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="10" /> 10. องค์กรการกุศล / มูลนิธิไม่แสวงกำไร / องค์กรพัฒนาเอกชน (NGO)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="11" /> 11. องค์กรวิชาชีพ (เช่น สภาวิศวกร สมาคมนักแต่งเพลง สมาคมช่างภาพผู้สื่อข่าว สภาการหนังสือพิมพ์ สภาเทคนิคการแพทย์ สมาคมพยาบาล ทันตแพทยสภา แพทยสมาคมแห่งประเทศไทย สมาคมกีฬา สมาคมผู้ตรวจสอบภายในแห่งประเทศไทย หอการค้าจังหวัด ฯลฯ)</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="12" /> 12. สถาบันการศึกษาเอกชน</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="13" /> 13. สถานพยาบาลเอกชน / โรงพยาบาลเอกชน</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="14" /> 14. บริษัท / หน่วยงานเอกชน</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="15" /> 15. องค์กรต่างประเทศ</label></abbr>
	<abbr class="checkbox -block"><label style="display: inline-block;"><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="99" /> 16. อื่น ๆ</label> ระบุ <span class="{$datainput} w-1" data-fld="org-other"></span></abbr>
	</p>
</div>

</div><!-- project-develop-owner -->





<div id="project-develop-detail">

<h3>6. กรอบแนวคิดและยุทธศาสตร์หลัก<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p><em>ความสอดคล้องกับทิศทาง เป้าหมาย และยุทธศาสตร์ระยะ 10 ปี (2555-2564) / แผนหลัก 3 ปี ของ สสส. (2555-2557)</em></p>
	<h4>เป้าหมาย แผนยุทธศาสตร์ระยะ 10 ปี (ตอบได้มากกว่า 1 ข้อ)</h4>
		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type1" data-fld="goal10year-type1" value="1" data-removeempty="yes" /> 1. ลดอัตราการสูบบุหรี่ของคนไทยใน พ.ศ. 2557 ลงร้อยละ 10 จาก พ.ศ. 2552</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type2" data-fld="goal10year-type2" value="2" data-removeempty="yes" /> 2. ลดอัตราการดื่มสุราของคนไทยใน พ.ศ. 2563 ให้น้อยกว่าร้อยละ 27</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type3" data-fld="goal10year-type3" value="3" data-removeempty="yes" /> 3. ลดอุบัติการณ์การติดเชื้อเอดส์ในหญิงตั้งครรภ์ใน พ.ศ. 2559 ลงสองในสามของที่คาดประมาณไว้</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type4" data-fld="goal10year-type4" value="4" data-removeempty="yes" /> 4. เพิ่มอัตราการบริโภคผักและผลไม้อย่างเพียงพอตามข้อแนะนำ (400 กรัมต่อวัน) ไม่น้อยกว่าร้อยละ 50 ใน พ.ศ. 2557</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type5" data-fld="goal10year-type5" value="5" data-removeempty="yes" /> 5. เพิ่มการมีกิจกรรมทางกายประจำของคนไทยอายุ 11 ปีขึ้นไป ไม่น้อยกว่าร้อยละ 80 ใน พ.ศ. 2557</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type6" data-fld="goal10year-type6" value="6" data-removeempty="yes" /> 6. ลดความชุกของภาวะน้ำหนักตัวเกินและโรคอ้วนในเด็กให้น้อยกว่าร้อยละ 10 ใน พ.ศ. 2562</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type7" data-fld="goal10year-type7" value="7" data-removeempty="yes" /> 7. ลดอัตราการตายจากอุบัติเหตุทางถนนสัดส่วนไม่เกิน 10 ต่อประชากรแสนคน ใน พ.ศ. 2563</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type8" data-fld="goal10year-type8" value="8" data-removeempty="yes" /> 8. เพิ่มสัดส่วนของคนไทยอายุ 15 ปีขึ้นไป ที่มีความสุขในการดำรงชีวิต</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type9" data-fld="goal10year-type9" value="9" data-removeempty="yes" /> 9. เพิ่มสัดส่วนของครอบครัวอบอุ่น</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type10" data-fld="goal10year-type10" value="10" data-removeempty="yes" /> 10. ชุมชนและท้องถิ่นเข้มแข็ง</label></abbr>
		<abbr class="checkbox -block"><label style="display: inline-block;"><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type99" data-fld="goal10year-type99" value="99" data-removeempty="yes" /> 11. อื่น ๆ (นอกจาก 10 ข้อข้างต้น)</label> ระบุ <span class="{$datainput} w-1" data-fld="goal10year-other" data-removeempty="yes"></span></abbr>
		</p>

	<h4>เป้าหมาย แผนหลัก 3 ปี ของ สสส. (ตอบได้มากกว่า 1 ข้อ)</h4>
		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type1" value="1" data-removeempty="yes" /> <b>เป้าประสงค์ 1</b> สานและเสริมพลังการดำเนินงานของหน่วยงานที่รับผิดชอบโดยตรง และภาคีเครือข่ายทั้งภาครัฐ ภาคเอกชนและภาคประชาสังคม เพื่อให้บรรลุผลในการลดปัจจัยเสี่ยงสุขภาพ ด้านการควบคุมการบริโภคยาสูบ การควบคุมการบริโภคเครื่องดื่มแอลกอฮอล์และสิ่งเสพติด การลดอุบัติเหตุจราจรและอุบัติภัย และสร้างสุขนิสัยในการออกกำลังกายและการบริโภคอาหารสุขภาพ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type2" value="2" data-removeempty="yes" /> <b>เป้าประสงค์ 2</b>  พัฒนากลไกที่จำเป็นสำหรับการลดปัจจัยเสี่ยงนอกเหนือจากเป้าประสงค์ที่ 1 โดย สสส. ลงทุน แต่น้อยในส่วนที่จำเป็นและก่อให้เกิดผลกระทบสูง และสร้างขีดความสามารถของบุคคล ที่เอื้อต่อการมีสุขภาวะ โดยเฉพาะในกลุ่มเด็ก เยาวชนและกลุ่มเป้าหมายเฉพาะ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type3" value="3" data-removeempty="yes" /> <b>เป้าประสงค์ 3</b>  เพิ่มขีดความสามารถเชิงสถาบันและส่งเสริมบทบาทของชุมชนและองค์กรในการพัฒนาสุขภาวะองค์รวม หรือแก้ไขปัญหาสำคัญของตน โดยพัฒนากระบวนการต้นแบบ และกลไกขยายผลเพื่อมุ่งพัฒนาสังคมสุขภาวะในระยะยาวอย่างยั่งยืน</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type4" value="4" data-removeempty="yes" /> <b>เป้าประสงค์ 4</b>  สร้างค่านิยมและโอกาสการเรียนรู้ในการสร้างเสริมสุขภาวะให้เกิดขึ้นในสังคมไทย สังคมให้ความร่วมมือกับการรณรงค์เพื่อบรรลุเป้าประสงค์อื่น ๆ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type5" value="5" data-removeempty="yes" /> <b>เป้าประสงค์ 5</b>  ขยายโอกาสและพัฒนาศักยภาพในการสร้างนวัตกรรมเกี่ยวกับการสร้างเสริมสุขภาวะ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type6" value="6" data-removeempty="yes" /> <b>เป้าประสงค์ 6</b>  เพิ่มสมรรถนะระบบบริการและระบบสนับสนุนในการสร้างเสริมสุขภาวะ และเพิ่มประสิทธิภาพกลไกการบริหารจัดการ</label></abbr>
		</p>
</div>

<h3>7. ความเป็นมา/ หลักการและเหตุผล/ ความสำคัญของปัญหา<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p><span class="{$datainput} -fill" data-fld="project-problem" data-type="textarea" data-button="yes"></span></p>
</div>

<h3>8. ระยะเวลาดำเนินงาน 1 ปี<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p>วันเริ่มต้น <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_from" data-type="datepicker" data-ret="date:ว ดดด ปปปป"></span></strong> กำหนดเสร็จ <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_end" data-type="datepicker" data-ret="date:ว ดดด ปปปป"></span></strong></p>
</div>

<h3>9. ประเด็นหลัก<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="1" /> 1. สุขภาพจิต</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="2" /> 2. ออกกำลังกาย</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="3" /> 3. การบริโภคยาสูบ</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="4" /> 4. อาหาร</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="5" /> 5. การบริโภคแอลกอฮอล์</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="6" /> 6. สารเสพติด</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="7" /> 7. อุบัติเหตุและสร้างเสริมความปลอดภัย</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="8" /> 8. เพศสัมพันธ์/พฤติกรรมทางเพศ</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="9" /> 9. สิ่งแวดล้อม</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="10" /> 10. การป้องกันโรค</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="11" /> 11. สุขภาวะครอบครัว</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="12" /> 12. สุขภาวะสังคม</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="13" /> 13. อุบัติภัย</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="14" /> 14. สุขภาวะชุมชน</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="15" /> 15. ระบบสุขภาพ</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="16" /> 16. อื่น ๆ</label></abbr>
	</p>
</div>

<h3>10. กลุ่มเป้าหมายที่คาดว่าจะได้รับผลประโยชน์และพื้นที่ดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p><em>ระบุกลุ่มเป้าหมายว่าเป็นใครบ้าง จำนวนเท่าไร มีวิธีการคัดเลือกกลุ่มเป้าหมายอย่างไร หากมีกลุ่มเป้าหมายหลายกลุ่มควรระบุกลุ่มเป้าหมายหลักและเป้าหมายรองด้วย</em></p>
	<h4>กลุ่มเป้าหมาย</h4>
	<div class="widget " id="project-develop-target" widget-request="project/develop/target/{$tpid}"></div>
	<h4>พื้นที่ดำเนินงาน</h4>
	<div class="widget " id="project-develop-area" widget-request="project/develop/area/{$tpid}"></div>

	<!--
	<p><strong>กลุ่มเป้าหมายหลัก</strong> ได้แก่
	<span class="{$datainput} w-10" data-fld="project-target" data-type="textarea" data-button="yes"></span>
	รวม <span class="{$datainput} numeric w-1" data-fld="target-main-total"></span> คน
	</p>
	<p><strong>กลุ่มเป้าหมายรอง (ถ้ามี)</strong> ได้แก่
	<span class="{$datainput} w-10" data-fld="target-secondary-detail" data-type="textarea" data-button="yes"></span>
	รวม <span class="{$datainput} numeric w-1" data-fld="target-secondary-total"></span> คน
	</p>
	-->
</div>

</div><!-- project-develop-detail -->






<div id="project-develop-planing" class="">
<h3>11. วัตถุประสงค์/ตัวชี้วัด/กิจกรรมการดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<em>
	<ul>
	<li>บอกจุดมุ่งหมายในการดำเนินงานโครงการ และสิ่งที่ต้องการให้เกิดผลจากการดำเนินงานโครงการ  วัตถุประสงค์นี้จะต้อง <strong>เฉพาะเจาะจง วัดได้จริง แสดงโอกาสที่จะเกิดผลสำเร็จ สอดคล้องกับหลักการและเหตุผล ในระยะเวลาที่กำหนด</strong></li>
	<li><strong>ตัวชี้วัด</strong> ให้ระบุความชัดเจนว่า เมื่อดำเนินการตามโครงการเสร็จแล้ว จะเกิดการเปลี่ยนแปลงหรือบรรลุผลสำเร็จอะไรบ้างและมากน้อยเพียงใด  และควรแสดงให้เห็นถึงการเปลี่ยนแปลงเป็นรูปธรรมวัดผลได้ และระบุตัวชี้วัดความสำเร็จของโครงการทั้งในระดับผลผลิตและผลลัพธ์ที่สอดคล้องกับวัตถุประสงค์</li>
	</ul>
	</em>
	<div class="widget objective-tree" id="project-develop-objective" widget-request="project/develop/objective/{$tpid}"></div>
</div>


<a name="link-9" id="link-9"></a>
<a name="plan"></a>
<h3>12. กิจกรรมหลัก/แผนการดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
	<div>
	<em><ul><li><strong>กิจกรรม</strong> แสดงขั้นตอนการทำกิจกรรมและกระบวนการดำเนินงาน เขียนให้ละเอียดว่าจะทำอะไร อย่างไร จึงจะสำเร็จตามวัตถุประสงค์หรือเป้าหมายที่วางไว้ เขียนให้เห็นลำดับเป็นขั้นเป็นตอน</li><li><strong>งบประมาณ</strong> ในแต่ละกิจกรรม ขอให้จำแนกรายการค่าใช้จ่ายต่างๆ โดยละเอียด</li></ul></em>
	<div class="widget " id="project-develop-plan" widget-request="project/develop/plan/single/{$tpid}"></div>


	<div class="box">
	<h4>งบประมาณโครงการ</h4>
	<p>จำนวนงบประมาณที่ต้องการสนับสนุนจาก สสส. จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-thaihealth" data-ret="numeric"></span> บาท <em>(ไม่เกิน 200,000 บาท)</em></p>
	<p>งบประมาณสมทบจาก <span class="{$datainput} w-2" data-type="select" data-fld="project-budget-orgname" data-data='{"":"", "องค์กรปกครองส่วนท้องถิ่น":"องค์กรปกครองส่วนท้องถิ่น","หน่วยราชการ":"หน่วยราชการ","แหล่งทุนอื่น":"แหล่งทุนอื่น"}'></span> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-org" data-ret="numeric"></span> บาท</p>
	<!-- <p>แหล่งทุนอื่น ๆ <span class="{$datainput} w-2" data-fld="project-budget-other"></span> บาท</p> -->
	<p><strong>งบประมาณรวม</strong> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-all" data-ret="numeric"></span> บาท</p>
	</div>
	</div>

<h3>13. องค์กรภาคีที่ร่วมดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<em>ระบุชื่อองค์กรภาคีที่ร่วมดำเนินงาน พร้อมทั้งบทบาทหน้าที่</em>
	<p><span class="{$datainput} w-10" data-fld="project-coorg" data-type="textarea" data-button="yes"></span></p>
</div>

<h3>14. การติดตาม/การประเมินผล<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
<em><strong>ใช้กระบวนการสภาผู้นำ/สภาชุมชน</strong> ที่มีการประชุมหมู่บ้านอย่างสม่ำเสมอ อย่างน้อยเดือนละครั้ง และกำหนดให้มีวาระการติดตามประเมินผลโครงการ การจัดทำแผนชุมชน  เป็นต้น  พร้อมทั้งจัดทีม เพื่อทำหน้าที่ติดตามและประเมินผลเป็นระยะว่าแต่ละโครงการ  แต่ละกิจกรรม เป็นตามแผนหรือไม่  มีปัญหาอุปสรรค  และต้องปรับปรุงการดำเนินงานอะไร  อย่างไรบ้าง  สุดท้ายทำเสร็จแล้วจะได้คุณค่าอะไรบ้าง ทั้งนี้ การติดตามประเมินผล ควรระบุการกำกับติดตามกิจกรรมต่างๆ ของโครงการที่ชัดเจน ได้แก่  วิธีการติดตามประเมินผล   เครื่องมือในการติดตาม  ผู้มีบทบาทในการติดตาม  ระยะเวลาในการติดตาม เป็นต้น</em>
<p><span class="{$datainput} w-10" data-fld="project-evaluation" data-type="textarea" data-button="yes"></span></p>
</div>

<h3>15. แนวทางการพัฒนาเพื่อให้เกิดความต่อเนื่องยั่งยืนและการขยายผล<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
<em>แสดงให้ชัดเจนในเรื่องคาดหวังผลของโครงการว่าจะเกิดอะไรขึ้น และจะนำไปทำอะไร อย่างไร ให้เกิดความต่อเนื่องและยั่งยืนในชุมชน/ท้องถิ่น และใครจะเป็นผู้รับผิดชอบในการดำเนินการต่อไป ชุมชนจะทำเองต่อ หรือใช้แหล่งทุนใดในชุมชน  ตลอดจนจะมีวิธีการขยายผลจากการดำเนินโครงการนี้อย่างไร และชุมชน หรือผู้อื่นจะใช้ประโยชน์จากผลของโครงการอย่างไร</em>
<p><span class="{$datainput} w-10" data-fld="project-continuously" data-type="textarea" data-button="yes"></span></p>
</div>

<h3>16. การแลกเปลี่ยนเรียนรู้/การเผยแพร่ผลการดำเนินโครงการ<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<p><span class="{$datainput} w-10" data-fld="project-colearning" data-type="textarea" data-button="yes"></span></p>
</div>

<h3>17. การขอทุนจากแหล่งอื่น<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="box">
	<em>กรณีมีการขอทุนจากแหล่งอื่น ให้ระบุชื่อแหล่งทุนและจำนวนเงิน</em>
	<p><span class="{$datainput} w-10" data-fld="project-cofunding" data-type="textarea" data-button="yes"></span></p>
</div>

</div><!-- project-develop-planing -->







<a name="doc"></a>

<h3>18. ไฟล์เอกสารประกอบการพัฒนาโครงการ<a class="project-toogle-display" href="javascript:void(0)"><icon class="icon -down"></i>v</a></h3>
<div class="widget request box" widget-request="project/develop/doc/{$tpid}"></div>

<hr class="pagebreak">




<div id="comment" class="project-develop-commenting">
	<h2>ภาคผนวกที่ 3 ความเห็น</h2>

	<h3>1. ความเห็นของทีมสนับสนุนวิชาการ (พี่เลี้ยง) , สจรส.มอ. และ ผู้ทรงคุณวุฒิ</h3>
	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>1. การมีส่วนร่วม</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="1" /> 1
	</p>
	<h5>2. ผู้นำ/แกนชุมชน</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="1" /> 1
	</p>
	<h4>การพัฒนาโครงการ</h4>
	<h5>มีผู้รับผิดชอบโครงการ และแกนนำในชุมชน</h5>
	<ul>
	<li><a href="#ownername">ผู้รับผิดชอบโครงการ</a></li>
	<li><a href="#teamname">รายชื่อผู้เข้าร่วมทำโครงการ/คณะทำงาน</a></li>
	<li><a href="#leadername">รายชื่อแกนนำในชุมชน พร้อมประสบการณ์ในการทำงาน</a></li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>เกิดกลไกขับเคลื่อนในพื้นที่ เช่น สภาผู้นำ/กลุ่ม/เครือข่าย</li>
	</ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-1"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>3. โครงสร้างองค์กร</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="1" /> 1
	</p>
	<h4>การพัฒนาโครงการ</h4>
	<h5>โครงสร้างชุมชน ทุนของชุมชน</h5>
	<ul>
	<li><a href="#ownername">ผู้รับผิดชอบโครงการ</a></li>
	<li><a href="#teamname">รายชื่อผู้เข้าร่วมทำโครงการ/คณะทำงาน</a></li>
	</ul>
	<h5>การวิเคราะห์และอธิบายทุนที่มีอยู่ในชุมชน</h5>
	<ul>
	<li><a href="#link-3-1">ผู้นำและแกนนำ</a></li>
	<li><a href="#link-3-2">กลุ่ม องค์กร หน่วยงานและเครือข่าย</a></li>
	<li><a href="#link-3-3">วิถีชีวิต ประเพณี วัฒนธรรม</a></li>
	<li><a href="#link-3-4">ภูมิปัญญา</a></li>
	<li><a href="#link-3-5">ศูนย์เรียนรู้</a></li>
	<li><a href="#link-3-6">กระบวนการมีส่วนร่วมของชุมชน</a></li>
	<li><a href="#link-3-7">เครือข่ายเศรษฐกิจชุมชน</a></li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul><li>เกิดกลไกขับเคลื่อนในพื้นที่ เป็นส่วนสำคัญในโครงสร้างชุมชน เช่น กรรมการหมู่บ้าน กรรมการชุมชน เป็นต้น</li></ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-3"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>4. การประเมินปัญหา</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="1" /> 1
	</p>
	<h5>5. การถามว่าทำไม</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="1" /> 1
	</p>
	<h4>การพัฒนาโครงการ</h4>
	<h5>การวิเคราะห์สภาพปัญหาในชุมชน/เลือกปัญหา</h5>
	<ul>
	<li><a href="#link-4-1">ปัญหาในชุมชนและจัดลำดับความสำคัญ</a></li>
	</ul>
	<h5>การวิเคราะห์ปัจจัยที่มีผลต่อการจัดการปัญหา (คน สภาพแวดล้อมกลไก)</h5>
	<ul>
	<li><a href="#link-4-3">ปัจจัยสาเหตุและปัจจัยเอื้อต่อการแก้ปัญหา</a></li>
	</ul>
	<h5>การวิเคราะห์และจัดทำแนวทางการจัดการปัญหา</h5>
	<ul>
	<li><a href="#link-4-4">แนวทางสำคัญ วิธีการสำคัญเพื่อแก้ไขปัญหา</a></li>
	</ul>
	<h5>การมีแผนชุมชน</h5>
	<ul>
	<li><a href="#ref1">ภาคผนวก 1 ข้อมูลชุมชน</a></li>
	<li><a href="#ref2">ภาคผนวก 2 ข้อมูลแผนชุมชน </a></li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul><li>มีฐานข้อมูลชุมชน (ปัญหาของชุมชน , ปัญหาเฉพาะประเด็น)</li></ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-4"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>6. การระดมทรัพยากร</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="1" /> 1
	</p>
	<h5>7. การเชื่อมโยงภายนอก</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="1" /> 1
	</p>
	<h4>การพัฒนาโครงการ</h4>
	<h5>แผนการดำเนินการมีภาคีร่วมสนับสนุน อะไร อย่างไร งบประมาณที่ร่วมสนับสนุน</h5>
	<ul><li><a href="#link-9">แผนการดำเนินงาน ภาคีร่วมสนับสนุน</a></li></ul>
	<h4>การติดตามประเมินผล</h4>
	<ul><li>การระดมทรัพยากรและการเชื่อมโยงภายนอก มีการบรรจุอยู่ใน แผนชุมชน แผน อบต./เทศบาล แผนของหน่วยงาน</li></ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-6"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>8. บทบาทตัวแทน</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="1" /> 1
	</p>
	<h5>ตัวแทนภายใน</h5>
	<ul>
	<li>ผู้รับผิดชอบโครงการเป็นตัวแทนชุมชน มีกระบวนการชี้แจง ประชุมชุมชนก่อนเริ่มโครงการ</li>
	<li>มีกระบวนการติดตามประเมินผลโครงการโดยชุมชน</li>
	<li>มีการประเมินผลระหว่างโครงการ</li>
	<li>มีการประเมินผลหลังการทำโครงการ</li>
	</ul>
	<h5>ตัวแทนภายนอก</h5>
	<ul>
	<li>มีระบบพี่เลี้ยง หนุนเสริม เชื่อมประสานกับหน่วยงานภาคีที่เกี่ยวข้องทั้งภายใน และภายนอกชุมชน</li>
	</ul>
	<h4>การพัฒนาโครงการ</h4>
	<h5>ตัวแทนภายใน และตัวแทนภายนอก</h5>
	<ul>
	<li><a href="#link-9">แผนการดำเนินงาน กิจกรรม</a></li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>ผู้รับผิดชอบโครงการเข้าไปมีส่วนร่วมในกลุ่ม / เครือข่าย หรือ หน่วยงานทั้งภายในและภายนอกชุมชน</li>
	<li>ผู้รับผิดชอบโครงการยกระดับเป็นพี่เลี้ยง</li>
	</ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-8"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>9. การบริหารจัดการ</h5>
	<p align="right">คะแนน
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="5" /> 5
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="4" /> 4
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="3" /> 3
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="2" /> 2
	<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="1" /> 1
	</p>
	<h4>การพัฒนาโครงการ</h4>
	<ul>
	<li>การใช้ระบบพัฒนาโครงการบนเว็บไซต์</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>การใช้ระบบติดตามประเมินผลบนเว็บไซต์ (รายงาน, การเงิน)</li>
	</ul>
	<h4>ข้อเสนอแนะเพิ่มเติม</h4>
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-9"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.1 เกิดความรู้ หรือ นวัตกรรมชุมชน</h5>
	<ul>
	<li>ความรู้ใหม่/องค์ความรู้ใหม่</li>
	<li>สิ่งประดิษฐ์/ผลผลิตใหม่</li>
	<li>กระบวนการใหม่</li>
	<li>วิธีการทำงาน/การจัดการใหม่</li>
	<li>การเกิดกลุ่ม/โครงสร้างในชุมชนใหม่</li>
	<li>แหล่งเรียนรู้ใหม่</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul><li>การเกิดความรู้ หรือ นวัตกรรมชุมชน</li></ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-1"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.2 เกิดการปรับเปลี่ยนพฤติกรรมที่เอื้อต่อสุขภาพ</h5>
	<ul>
	<li>การดูแลสุขอนามัยส่วนบุคคล</li>
	<li>การบริโภค</li>
	<li>การออกกำลังกาย</li>
	<li>การลด ละ เลิก อบายมุข</li>
	<li>การลดพฤติกรรมเสี่ยง</li>
	<li>การจัดการอารมณ์ / ความเครียด</li>
	<li>การดำรงชีวิต / วิถีชีวิต</li>
	<li>พฤติกรรมการจัดการตนเองครอบครัว</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>การเกิดการปรับเปลี่ยนพฤติกรรมที่เอื้อต่อสุขภาพ</li>
	</ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-2"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.3 การสร้างสภาพแวดล้อมที่เอื้อต่อสุขภาพ (กายภาพ สังคม และเศรษฐกิจ)</h5>
	<ul>
	<li>กายภาพ เช่น มีการจัดการขยะ ป่า น้ำ</li>
	<li>สังคม เช่น มีความปลอดภัยในชีวิตและทรัพย์สิน มีการใช้ศาสนา/วัฒนธรรมเป็นฐานการพัฒนา</li>
	<li>เศรษฐกิจสร้างสรรค์สังคม /สร้างอาชีพ</li>
	<li>มีการบริการสุขภาพทางเลือก และมีช่องทางการเข้าถึงระบบบริการสุขภาพ</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>การสร้างสภาพแวดล้อมที่เอื้อต่อสุขภาพ (กายภาพ สังคม และเศรษฐกิจ)</li>
	</ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-3"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.4 การพัฒนานโยบายสาธารณะที่เอื้อต่อสุขภาวะ</h5>
	<ul>
	<li>มีกฎ / กติกา ของกลุ่ม ชุมชน</li>
	<li>มีมาตรการทางสังคมของกลุ่ม ชุมชน</li>
	<li>มีธรรมนูญของชุมชน</li>
	<li>อื่นๆ เช่น ออกเป็นข้อบัญญัติท้องถิ่น</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>การพัฒนานโยบายสาธารณะที่เอื้อต่อสุขภาวะ</li>
	</ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-4"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.5 เกิดกระบวนการชุมชน</h5>
	<ul>
	<li>เกิดการเชื่อมโยงประสานงานระหว่างกลุ่ม / เครือข่าย</li>
	<li>การเรียนรู้การแก้ปัญหาชุมชน (การประเมินปัญหา การวางแผน การปฏิบัติการ และการประเมิน)</li>
	<li>การใช้ประโยชน์จากทุนในชุมชน เช่น การระดมทุน</li>
	<li>มีการขับเคลื่อนการดำเนินงานของกลุ่มและชุมชนที่เกิดจากโครงการอย่างต่อเนื่อง</li>
	<li>เกิดกระบวนการจัดการความรู้ในชุมชน</li>
	<li>เกิดทักษะในการจัดการโครงการ เช่น การใช้ข้อมูลในการตัดสินใจ</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>การเกิดกระบวนการชุมชน</li>
	</ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-5"></div>
	</div>

	<div class="box">
	<h4>ตัวชี้วัดการประเมิน</h4>
	<h5>10. คุณค่าที่เกิดขึ้น</h5>
	<h5>10.6 มิติสุขภาวะปัญญา / สุขภาวะทางจิตวิญญาณ</h5>
	<ul>
	<li>ความรู้สึกภาคภูมิใจในตัวเอง / กลุ่ม / ชุมชน</li>
	<li>การเห็นประโยชน์ส่วนรวมและส่วนตนอย่างสมดุล</li>
	<li>การใช้ชีวิตอย่างเรียบง่าย และพอเพียง</li>
	<li>ชุมชนมีความเอื้ออาทร</li>
	<li>มีการตัดสินใจโดยใช้ฐานปัญญา</li>
	</ul>
	<h4>การติดตามประเมินผล</h4>
	<ul>
	<li>มิติสุขภาวะปัญญา / สุขภาวะทางจิตวิญญาณ</li>
	</ul>
	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-6"></div>
	</div>

	<div class="box project-develop-ratingindicator">
	<h4>คะแนนตัวชี้วัดการประเมิน</h4>
	<p style="font-size:1.2em;font-weight:bold;">คะแนนตัวชี้วัด = {$ratingIndicator}/45 = {$ratingPercent}%</p>
	<p><em>กรุณาคลิกรีเฟรชเพื่อคำนวนคะแนนตัวชี้วัดใหม่</em></p>
	</div>

	<h3>2. สรุปภาพรวมข้อเสนอโครงการ</h3>
	<div class="box">
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-summary"></div>
	</div>

	<h3>3. ความเห็นภาพรวมของผู้ทรงคุณวุฒิ</h3>
	<div class="box">
	<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-commentator"></div>
	</div>


	<div class="x-widget request" widget-request="project/develop/comment/{$tpid}"></div>

	<div class="" data-x-load="project/develop/comment/{$tpid}"></div>

</div><!--tab : comment -->

<a class="button--expand noprint" href="#">&lt;</a>

<style type="text/css">
	/*
	table {border-left: 2px gray solid; border-top: 2px gray solid;}
	table th {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: middle;}
	table td {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: top;}
	*/
	.button--expand {position: fixed; top:0px; right:270px; display: block;width: 40px;height: 41px;background: #000; color:#fff;opacity:.8;font-size: 40px;line-height: 32px;text-align: center;z-index: 99999;}

	.button--expand {right: 4px;}

	.box {margin:16px 0; padding: 4px 8px; box-shadow: 2px 2px 2px #aaa; border-top:1px #ddd solid;border-left:1px #ddd solid;}
	.numeric, .inline-edit-field.numeric input {text-align: center;}
	p.L1 {margin-left: 1em; margin-bottom:10px;}
	p.L2 {margin-left: 2em;margin-bottom:10px;}
	p.L3 {margin-left: 3em;margin-bottom:10px;}
	hr.pagebreak {height:1px; background: transparent; border:none; display: none;}
	label.hots {font-weight: bold; display: block;}
	span.explan {color:#666;}

	.module-project .__develop .__view {position: relative;}
	.module-project .__develop .__view .sg-tabs>div {padding-top:8px; border:1px #ccc solid; border-top:none;padding:0 16px;}
	.module-project .__develop .__view h3 {margin:0px 0 5px 0; padding: 16px; background:#eee; border:1px #ddd solid; position: relative;}
	.module-project .__develop .__view h4 {margin: 30px 0 10px 0;}
	.module-project .__develop .__view h5 {font-family: Tahoma; font-weight: bold; font-size: 1em; color: #333; text-align: left;}
	#objective-indicators td:first-child {text-align: center;}
	#objective-indicators td {padding:0;}
	#objective-indicators p {margin:0;}

	.module-project .__develop .__view em {color:green; font-style: normal;}
	.item.-problem>tbody>tr>td {vertical-align: top;}
	.item.-problem>tbody>tr>td:nth-child(n+2) {text-align: center;}

	.problemweight {display: inline-block; margin: 0 2px;}
	.problemweight>input {display: block;}

	.module-project .__develop .__view .box>h4 {margin-top:0;padding:4px 0;}
	.module-project .__develop .__view .sg-tabs>div#owner {}

	span[data-type="textarea"] {border-top:1px #eaeaea solid;border-left:1px #eee solid;border-right:1px #eaeaea solid;}
	.module-project .__develop .__view .form-info {position:relative;width:200px;margin-bottom:20px;padding:10px;display:block;right:0px;border:2px #000 solid; top:10px;}

	table.project-mainact-items {margin:20px 0;}
	.project-mainact-items>tbody>tr>td:nth-child(1) {width:10em;}
	.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
	.project-mainact-items>tbody>tr>td:nth-child(3) {width:20em;}
	.project-mainact-items>tbody>tr>td:nth-child(4) {width:12px;text-align: center;}


	.button--addtoobj {width: 100%;display: block;padding: 2px 0;margin: 0 0 40px 0; text-align: center;}

	.project-report-item {background: #fff; border:1px #ddd solid; box-shadow: none;}
	.project-toogle-display {position: absolute; right: 0; display: block; width:24px; height:100%; color:#fff; background-color: #e5e5e5; text-align: center; line-height: 100%; top:0; border-left:1px #ddd solid;}
	.project-toogle-display .icon {margin-top: 16px;}

	.project-develop-plan-item>div {padding-left:32px;}

	@media (min-width:48em) { /* 768/16 = 48 iPad */
		body#project {margin-right:320px;}
		.box {margin-right:3px;}
		#comment {padding:0 10px; position: fixed; top:0px; right:0; bottom:0; width:300px; right:0; background: #fff; height:100%; overflow: auto; z-index:1000;}
		#comment h2 {padding:8px 0;font-size:1.6em;background: #058DC7; color:#fff;}
		#comment h3 {font-size:1.4em;}
		#comment .box {background: #f0f0f0;}
		#comment button {margin:0 0 20px 10px; padding: 4px 10px;}
		#comment .form-item {text-align: right;}
		.sg-dropbox>div {right:10px;}

		body#project {margin-right:0px;}
		#comment {display: none;}
	}


	{$css-print}
		body {margin: 0 0 0 5mm; font: 14pt/14pt "AngsanaUPC", "Angsana New", "TH Sarabun New", Tahoma, Arial, Verdana, sans-serif; color: #000}
		h1 {display:none;}
		h2 {text-align: center;}
		h5 {font-size: 1em; margin:1em 0 0 0; }
		h6 {font-size: 1em; margin:1em 0 0 0; }
		p {margin:0; padding:0;}
		.noprint {display: none;}
		hr.pagebreak {display: block;}
		.box {margin:0; padding:0; box-shadow: none; border:none;}
		.module-project .__develop .__view .sg-tabs>div {padding:0; border:none;padding:0;}

		.module-project .__develop .__view h2,
		.module-project .__develop .__view h3,
		.module-project .__develop .__view h4,
		.module-project .__develop .__view h5,
		.module-project .__develop .__view h6 {
			margin: 5px 5px 0 0;
			padding: 0;
			font: 14pt/14pt "AngsanaUPC","Angsana New","TH Sarabun New", Tahoma, Arial, Verdana, sans-serif;
			border:none;
			background: #fff;
			color: #000;
			font-weight: bold;
		}
		.module-project .__develop .__view em {color: #666;}
		.module-project .__develop .__view table.item table.item {border-left:none; margin-bottom:10px;}
		.module-project .__develop .__view table.item table.item>thead>tr>th:nth-child(5) {border-right:none;}
		.module-project .__develop .__view table.item table.item>tbody>tr>td:nth-child(5) {border-right:none;}
		.module-project .__develop .__view table.item table.item>tfoot>tr>td:nth-child(5) {border-right:none;}
		.module-project .__develop .__view table.project-develop-exp>thead>tr>th:nth-child(5) {border-right:none;}
		.module-project .__develop .__view table.project-develop-exp>tbody>tr>td:nth-child(5) {border-right:none;}
		.module-project .__develop .__view table.project-develop-exp>tfoot>tr>td:nth-child(5) {border-right:none;}

		.inline-edit-field {color:#000; display:inline-block; min-width:auto; min-height: auto; border-bottom: none; vertical-align: top;}
		.inline-edit-field.w-1 {min-width:auto;}
		.inline-edit-field.w-2 {min-width:auto;}
		.inline-edit-field.w-3 {min-width:auto;}
		.inline-edit-field.w-4 {min-width:auto;}
		.inline-edit-field.w-5 {min-width:auto;}
		.inline-edit-field.w-6 {min-width:auto;}
		.inline-edit-field.w-7 {min-width:auto;}
		.inline-edit-field.w-8 {min-width:auto;}
		.inline-edit-field.w-9 {min-width:auto;}
		.inline-edit-field.w-10 {min-width:auto;}
		.module-project .__develop .__view.inline-edit .inline-edit-field {color:#000;}


		.module-project .__develop .__view>.form-info {position:relative;width:200px;padding:10px;display:block;right:10px;border:2px #000 solid; top:0px;}
		table {margin: 20px 0; font-size: 14pt;}
		table p, #objective-indicators p {margin:0; padding: 0;}
		p.L1 {margin-left: 1cm; margin-bottom:10px;}
		p.L2 {margin-left: 2cm;margin-bottom:10px;}
		p.L3 {margin-left: 3cm;margin-bottom:10px;}
		input[type="checkbox"] {margin:0; padding:0; display:inline-block; vertical-align: middle;}
		span[data-type="textarea"] {border:none;}

		.project-mainact-items>tbody>tr>td:nth-child(1) {width:5em;}
		.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
		.project-mainact-items>tbody>tr>td:nth-child(3) {width:10em;}

		.project-mainact-items>thead>tr>th:nth-child(4) {display: none;}
		.project-mainact-items>tbody>tr>td:nth-child(4) {display: none;}
		.project-mainact-items>tfoot>tr>td:nth-child(4) {display: none;}

		table.item {border:none;}
		table.item tr td {border:none}
		table.item thead tr th {border:none;}

		table.project-develop-exp {border: none;}
		table.project-develop-exp>tbody>tr>td {border:none;}
		.project-develop-exp>thead>tr>th:nth-child(6) {display: none;}
		.project-develop-exp>tbody>tr>td:nth-child(6) {display: none;}
		.project-develop-exp>tfoot>tr>td:nth-child(6) {display: none;}


		@page port { size: portrait; }
		.portrait { page: port; }

		@page land { size: landscape; }
		body {margin:0;padding:0;}
		.landscape { page: land; }

		.landscape {
			width: 100%;
			height: 100%;
			font-size:12pt;
			-webkit-transform: rotate(-90deg);
			-moz-transform:rotate(-90deg);
			filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		}

		@media (min-width:48em) { /* 768/16 = 48 iPad */
			body#project {margin-right:0;}
			#comment {padding:0; position: relative; top:0px; right:0; bottom:0; width:auto; right:0; background: #fff; height:auto; overflow: auto; z-index:1;}
		}
	{$css-print-end}
</style>