<div class="form-info -hidden"><p align="center" style="margin:0;padding:5px; border-bottom:1px #666 solid;">สำหรับเจ้าหน้าที่</p><p style="padding:0 5px;">รหัสโครงการ : {$prid}</p><p style="padding:0 5px;">วันที่ :  <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>25&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p></div>


<h2 class="title">แบบเสนอโครงการกิจกรรมทางกาย</h2>
<script>
	$(document).ready(function() {
		//console.log("Tab Active Trigger = ",sgTabIdActive)
		if (sgTabIdActive) {
			$('#'+sgTabIdActive).trigger('click')
		} else {
			$('#proposal-tab-1').trigger('click')
		}
	})
</script>

<div class="sg-tabs">

<ul class="tabs -noprint">
	<li><a id="proposal-tab-1" href="#tab1" title="ชื่อโครงการ">1</a></li>
	<li><a id="proposal-tab-2" href="#tab2" title="ผู้เสนอโครงการ">2</a></li>
	<li><a id="proposal-tab-3" href="#tab3" title="กรอบแนวคิดและยุทธศาสตร์หลัก">3</a></li>
	<li><a id="proposal-tab-4" href="#tab4" title="ความเป็นมา/ หลักการและเหตุผล/ ความสำคัญของปัญหา">4</a></li>
	<li><a id="proposal-tab-5" href="#tab5" title="กลุ่มเป้าหมาย">5</a></li>
	<li><a id="proposal-tab-6" href="#tab6" title="แนวทาง/วิธีการสำคัญ">6</a></li>
	<li><a id="proposal-tab-7" href="#tab7" title="วิธีการดำเนินงาน">7</a></li>
	<li><a id="proposal-tab-8" href="#tab8" title="ข้อมูลอื่น ๆ">8</a></li>
	<li><a id="proposal-tab-9" href="#tab9" title="ไฟล์เอกสาร">9</a></li>
	<li><a id="proposal-tab-10" href="javascript:void(0)" onClick='$("#project-develop>.sg-tabs>div").show()' title="แสดงทั้งหมด"><i class="icon -material">search</i></a></li>
</ul>

<div id="tab1">

<h3>1. ชื่อโครงการ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<p><label class="hots">ชื่อโครงการ (ภาษาไทย)</label><span class="{$datainput} -fill -primary" data-group="topic" data-fld="title" onclick data-options='{"class":"-fill"}'></span></p>
	<em class="noprint">ควรสั้น กระชับ เข้าใจง่าย และสื่อสาระของสิ่งที่จะทำอย่างชัดเจน ควรจะระบุชื่อชุมชนในชื่อโครงการเพื่อความสะดวกในการค้นหา</em>
	</div>



<h3>2. ประเภทโครงการ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<p>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการใหม่" /> เป็นโครงการใหม่</label></abbr>
	<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการต่อเนื่อง" /> เป็นโครงการต่อเนื่อง</label></abbr>
	</p>
	<p><em>
	**  โครงการใหม่  หมายถึง เป็นโครงการที่ยังไม่เคยได้รับทุนสนับสนุนจาก สสส.<br />
	**  โครงการต่อเนื่อง หมายถึง เป็นโครงการต่อเนื่องจากโครงการที่เคยได้รับทุนจาก สสส.
	</em>
	</p>
	</div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-2").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>

</div><!-- tab1 -->





<div id="tab2">
<a name="ownername" id="ownername"></a>
<h3>3. องค์กร/คณะบุคคล ที่เสนอโครงการ (กรณีขอทุนในนามองค์กร/คณะบุคคล)<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<h4>1. ชื่อองค์กร/คณะบุคคล</h4>

	<p><label>ชื่อองค์กร</label> <span class="{$datainput} w-9" data-fld="org-name" data-type="text" onclick></span></p>
	<p><label>หมายเลขผู้เสียภาษี</label> <span class="{$datainput} w-3" data-fld="org-taxid" data-type="text" onclick></span></p>
	<p>
	<label>ที่ตั้งองค์กร</label> <span class="{$datainput} w-1" data-fld="org-address" data-type="text" onclick></span>
	<label>หมู่ที่</label> <span class="{$datainput} w-1" data-fld="org-moo" data-type="text" onclick></span>
	<label>ตรอก/ซอย</label> <span class="{$datainput} w-2" data-fld="org-soi" data-type="text" onclick></span>
	<label>ถนน</label> <span class="{$datainput} w-2" data-fld="org-road" data-type="text" onclick></span>
	<label>ตำบล/แขวง</label> <span class="{$datainput} w-2" data-fld="org-tambon" data-type="text" onclick></span>
	<label>อำเภอ/เขต</label> <span class="{$datainput} w-2" data-fld="org-ampur" data-type="text" onclick></span>
	<label>จังหวัด</label> <span class="{$datainput} w-2" data-fld="org-changwat" data-type="text" onclick></span>
	<label>รหัสไปรษณีย์</label> <span class="{$datainput} w-1" data-fld="org-zip" data-type="text" onclick></span>
	</p>

	<p>
	<label>โทรศัพท์</label> <span class="{$datainput} w-1" data-fld="org-phone" data-type="text" onclick></span>
	<label>โทรศัพท์เคลื่อนที่</label> <span class="{$datainput} w-1" data-fld="org-mobile" data-type="text" onclick></span>
	<label>โทรสาร</label> <span class="{$datainput} w-1" data-fld="org-fax" data-type="text" onclick></span>
	<label>อีเมล์</label> <span class="{$datainput} w-2" data-fld="org-email" data-type="text" onclick></span>
	</p>
	</div>

<a name="teamname" id="teamname"></a>
<h3>4. ผู้รับผิดชอบโครงการ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>

	<div>
	<div class="box">
	<h4>1. ชื่อ-นามสกุลผู้รับผิดชอบโครงการ</h4>

	<p>คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="owner-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="owner-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="owner-lastname" data-type="text" onclick></span></p>

	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="owner-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<p><label><b>สถานที่ทำงาน</b></label><span class="{$datainput} -fill" data-fld="owner-workorg" data-type="text" onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="owner-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="owner-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="owner-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="owner-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="owner-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="owner-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="owner-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="owner-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="owner-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="owner-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="owner-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="owner-email" data-type="text" onclick></span>
	</p>
	<p><label><b>ที่อยู่ที่จัดส่งเอกสาร</b></label><span class="{$datainput} -fill" data-fld="owner-addressdoc" data-type="text" onclick></span></p>
	</div>

	<h4>รายชื่อผู้ร่วมทำโครงการ/คณะทำงาน (อย่างน้อย 2 คน)</h4>
	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 1</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-1-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-1-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-1-lastname" data-type="text"></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-1-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-1-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-1-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-1-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-1-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-1-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-1-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-1-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-1-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-1-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-1-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-1-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-1-email" data-type="text" onclick></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้ 
	<span onclick="" data-fld="coowner-1-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-1-position" data-type="text" onclick></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-1-org" data-type="text" onclick></span>	</p>
	</div>

	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 2</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-2-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-2-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-2-lastname" data-type="text" onclick></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-2-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-2-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-2-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-2-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-2-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-2-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-2-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-2-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-2-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-2-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-2-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-2-email" data-type="text" onclick></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้ 
	<span onclick="" data-fld="coowner-2-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-2-position" data-type="text" onclick></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-2-org" data-type="text" onclick></span>	</p>
	</p>
	</div>

	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 3</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-3-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-3-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-3-lastname" data-type="text" onclick></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-3-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-3-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-3-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-3-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-3-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-3-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-3-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-3-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-3-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-3-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-3-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-3-email" data-type="text" onclick></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้ 
	<span onclick="" data-fld="coowner-3-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-3-position" data-type="text" onclick></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-3-org" data-type="text" onclick></span>	</p>
	</p>
	</div>

	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 4</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-4-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-4-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-4-lastname" data-type="text" onclick></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-4-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-4-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-4-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-4-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-4-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-4-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-4-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-4-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-4-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-4-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-4-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-4-email" data-type="text" onclick></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้ 
	<span onclick="" data-fld="coowner-4-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-4-position" data-type="text" onclick></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-4-org" data-type="text" onclick></span>	</p>
	</p>
	</div>

	<div class="box">
	<h4>ผู้ร่วมรับผิดชอบโครงการ คนที่ 5</h4>

	<p>
	คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-5-prename" data-type="text" onclick></span>
	ชื่อ <span class="{$datainput} w-3" data-fld="coowner-5-name" data-type="text" onclick></span>
	นามสกุล <span class="{$datainput} w-3" data-fld="coowner-5-lastname" data-type="text" onclick></span>
	</p>
	<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-5-cid" data-type="text" data-options='{"maxlength": 13}' onclick></span></p>

	<h5>ที่อยู่ตามบัตรประชาชน</h5>
	<p>
	บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-5-address" data-type="text" onclick></span>
	หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-5-moo" data-type="text" onclick></span>
	ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-5-soi" data-type="text" onclick></span>
	ถนน <span class="{$datainput} w-2" data-fld="coowner-5-road" data-type="text" onclick></span>
	ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-5-tambon" data-type="text" onclick></span>
	อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-5-ampur" data-type="text" onclick></span>
	จังหวัด <span class="{$datainput} w-2" data-fld="coowner-5-changwat" data-type="text" onclick></span>
	รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-5-zip" data-type="text" onclick></span>
	</p>

	<p>
	เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone" data-type="text" onclick></span>
	เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-5-mobile" data-type="text" onclick></span>
	โทรสาร <span class="{$datainput} w-1" data-fld="coowner-5-fax" data-type="text" onclick></span>
	อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-5-email" data-type="text" onclick></span>
	</p>

	<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้ 
	<span onclick="" data-fld="coowner-5-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span>
	ตำแหน่ง <span class="{$datainput} w-1" data-fld="coowner-5-position" data-type="text" onclick></span>
	สังกัด <span class="{$datainput} w-1" data-fld="coowner-5-org" data-type="text" onclick></span>	</p>
	</p>
	</div>

	</div>


	<h3>5. ประเภทองค์กร<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
		<p>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="1" /> 1. หน่วยงานของรัฐ (หน่วยงานราชการ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="2" /> 2. สถาบันการศึกษาของรัฐ (รวมถึงสถาบันการศึกษาที่ออกนอกระบบ สถาบันการศึกษาที่จัดตั้งพิเศษ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="3" /> 3. หน่วยงานสาธารณสุข/โรงพยาบาล (ของรัฐ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="4" /> 4. หน่วยงานของรัฐที่ไม่ใช่ส่วนราชการ (เช่น องค์การมหาชน กองทุน ฯลฯ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="5" /> 5. รัฐวิสาหกิจ</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="6" /> 6. องค์กรปกครองส่วนท้องถิ่น (เทศบาล  องค์การบริหารส่วนตำบล  องค์การบริหารส่วนจังหวัด)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="7" /> 7. องค์กรชุมชน / องค์กรชาวบ้าน / กลุ่มชาวบ้านซึ่งมีการรวมตัวเฉพาะกิจ</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="8" /> 8. คณะบุคคล (ที่ไม่ใช่องค์กรชุมชน หรือองค์กรชาวบ้าน)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="9" /> 9. วัด / อาศรม / องค์กรศาสนา</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="10" /> 10. องค์กรการกุศล / มูลนิธิไม่แสวงกำไร / องค์กรพัฒนาเอกชน (NGO)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="11" /> 11. องค์กรวิชาชีพ (เช่น สภาวิศวกร สมาคมนักแต่งเพลง สมาคมช่างภาพผู้สื่อข่าว สภาการหนังสือพิมพ์ สภาเทคนิคการแพทย์ สมาคมพยาบาล ทันตแพทยสภา แพทยสมาคมแห่งประเทศไทย สมาคมกีฬา สมาคมผู้ตรวจสอบภายในแห่งประเทศไทย หอการค้าจังหวัด ฯลฯ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="12" /> 12. สถาบันการศึกษาเอกชน</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="13" /> 13. สถานพยาบาลเอกชน / โรงพยาบาลเอกชน</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="14" /> 14. บริษัท / หน่วยงานเอกชน</label></abbr>
		<abbr class="checkbox -block"><label><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="15" /> 15. องค์กรต่างประเทศ</label></abbr>
		<abbr class="checkbox -block"><label style="display: inline-block;"><input type="radio" data-type="radio" class="{$datainput}" name="org-type" data-fld="org-type" value="99" /> 16. อื่น ๆ</label> ระบุ <span class="{$datainput} w-1" data-fld="org-other"></span></abbr>
		</p>
	</div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-1").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-3").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>

</div><!-- tab2 -->





<div id="tab3">

<section class="project-develop-strategy">
<h3>6. กรอบแนวคิดและยุทธศาสตร์หลัก<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<h4>เป้าหมาย แผนยุทธศาสตร์ระยะ 10 ปี </h4>
		<p><em>ความสอดคล้องกับทิศทาง เป้าหมาย และยุทธศาสตร์ระยะ 10 ปี (2555-2564) (ตอบได้มากกว่า 1 ข้อ)</em></p>
			<div>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type1" data-fld="goal10year-type1" value="1" data-removeempty="yes" /> 1. ลดอัตราการสูบบุหรี่ของคนไทยใน พ.ศ. 2557 ลงร้อยละ 10 จาก พ.ศ. 2552</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type2" data-fld="goal10year-type2" value="2" data-removeempty="yes" /> 2. ลดอัตราการดื่มสุราของคนไทยใน พ.ศ. 2563 ให้น้อยกว่าร้อยละ 27</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type3" data-fld="goal10year-type3" value="3" data-removeempty="yes" /> 3. ลดอุบัติการณ์การติดเชื้อเอดส์ในหญิงตั้งครรภ์ใน พ.ศ. 2559 ลงสองในสามของที่คาดประมาณไว้</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type4" data-fld="goal10year-type4" value="4" data-removeempty="yes" /> 4. เพิ่มอัตราการบริโภคผักและผลไม้อย่างเพียงพอตามข้อแนะนำ (400 กรัมต่อวัน) ไม่น้อยกว่าร้อยละ 50 ใน พ.ศ. 2557</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type5" data-fld="goal10year-type5" value="5" data-removeempty="yes" /> 5. เพิ่มการมีกิจกรรมทางกายประจำของคนไทยอายุ 11 ปีขึ้นไป ไม่น้อยกว่าร้อยละ 80 ใน พ.ศ. 2557</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type6" data-fld="goal10year-type6" value="6" data-removeempty="yes" /> 6. ลดความชุกของภาวะน้ำหนักตัวเกินและโรคอ้วนในเด็กให้น้อยกว่าร้อยละ 10 ใน พ.ศ. 2562</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type7" data-fld="goal10year-type7" value="7" data-removeempty="yes" /> 7. ลดอัตราการตายจากอุบัติเหตุทางถนนสัดส่วนไม่เกิน 10 ต่อประชากรแสนคน ใน พ.ศ. 2563</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type8" data-fld="goal10year-type8" value="8" data-removeempty="yes" /> 8. เพิ่มสัดส่วนของคนไทยอายุ 15 ปีขึ้นไป ที่มีความสุขในการดำรงชีวิต</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type9" data-fld="goal10year-type9" value="9" data-removeempty="yes" /> 9. เพิ่มสัดส่วนของครอบครัวอบอุ่น</label></abbr>
			<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type10" data-fld="goal10year-type10" value="10" data-removeempty="yes" /> 10. ชุมชนและท้องถิ่นเข้มแข็ง</label></abbr>
			<abbr class="checkbox -block"><label style="display: inline-block;"><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal10year-type99" data-fld="goal10year-type99" value="99" data-removeempty="yes" /> 11. อื่น ๆ (นอกจาก 10 ข้อข้างต้น)</label> ระบุ <span class="{$datainput} w-1" data-fld="goal10year-other" data-removeempty="yes"></span></abbr>
			</div>
	</div><!-- box -->

	<div class="box">
	<h4>เป้าหมาย แผนหลัก 3 ปี ของ สสส. (ตอบได้มากกว่า 1 ข้อ)</h4>
		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type1" value="1" data-removeempty="yes" /> <b>เป้าประสงค์ 1</b> สานและเสริมพลังการดำเนินงานของหน่วยงานที่รับผิดชอบโดยตรง และภาคีเครือข่ายทั้งภาครัฐ ภาคเอกชนและภาคประชาสังคม เพื่อให้บรรลุผลในการลดปัจจัยเสี่ยงสุขภาพ ด้านการควบคุมการบริโภคยาสูบ การควบคุมการบริโภคเครื่องดื่มแอลกอฮอล์และสิ่งเสพติด การลดอุบัติเหตุจราจรและอุบัติภัย และสร้างสุขนิสัยในการออกกำลังกายและการบริโภคอาหารสุขภาพ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type2" value="2" data-removeempty="yes" /> <b>เป้าประสงค์ 2</b>  พัฒนากลไกที่จำเป็นสำหรับการลดปัจจัยเสี่ยงนอกเหนือจากเป้าประสงค์ที่ 1 โดย สสส. ลงทุน แต่น้อยในส่วนที่จำเป็นและก่อให้เกิดผลกระทบสูง และสร้างขีดความสามารถของบุคคล ที่เอื้อต่อการมีสุขภาวะ โดยเฉพาะในกลุ่มเด็ก เยาวชนและกลุ่มเป้าหมายเฉพาะ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type3" value="3" data-removeempty="yes" /> <b>เป้าประสงค์ 3</b>  เพิ่มขีดความสามารถเชิงสถาบันและส่งเสริมบทบาทของชุมชนและองค์กรในการพัฒนาสุขภาวะองค์รวม หรือแก้ไขปัญหาสำคัญของตน โดยพัฒนากระบวนการต้นแบบ และกลไกขยายผลเพื่อมุ่งพัฒนาสังคมสุขภาวะในระยะยาวอย่างยั่งยืน</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type4" value="4" data-removeempty="yes" /> <b>เป้าประสงค์ 4</b>  สร้างค่านิยมและโอกาสการเรียนรู้ในการสร้างเสริมสุขภาวะให้เกิดขึ้นในสังคมไทย สังคมให้ความร่วมมือกับการรณรงค์เพื่อบรรลุเป้าประสงค์อื่น ๆ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type5" value="5" data-removeempty="yes" /> <b>เป้าประสงค์ 5</b>  ขยายโอกาสและพัฒนาศักยภาพในการสร้างนวัตกรรมเกี่ยวกับการสร้างเสริมสุขภาวะ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="goal3year-type1" data-fld="goal3year-type6" value="6" data-removeempty="yes" /> <b>เป้าประสงค์ 6</b>  เพิ่มสมรรถนะระบบบริการและระบบสนับสนุนในการสร้างเสริมสุขภาวะ และเพิ่มประสิทธิภาพกลไกการบริหารจัดการ</label></abbr>
		</p>
	</div><!-- box -->

	<div class="box">
	<h4>ภาพรวมเนื้อหาโครงการ (มาตรา 5)</h4>
		<p><em>มาตรา 5 "วัตถุประสงค์" การจัดตั้งกองทุนสนับสนุนการสร้างเสริมสุขภาพมี 6 ข้อ ดังนี้ (ตอบได้มากกว่า 1 ข้อ)</em></p>
		<p>

		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type1" data-fld="section5-type1" value="1" data-removeempty="yes" /> <b>1. </b>ส่งเสริมและสนับสนุนการสร้างเสริมสุขภาพในประชากรทุกวัยตามนโยบายสุขภาพแห่งชาติ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type2" data-fld="section5-type2" value="2" data-removeempty="yes" /> <b>2. </b>สร้างความตระหนักเรื่องพฤติกรรมเสี่ยงจากการบริโภคสุรา ยาสูบ หรือสาร หรือสิ่งอื่นที่ทำลายสุขภาพ และสร้างความเชื่อในการสร้างเสริมสุขภาพแก่ประชากรทุกระดับ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type3" data-fld="section5-type3" value="3" data-removeempty="yes" /> <b>3. </b>สนับสนุนการรณรงค์ให้ลดการบริโภคสุรา ยาสูบ หรือสาร หรือสิ่งอื่นที่ทำลายสุขภาพ ตลอดจนให้ประชาชนได้รับรู้ข้อกฏหมายที่เกี่ยวข้อง</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type4" data-fld="section5-type4" value="4" data-removeempty="yes" /> <b>4. </b>ศึกษาวิจัย หรือสนับสนุนให้มีการศึกษา วิจัย ฝึกอบรม หรือดำเนินการให้มีการประชุมเกี่ยวกับการสนับสนุนการสร้างเสริมสุขภาพ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type5" data-fld="section5-type5" value="5" data-removeempty="yes" /> <b>5. </b>พัฒนาความสามารถของชุมชนในการสร้างเสริมสุขภาพโดยชุมชน หรือองค์กรเอกชน องค์กรสาธารณประโยชน์ ส่วนราชการ รัฐวิสาหกิจ หรือหน่วยงานอื่นของรัฐ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="section5-type6" data-fld="section5-type6" value="6" data-removeempty="yes" /> <b>6. </b>สนับสนุนการรณรงค์สร้างเสริมสุขภาพผ่านกิจกรรมต่าง ๆ ในลักษณะที่เป็นสื่อ เพื่อให้ประชาชนสร้างเสริมสุขภาพให้แข็งแรง ใช้เวลาว่างให้เป็นประโยชน์ และลดบริโภคสุรา ยาสูบ หรือสาร หรือสิ่งอื่นที่ทำลายสุขภาพ</label></abbr>
		</p>
	</div><!-- box -->

	<div class="box">
	<h4>ประเด็นที่เกี่ยวข้องกับโครงการ</h4>
		<p><em>เลือกประเด็นหลักของโครงการ (ตอบได้มากกว่า 1 ข้อ)</em></p>
		<div class="widget issue -hidden" id="project-develop-issue" data-url="project/develop/issue" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>

		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-1" data-fld="category-1" value="1" data-removeempty="yes" /> สุขภาพจิต</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-2" data-fld="category-2" value="2" data-removeempty="yes" data-planning="7" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานกิจกรรมทางกาย (กิจกรรมทางกาย)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-3" data-fld="category-3" value="3" data-removeempty="yes" data-planning="2" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานบุหรี่  (การบริโภคยาสูบ)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-4" data-fld="category-4" value="4" data-removeempty="yes" data-planning="5" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานอาหารและโภชนาการ (อาหาร)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-5" data-fld="category-5" value="5" data-removeempty="yes" data-planning="1" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานเหล้า (การบริโภคแอลกอฮอล์)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-6" data-fld="category-6" value="6" data-removeempty="yes" data-planning="3" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานสารเสพติด (สารเสพติด)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-7" data-fld="category-7" value="7" data-removeempty="yes" data-planning="8" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานอุบัติเหตุ (อุบัติเหตุและสร้างเสริมความปลอดภัย)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-8" data-fld="category-8" value="8" data-removeempty="yes" /> เพศสัมพันธ์/พฤติกรรมทางเพศ</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-9" data-fld="category-9" value="9" data-removeempty="yes" /> สิ่งแวดล้อม</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-10" data-fld="category-10" value="10" data-removeempty="yes" /> การป้องกันโรค</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-11" data-fld="category-11" value="11" data-removeempty="yes" /> สุขภาวะครอบครัว</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" disabled="disabled" /> สุขภาวะสังคม</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-121" data-fld="category-121" value="121" data-removeempty="yes" /> การคุ้มครองผู้บริโภค</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-122" data-fld="category-122" value="122" data-removeempty="yes" /> ความไม่เท่าเทียมด้านสุขภาพ</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-123" data-fld="category-123" value="123" data-removeempty="yes" /> ปัจจัยทางสังคมที่กำหนดสุขภาวะ (Social Determinant of Health)</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-124" data-fld="category-124" value="124" data-removeempty="yes" /> การพนัน</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-13" data-fld="category-13" value="13" data-removeempty="yes" data-planning="13" data-callback="projectDevelopCategoryLinkSelect" /> แผนงานเผชิญภัยพิบัติและโรคระบาด (อุบัติภัย)</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" disabled="disabled" /> สุขภาวะชุมชน</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-141" data-fld="category-141" value="141" data-removeempty="yes" /> ชุมชน</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-142" data-fld="category-142" value="142" data-removeempty="yes" /> ภูมิปัญญาท้องถิ่น</label></abbr>
		<abbr class="checkbox -block -level2"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-143" data-fld="category-143" value="143" data-removeempty="yes" /> เกษตร</label></abbr>

		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-15" data-fld="category-15" value="15" data-removeempty="yes" /> ระบบสุขภาพ</label></abbr>

		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-18" data-fld="category-18" value="18" data-removeempty="yes" /> สุขภาวะองค์กร</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-19" data-fld="category-19" value="19" data-removeempty="yes" /> สุขภาวะทางปัญญา</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-20" data-fld="category-20" value="20" data-removeempty="yes" /> การศึกษา</label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-22" data-fld="category-22" value="22" data-removeempty="yes" /> สื่อสร้างเสริมสุขภาวะ</label></abbr>



		<abbr class="checkbox -block"><label style="display: inline-block;"><input type="checkbox" data-type="checkbox" class="{$datainput}" name="category-99" data-fld="category-99" value="99" data-removeempty="yes" /> อื่น ๆ</label> ระบุ <span class="{$datainput} w-1" data-fld="category-other" data-removeempty="yes"></span></abbr>
		</p>
	</div><!-- box -->

</section><!-- project-develop-strategy -->

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-2").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-4").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>
</div><!-- tab3 -->






<div id="tab4">
<h3>7. ความเป็นมา/ หลักการและเหตุผล/ ความสำคัญของปัญหา<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
<div class="box">
	<div class="widget project-develop-problem" id="project-develop-problem" data-url="project/develop/problem" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>
	<em class="{$hidden} -noprint">ระบุความเป็นมา / สถานการณ์ / หลักการและเหตุผล หรือ ที่มาของการทำโครงการ เพิ่มเติมในช่องด้านล่าง</em>
	<p><span class="{$datainput} -fill" data-fld="project-problem" data-type="textarea" data-button="yes" onclick data-placeholder="ระบุสถานการณ์ หลักการและเหตุผล หรือ ที่มาของการทำโครงการ เพิ่มเติม"></span></p>
</div><!--  box -->


<h3>8. วัตถุประสงค์/ตัวชี้วัด<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
<div class="box">
	<em>
	<ul>
	<li>บอกจุดมุ่งหมายในการดำเนินงานโครงการ และสิ่งที่ต้องการให้เกิดผลจากการดำเนินงานโครงการ  วัตถุประสงค์นี้จะต้อง <strong>เฉพาะเจาะจง วัดได้จริง แสดงโอกาสที่จะเกิดผลสำเร็จ สอดคล้องกับหลักการและเหตุผล ในระยะเวลาที่กำหนด</strong></li>
	<li><strong>ตัวชี้วัด</strong> ให้ระบุความชัดเจนว่า เมื่อดำเนินการตามโครงการเสร็จแล้ว จะเกิดการเปลี่ยนแปลงหรือบรรลุผลสำเร็จอะไรบ้างและมากน้อยเพียงใด  และควรแสดงให้เห็นถึงการเปลี่ยนแปลงเป็นรูปธรรมวัดผลได้ และระบุตัวชี้วัดความสำเร็จของโครงการทั้งในระดับผลผลิตและผลลัพธ์ที่สอดคล้องกับวัตถุประสงค์</li>
	</ul>
	</em>
	<div class="widget objective-tree" id="project-develop-objective" data-url="project/develop/objective" data-para-id="{$tpid}" data-para-action="{$para-action}" data-option-replace="yes"></div>
</div><!--  box -->

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-3").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i>{tr:Previous}</a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-5").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i>{tr:Next}</a></nav>

</div><!-- tab4 -->





<div id="tab5">

<h3>9. กลุ่มเป้าหมายที่คาดว่าจะได้รับผลประโยชน์และพื้นที่ดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
<div class="box">
	<p><em>ระบุกลุ่มเป้าหมายว่าเป็นใครบ้าง จำนวนเท่าไร มีวิธีการคัดเลือกกลุ่มเป้าหมายอย่างไร หากมีกลุ่มเป้าหมายหลายกลุ่มควรระบุกลุ่มเป้าหมายหลักและเป้าหมายรองด้วย</em></p>
	<h4>กลุ่มเป้าหมาย</h4>
	<div class="widget target" id="project-develop-target" data-url="project/develop/target" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>

	<h4>พื้นที่ดำเนินการ (Setting)</h4>
		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="setting-type90" data-fld="setting-type90" value="1" data-removeempty="yes" /> <b>บ้าน</b></label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="setting-type1" data-fld="setting-type1" value="1" data-removeempty="yes" /> <b>โรงเรียน</b></label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="setting-type11" data-fld="setting-type11" value="1" data-removeempty="yes" /> <b>ที่ทำงาน</b></label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="setting-type12" data-fld="setting-type12" value="1" data-removeempty="yes" /> <b>ชุมชน</b></label></abbr>
		</p>

	<h4>ลักษณะโครงการ</h4>
		<p>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="kind-type90" data-fld="kind-type90" value="1" data-removeempty="yes" /> <b>กิจวัตรประจำวัน</b></label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="kind-type1" data-fld="kind-type1" value="1" data-removeempty="yes" /> <b>การเดินทาง : เดิน , จักรยาน</b></label></abbr>
		<abbr class="checkbox -block"><label><input type="checkbox" data-type="checkbox" class="{$datainput}" name="kind-type11" data-fld="kind-type11" value="1" data-removeempty="yes" /> <b>การละเล่น - กีฬา - ออกกำลังกาย</b></label></abbr>
		</p>

	<h4>พื้นที่ดำเนินงาน</h4>
	<div class="widget area" id="project-develop-area" data-url="project/develop/area" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>

	<!--
	<p><strong>กลุ่มเป้าหมายหลัก</strong> ได้แก่
	<span class="{$datainput} w-10" data-fld="project-target" data-type="textarea" data-button="yes"></span>
	รวม <span class="{$datainput} numeric w-1" data-fld="target-main-total"></span> คน
	</p>
	<p><strong>กลุ่มเป้าหมายรอง (ถ้ามี)</strong> ได้แก่
	<span class="{$datainput} w-10" data-fld="target-secondary-detail" data-type="textarea" data-button="yes"></span>
	รวม <span class="{$datainput} numeric w-1" data-fld="target-secondary-total"></span> คน
	</p>
	-->
</div><!-- box -->

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-4").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-6").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>
</div><!-- tab5 -->





<div id="tab6">

<a name="link-9" id="link-9"></a>

<h3>10. แนวทาง/วิธีการสำคัญ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="widget guideline" id="project-develop-problem" data-url="project/develop/guideline" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-5").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-7").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>

</div><!-- tab6 -->





<div id="tab7">

<h3>11. วิธีการดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div>
		<em><ul><li><strong>กิจกรรม</strong> แสดงขั้นตอนการทำกิจกรรมและกระบวนการดำเนินงาน เขียนให้ละเอียดว่าจะทำอะไร อย่างไร จึงจะสำเร็จตามวัตถุประสงค์หรือเป้าหมายที่วางไว้ เขียนให้เห็นลำดับเป็นขั้นเป็นตอน</li><li><strong>งบประมาณ</strong> ในแต่ละกิจกรรม ขอให้จำแนกรายการค่าใช้จ่ายต่างๆ โดยละเอียด</li></ul></em>
		<div class="widget box plan" id="project-develop-plan" data-url="project/develop/plan/single" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>


		<div class="box">
		<h4>งบประมาณโครงการ</h4>
		<p>จำนวนงบประมาณที่ต้องการสนับสนุนจาก สสส. จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-thaihealth" data-ret="numeric" onclick></span> บาท</p>
		<p>งบประมาณสมทบจาก <span class="{$datainput} w-2" data-type="select" data-fld="project-budget-orgname" data-data='{"":"ไม่มี","องค์กรปกครองส่วนท้องถิ่น":"องค์กรปกครองส่วนท้องถิ่น","หน่วยราชการ":"หน่วยราชการ","แหล่งทุนอื่น":"แหล่งทุนอื่น"}'></span> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-org" data-ret="numeric" onclick></span> บาท</p>
		<!-- <p>แหล่งทุนอื่น ๆ <span class="{$datainput} w-2" data-fld="project-budget-other"></span> บาท</p> -->
		<p><strong>งบประมาณรวม</strong> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-all" data-ret="numeric" onclick></span> บาท</p>
		</div><!-- box -->
	</div>


<h3>12. ระยะเวลาดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<p>วันเริ่มต้น <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_from" data-type="datepicker" data-ret="date:ว ดดด ปปปป" onclick></span></strong> กำหนดเสร็จ <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_end" data-type="datepicker" data-ret="date:ว ดดด ปปปป" onclick></span></strong></p>
	</div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-6").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-8").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>
</div><!-- tab7 -->





<div id="tab8">

<h3>13. องค์กรภาคีที่ร่วมดำเนินงาน<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<em>ระบุชื่อองค์กรภาคีที่ร่วมดำเนินงาน พร้อมทั้งบทบาทหน้าที่</em>
	<p><span class="{$datainput} w-10" data-fld="project-coorg" data-type="textarea" data-button="yes" onclick></span></p>
	</div><!-- box -->



<h3>14. การติดตาม/การประเมินผล<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<p><span class="{$datainput} w-10" data-fld="project-evaluation" data-type="textarea" data-button="yes" onclick></span></p>
	</div>



<h3>15. แนวทางการพัฒนาเพื่อให้เกิดความต่อเนื่องยั่งยืนและการขยายผล<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
	<p><span class="{$datainput} w-10" data-fld="project-continuously" data-type="textarea" data-button="yes" onclick></span></p>
	</div>



<h3>16. การแลกเปลี่ยนเรียนรู้/การเผยแพร่ผลการดำเนินโครงการ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
		<p><span class="{$datainput} w-10" data-fld="project-colearning" data-type="textarea" data-button="yes" onclick></span></p>
	</div>



<h3>17. การขอทุนจากแหล่งอื่น<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
	<div class="box">
		<em>กรณีมีการขอทุนจากแหล่งอื่น ให้ระบุชื่อแหล่งทุนและจำนวนเงิน</em>
		<p><span class="{$datainput} w-10" data-fld="project-cofunding" data-type="textarea" data-button="yes" onclick></span></p>
	</div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-7").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-9").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>

</div><!-- tab8 -->





<div id="tab9">
<a name="doc"></a>

<h3>18. ไฟล์เอกสารประกอบการพัฒนาโครงการ<a class="project-toogle-display" href="javascript:void(0)"><i class="icon -up"></i></a></h3>
<div class="widget box doc" data-url="project/develop/doc" data-para-id="{$tpid}" data-para-action="{$para-action}"></div>

<nav class="nav -page -noprint -sg-text-right"><a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-8").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_before</i><span>{tr:Previous}</span></a> <a class="btn" href="javascript:void(0)" onClick='$("#proposal-tab-10").trigger("click");window.scrollTo(0,0);'><i class="icon -material">navigate_next</i><span>{tr:Next}</span></a></nav>

</div><!-- tab9 -->

<hr class="pagebreak">



</div><!--tab : comment -->





<a class="button--expand noprint" href="#">&lt;</a>

<div id="comment" class="project-develop-commenting">
	<h2>ความเห็นต่อโครงการ</h2>

	<h3>ความเห็นจากพี่เลี้ยง</h3>
		<div class="widget box comment1" id="project-develop-comment1" data-url="project/develop/comment" data-para-id="{$tpid}" data-para-part="comment-summary"></div>

	<h3>ความเห็นจากกรรมการ</h3>
		<div class="widget box comment1" id="project-develop-comment2" data-url="project/develop/comment" data-para-id="{$tpid}" data-para-part="comment-commentator"></div>
</div><!-- project-develop-commenting -->









<style type="text/css">
	h2.title {text-align: center; padding: 16px 0; background: #eee; border: 1px #ddd solid; margin: 0 0 32px 0;}
	.sg-tabs>div:not(#tab1) {display: none;}
	ul.tabs {display: flex; flex-wrap: nowrap; justify-content: space-between; border: none; background-color: transparent;}
	ul.tabs::after {content: ""; display: block; height: 1px; border-bottom: 1px #ccc solid; width: 100%; position: absolute; margin-top: 20px; z-index: 0;}
	ul.tabs>li {margin:0; border: 1px #ccc solid; border-radius: 50%; background-color: #fff; position: relative; z-index: 1;}
	ul.tabs>li.active {border: 1px red solid; border-radius: 50%; background-color: red;}
	ul.tabs>li>a {font-weight: bold; font-size: 1.4em; width: 24px; height: 24px; line-height: 24px; padding: 8px; text-align: center;}
	ul.tabs>li>a:hover {border-radius: 50%; background-color: red;}
	ul.tabs>li.active>a:hover {background-color: red;}
	ul.tabs>li.active>a {color: #fff;}

	.button--expand {position: fixed; top:0px; right:270px; display: block;width: 40px;height: 41px;background: #000; color:#fff;opacity:.8;font-size: 40px;line-height: 32px;text-align: center;z-index: 99999;}

	.button--expand {right: 4px;}

	.numeric, .inline-edit-field.numeric input {text-align: center;}
	p.L1 {margin-left: 1em; margin-bottom:10px;}
	p.L2 {margin-left: 2em;margin-bottom:10px;}
	p.L3 {margin-left: 3em;margin-bottom:10px;}
	hr.pagebreak {height:1px; background: transparent; border:none; display: none;}
	label.hots {font-weight: bold; display: block;}
	span.explan {color:#666;}

	.module-project.-develop {position: relative;}
	.module-project.-develop .sg-tabs>div {margin: 0; border:none;padding:0;}
	.module-project.-develop .page.-primary h3 {margin:48px 0 5px 0; padding: 16px; background:#eee; color:#333; border:1px #ddd solid; position: relative;}
	.module-project.-develop h5 {font-family: Tahoma; font-weight: bold; font-size: 1em; color: #333; text-align: left;}
	.module-project.-proposal h3 {margin:48px 0 5px 0; padding: 16px; background:#eee; color:#333; border:1px #ddd solid; position: relative;}



	#objective-indicators td:first-child {text-align: center;}
	#objective-indicators td {padding:0;}
	#objective-indicators p {margin:0;}

	.module-project.-develop em {color:green; font-style: normal;}
	.item.-problem>tbody>tr>td {vertical-align: top;}
	.item.-problem>tbody>tr>td:nth-child(n+2) {text-align: center;}

	.problemweight {display: inline-block; margin: 0 2px;}
	.problemweight>input {display: block;}

	.module-project.-develop .sg-tabs>div#owner {}
	.module-project.-develop .checkbox.-block.-level2 {padding-left: 32px;}

	span[data-type="textarea"] {border-top:1px #eaeaea solid;border-left:1px #eee solid;border-right:1px #eaeaea solid;}
	.module-project.-develop .form-info {position:relative;width:200px;margin-bottom:20px;padding:10px;display:block;right:0px;border:2px #000 solid; top:10px;}

	table.project-mainact-items {margin:20px 0;}
	.project-mainact-items>tbody>tr>td:nth-child(1) {width:10em;}
	.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
	.project-mainact-items>tbody>tr>td:nth-child(3) {width:20em;}
	.project-mainact-items>tbody>tr>td:nth-child(4) {width:12px;text-align: center;}



	.button--addtoobj {width: 100%;display: block;padding: 2px 0;margin: 0 0 40px 0; text-align: center;}

	.project-report-item {background: #fff; border:1px #ddd solid; box-shadow: none;}
	.project-toogle-display {position: absolute; right: 0; display: block; width:24px; height:100%; color:#fff; background-color: #e5e5e5; text-align: center; line-height: 100%; top:0; border-left:1px #ddd solid;}
	.project-toogle-display .icon {margin:0; position: absolute; right:0; top: calc(50% - 12px);}

	.module-project.-develop .__item h3 {padding:8px; font-size: 1.4em;border-radius: 4px; display: block; padding-right:32px; width: 140px; margin:0 0 0 auto;}
	.module-project.-develop .__item .icon {}


	#comment {display: none; padding:0 10px; position: fixed; top:0px; right:0; bottom:0; width:300px; right:0; background: #fff; height:100%; overflow: auto; z-index:1000;}
	#comment h2 {margin-left: 40px; padding:8px 0 8px 8px; font-size:1.6em;background: #058DC7; color:#fff;}
	#comment h3 {font-size:1.4em;}
	#comment .box {margin: 0; padding:0; background: transparent; box-shadow: none;}
	#comment button {margin:0 0 20px 10px; padding: 4px 10px;}
	#comment .form-item {text-align: right;}


	@media (min-width:48em) { /* 768/16 = 48 iPad */
		body#project {margin-right:320px;}
		.box {margin-right:3px;}
		.sg-dropbox>div {right:10px;}

		body#project {margin-right:0px;}
	}


	{$css-print}
		body {margin: 0 0 0 5mm; font: 14pt/14pt "AngsanaUPC", "Angsana New", "TH Sarabun New", Tahoma, Arial, Verdana, sans-serif; color: #000}
		h1 {display:none;}
		h2 {text-align: center;}
		h5 {font-size: 1em; margin:1em 0 0 0; }
		h6 {font-size: 1em; margin:1em 0 0 0; }
		p {margin:0; padding:0;}
		.noprint, *.-noprint, ul.tabs.-noprint {display: none;}
		hr.pagebreak {display: block;}
		.module-project .box {margin:0; padding:0; box-shadow: none; border:none;}
		.module-project.-develop .sg-tabs>div {padding:0; border:none;padding:0;}

		.module-project.-develop h2,
		.module-project.-develop h3,
		.module-project.-develop h4,
		.module-project.-develop h5,
		.module-project.-develop h6 {
			margin: 5px 5px 0 0;
			padding: 0;
			font: 14pt/14pt "AngsanaUPC","Angsana New","TH Sarabun New", Tahoma, Arial, Verdana, sans-serif;
			border:none;
			background: #fff;
			color: #000;
			font-weight: bold;
		}
		.module-project.-develop em {color: #666;}
		.module-project.-develop table.item table.item {border-left:none; margin-bottom:10px;}
		.module-project.-develop table.item table.item>thead>tr>th:nth-child(5) {border-right:none;}
		.module-project.-develop table.item table.item>tbody>tr>td:nth-child(5) {border-right:none;}
		.module-project.-develop table.item table.item>tfoot>tr>td:nth-child(5) {border-right:none;}
		.module-project.-develop table.project-develop-exp>thead>tr>th:nth-child(5) {border-right:none;}
		.module-project.-develop table.project-develop-exp>tbody>tr>td:nth-child(5) {border-right:none;}
		.module-project.-develop table.project-develop-exp>tfoot>tr>td:nth-child(5) {border-right:none;}

		.inline-edit-field {color:#000; display:inline-block; min-width:auto; min-height: auto; border-bottom: none; vertical-align: top;}
		.inline-edit-field.w-1 {min-width:auto;}
		.inline-edit-field.w-2 {min-width:auto;}
		.inline-edit-field.w-3 {min-width:auto;}
		.inline-edit-field.w-4 {min-width:auto;}
		.inline-edit-field.w-5 {min-width:auto;}
		.inline-edit-field.w-6 {min-width:auto;}
		.inline-edit-field.w-7 {min-width:auto;}
		.inline-edit-field.w-8 {min-width:auto;}
		.inline-edit-field.w-9 {min-width:auto;}
		.inline-edit-field.w-10 {min-width:auto;}
		.module-project.-develop.inline-edit .inline-edit-field {color:#000;}


		.module-project.-develop>.form-info {position:relative;width:200px;padding:10px;display:block;right:10px;border:2px #000 solid; top:0px;}
		table {margin: 20px 0; font-size: 14pt;}
		table p, #objective-indicators p {margin:0; padding: 0;}
		p.L1 {margin-left: 1cm; margin-bottom:10px;}
		p.L2 {margin-left: 2cm;margin-bottom:10px;}
		p.L3 {margin-left: 3cm;margin-bottom:10px;}
		input[type="checkbox"] {margin:0; padding:0; display:inline-block; vertical-align: middle;}
		span[data-type="textarea"] {border:none;}

		.project-mainact-items>tbody>tr>td:nth-child(1) {width:5em;}
		.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
		.project-mainact-items>tbody>tr>td:nth-child(3) {width:10em;}

		.project-mainact-items>thead>tr>th:nth-child(4) {display: none;}
		.project-mainact-items>tbody>tr>td:nth-child(4) {display: none;}
		.project-mainact-items>tfoot>tr>td:nth-child(4) {display: none;}

		table.item {border:none;}
		table.item tr td {border:none}
		table.item thead tr th {border:none;}

		table.project-develop-exp {border: none;}
		table.project-develop-exp>tbody>tr>td {border:none;}
		.project-develop-exp>thead>tr>th:nth-child(6) {display: none;}
		.project-develop-exp>tbody>tr>td:nth-child(6) {display: none;}
		.project-develop-exp>tfoot>tr>td:nth-child(6) {display: none;}


		@page port { size: portrait; }
		.portrait { page: port; }

		@page land { size: landscape; }
		body {margin:0;padding:0;}
		.landscape { page: land; }

		.landscape {
			width: 100%;
			height: 100%;
			font-size:12pt;
			-webkit-transform: rotate(-90deg);
			-moz-transform:rotate(-90deg);
			filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		}

		@media (min-width:48em) { /* 768/16 = 48 iPad */
			body#project {margin-right:0;}
			#comment {padding:0; position: relative; top:0px; right:0; bottom:0; width:auto; right:0; background: #fff; height:auto; overflow: auto; z-index:1;}
		}
	{$css-print-end}
</style>

