/* Page Layout */
.module-imed .imed-app>.imed-visits,
.module-imed .imed-app>.ui-card,
.module-imed .imed-app>.nav,
.module-imed .imed-app>#imed-care
	{background-color: transparent;}
.module-imed .imed-app .ui-card>.ui-item {background-color: #fff;}

/* .module-imed .imed-app.-with-sidebar {width: 100%; max-width: calc(100% - 56px);} */
.module-imed .package-footer {flex: 0 0 100%; display: none;}

.module-imed .item caption {background-color: #ececec;}

.module-imed .imed-app>section {padding: 0;}

.toolbar {padding:0;border-radius:0;border:none;background:#fff;}
.toolbar>ul {height:35px;margin:0 5px 0 0;padding:0;display:inline-block;}
.toolbar>ul>li>a {margin:0 1px 0 0;padding:0 5px;color:#eee;background:#339900;border:none;border-radius:0px;line-height:35px;display:inline-block;}
.toolbar>ul>li>a:first-child {border:none;border-radius:0px;}
.toolbar>ul>li>a:last-child {border:none;border-radius:0px;}
.toolbar>ul>li>a:hover {color:#444;background:#f60;border:none;}
.toolbar>ul>li>select {background:#fff;border:none;width:100%;overflow:hidden;border:1px #ddd solid;border-left:none;border-right:none;}
.toolbar>ul.menu-sub {margin-top:5px;clear:both;}
.toolbar>ul.menu-sub>li>a {background:#BA55D3;border-radius:0px;}
.toolbar>ul.menu-sub>li>a:hover {background:#f60;}


.patient--type--chronic.active {border-bottom:2px red solid;}
.patient--type--disabled.active {border-bottom:2px blue solid;}
.patient--type--elder.active {border-bottom:2px gray solid;}

/* @group inlineedit */
#imed-patient-carer .editable {width:auto;min-width:auto;display:block}
/* @end */

.button.float {padding: 2px 10px; margin:0;background: #44609D; border:1px #44529B solid; border-radius: 0; color:#fff; font-weight: bold; cursor: pointer;}


#sidePanel{width:34px; height:34px; top:5px; margin-left:4px; position:absolute; overflow:hidden; background:transparent; z-index:100;}
#panelHandle{width:32px; height:32px; margin:0; position:absolute; border:1px #ccc solid; border-radius:0 2px 2px 0; cursor:pointer;}
#panelContent{width:220px; padding:0px 0; margin-top:-1px; position:relative; top:34px; left:-1000px; background-color:#EEEEEE; border:1px #cccccc solid;}
#panelHandle h2 {height:32px; color: #FFFFFF; background:#333; font-size: 16px; font-weight: bold; margin: 0; padding: 0; line-height:32px; position: relative; display:none;}

.report-form {width: calc(100% - 8px); margin:0 0 8px 0; position: relative; background: #fff; border: none; border-radius: 0; padding: 4px;}
	.report-form h3 {margin:0; padding:8px; font-size: 1.3em; font-weight: normal; color:#333; border-radius: 0;}
	.report-form .toolbar {position:relative; height:63px; margin:0 35px 5px 31px; width: calc( 100% - 60px); float: left; overflow:hidden;}
	.report-form .toolbar>ul {width:2000px;height:60px;margin:0;padding:0;float:left;background:#f2f2f2;border-top:1px #cccccc solid;border-bottom:2px #cccccc solid;position:relative;list-style-type: none;}
	.report-form .toolbar>ul>li {width:91px;height:100%;float:left;border-top:1px #cccccc solid;border-bottom:2px #cccccc solid;border-left:1px #dddddd solid;border-right:none;border-top:none;position:relative;}
	.report-form .toolbar>ul>li:last-child {border-right:1px #DDDDDD solid;}
	.report-form .toolbar>ul>li:hover {border-bottom:2px #FF7D13 solid;}
	.report-form .toolbar>ul>li>a {padding:0px 0 0 15px;font-size:10pt;display:block;background:transparent;color:#666;}
	.report-form .toolbar>ul>li>a:hover {color:#444;background:#eee;border:none;}
	.report-form .toolbar>ul>li.active {background:#fff;border-bottom:2px #66BD29 solid;}
	.report-form .toolbar>ul>li>a:focus {outline:none; }
	.report-form .optionbar {clear:both;}
	.report-form .optionbar>ul {margin:5px 0 0 0;padding:0;list-style-type:none;}
	.report-form .optionbar>ul>li {margin:0 5px 0 0;padding:5px 3px;display:inline-block;border:none;}
	.report-form .optionbar .btn.-graph {border:none;box-shadow: none;background-color: #ddd;border-radius:3px;}
	.report-form .optionbar .btn.-graph.active {background-color:#f60;color:#fff;}

	.report-form a.left, .report-form a.right {width:30px; margin:0; padding:0; display:block; height:60px; position:absolute; text-align:center; font-size:20px; line-height:60px; background:#F5F5F5; border-top:1px #cccccc solid; border-bottom:2px #cccccc solid; border-left:1px #dddddd solid; border-right:1px #dddddd solid;}
	.report-form a.left {left:4px; border-radius: 4px 0 0 4px;}
	.report-form a.left:focus {outline:none;}
	.report-form a.right {right:4px; border-radius: 0 4px 4px 0;}
	.report-form a.right:focus {outline:none;}
	.report-form a.left .icon, .report-form a.right .icon {margin-top: 18px;}
	.report-form .form-select {background-color: #fff;}
	.report-form .toolbar select {margin:0; border:none; height:24px;}
	.report-form .toolbar .form-select {margin:0;}
	.report-form .form-select option:focus {outline:none;}

	.report-form .form-item label {display:inline-block;}
	.report-form label[for="prov"],
	.report-form label[for="ampur"],
	.report-form label[for="tambon"],
	.report-form label[for="village"] {display: none;}
	.report-form #tambon,
	.report-form #village {display: none;}
	.report-form .btn.-main {width: auto; margin:0; position: absolute; top: 0px; right:4px;}
	.report-form .btn.-main .icon {border-radius: 50%; opacity: 0.7; background-color: #4f96da;}

/* @group imed */
/* @package iMed */
.imed-box {margin:0 0 16px 0; box-shadow: 0 0 0 1px #97A4C4; border-radius: 0; position:relative; z-index:1; background: #fff;}

.imed-box .myWrite {display: none;}


.imed-box .nav.-imed {margin:0; padding:2px 0;position: relative; background: #dde4f3;}
	.imed-box .nav.-imed>h2 {margin:0; padding: 0 8px 0 50px; font-weight:normal;font-size:14pt; line-height: 36px; letter-spacing:2px; position: absolute; text-indent: -999em;}
	.imed-box .nav.-imed .ui-main {display: flex; flex-wrap: wrap; margin: 0 0 2px 0; justify-content: flex-end;}
	.imed-box .nav.-imed .ui-main>li {margin: 0;}
	.imed-box .nav.-imed a {height: 32px; padding: 0 8px; line-height: 32px; display: block; overflow: hidden;}
	.imed-box .nav.-imed a>.icon {margin-right:4px;}
	.imed-box .nav.-imed a>img {height: 24px; width: 24px; margin: 0 4px 0 0; vertical-align: middle; border-radius: 50%;}
	.imed-box .nav.-imed a:hover:not(#imed-patient-add) {background-color: #FFFFFF; border-radius: 4px;}
	.imed-box .nav.-imed .ui-main>.ui-item.-sep>hr {display: none;}
	.imed-box .nav.-imed .ui-item.-search {flex: 1 0 60%; position: relative; order: 1; top: 2px;}
	.imed-box .nav.-imed .ui-item.-search .patient-search {width: calc(100% - 110px); position: absolute; margin-left: 4px;}
	.imed-box .nav.-imed .ui-item.-search .icon.-search {position:absolute; top: 8px; right: 54px; background-color: #fff;}
	.imed-box .nav.-imed #imed-patient-add {width: 25px; height: 25px; position: absolute; right: 4px; top: 0; padding: 5px; background-color: green; box-shadow: none;}
	.imed-box .nav.-imed .ui-main>.ui-item.nav-patient.-home>a {margin-left: 10px;}
	.imed-box .nav.-imed .ui-main>.ui-item.nav-patient.-member {max-width: 80px; max-height: 32px; overflow: hidden; display: inline-block;}
	.imed-box .nav.-imed .ui-main>.ui-item.nav-patient.-help {max-width: 40px;}


.imed-box .patient-photo {}
	.imed-box .patient-photo>img { width: 32px; height: 32px; margin: 0 0 0 4px; padding:1px;float:left;display:inline-block;border:1px #B4BBCD solid; border-radius: 3px; background-color: #fff;}
	.imed-box .patient-photo>span {
		width:0px;
		height:0px;
		margin-top:13px;
		display:inline-block;
		border-bottom:5px solid transparent;  /* left arrow slant */
		border-top:5px solid transparent; /* right arrow slant */
		border-left:5px solid #B4BBCD; /* bottom, add background color here */
		font-size:0px;
		line-height:0px;
	}



/*
.imed-box .nav {height:41px; background: #fff;}
.imed-box .nav>ul {height:100%;margin:0;padding:0;list-style-type:none;}
.imed-box .nav>ul>li {height:100%; display:inline-block;border-right:1px #E5E5E5 solid;}
*/
.imed-box .myWrite {width: calc( 100% - 10px ); margin:4px;padding:0;border:1px #e6e6e6 solid;font-size:1em;position: relative; background: #fff;}
.imed-box .myWrite .writeBox {width: calc( 100% - 8px );height:60px;margin:0;padding:4px;border:none;display:block;background:#fff; resize: none;overflow: auto; box-shadow: none;}
.imed-box .myWrite .writeBox:focus {outline:none; }
.imed-box #imed-patient-photo {width:69px;height:69px;margin-top:4px;border-left:1px #e6e6e6 solid;position:absolute;left:371px;z-index:1;}

.module-imed #map_canvas {width:100%;height:600px;}


.myWrite {}
	.myWrite .toolbar {margin:0;padding:0; min-height:61px;background:#F2F2F2 none;border:none;border-top:1px #e6e6e6 solid;border-radius:0;position:relative;}
	.myWrite .toolbar ul {height:auto;margin:0;padding:0;overflow:hidden;}
	.myWrite .toolbar ul li {margin:0;padding:0; display: inline-block; text-align: center;}
	.myWrite .toolbar ul li a {height:auto; margin: 0; padding: 6px 2px; color: #333; display: block; border: none; border-right: 1px #e6e6e6 solid; background: transparent; line-height: 24px; overflow: hidden;}
	.myWrite .toolbar ul li a>span {display: block;}
	/* .toolbar>ul>li>a {margin:0 1px 0 0;padding:0 5px;color:#eee;background:#339900;border:none;border-radius:0px;line-height:35px;display:inline-block;} */
	.myWrite .toolbar ul li a:hover {background:#e9e9e9;}
	.myWrite .toolbar .post {position: absolute;top: 0; right: 0;}
	.myWrite .toolbar .post li {display:inline;}
	.myWrite .toolbar .post form {}
	.myWrite .toolbar .post button {margin:2px;padding:4px 16px;}
	.myWrite .toolbar #patient-info {margin-right: 60px;}

	.myWrite .toolbar ul#patient-vitalsign {width:220px;height:69px;margin-top:-70px;background:#fff;border-left:1px #e6e6e6 solid;display:block;position:absolute;top:0;right:0;overflow:hidden;}
	.myWrite .toolbar ul#patient-vitalsign>li {width:100px;height:21px;margin:1px 7px 0 0;padding:0;display:block;float:left;text-align:center;line-height:19px;}
	.myWrite .toolbar ul#patient-vitalsign>li>span.editable {display:block;}
	.myWrite .toolbar ul#patient-vitalsign>li input {width:90px;text-align:center;}
	.myWrite .toolbar ul#patient-vitalsign>li a {width:104px;height:19px;margin:1px 0 0 5px;padding:0;border:none;display:block;background:#f5f5f5;line-height:19px;border:1px #e6e6e6 solid;}
	.myWrite .toolbar ul#patient-vitalsign>li a:hover {background:#fff;font-style:italic;border:1px #ccc solid;}











#imed-side-status h3 {margin:0 4px; padding:8px 0;font-size:1.4em;text-align:center;color:#fff;background:#999;}
#imed-side-status h4 {padding:4px;text-align:center;background:#eee; font-weight: normal;}
#imed-side-status ul.tabs {margin:0;}
#imed-side-status>div.tabs {border:none;padding:0;}
#imed-side-status>div.tabs>div {display: none;}
.imed-my-status {display: none;}

#imed-side-status .widget {width: 100%; margin: 0 0 20px 0; padding: 0; background: #fff; overflow: hidden; border: 1px #aaa solid; border-top: 1px #315C99 solid;}
#imed-side-status .widget h2 {height: 32px; margin: 0 0 10px 0; padding: 0 0 0 10px; line-height: 32px; font-size: 1em; text-align: center; background: #EDEFF4; border-bottom: 1px #C6CEDD solid;}
#imed-side-status .widget-content {margin: 0 5px;}

#myPartient>ul {margin: 10px 0;padding: 0; list-style-type: none; text-align: center; font-size: 0.7em;}
#myPartient>ul>li {width: 25%; height: 64px; margin: 0 0 10px 0; float: left; overflow: hidden;}
#myPartient>ul>li>a>img {display: block; margin: 0 auto;}




.sg-form.-imed-visit {background-color: #fff; margin: 0 0 16px;}
.sg-form.-imed-visit .remark {padding: 8px; olor: #999; font-size: 0.9em; font-style: italic;}

.imed-visits {margin: 8px 0; flex: 0 0 100%;}
	.imed-visits .-vitalsign {padding: 0 8px 8px 8px; color: #AAA; font-size: 0.9em;}

	.imed-visits .nav.-card {padding: 4px 0; border-top: 1px #f5f5f5 solid; font-size: 0.9em;}
	.imed-visits .nav.-card form {padding: 0; margin: 0;}
	.imed-visits .nav.-card .btn>span {display: none;}
	.imed-visits .nav.-card .fileinput-button {padding: 6px;}

	.imed-visits .ui-album {margin: 8px 0; justify-content: flex-start;}
	.imed-visits .ui-album>.ui-item {width: 100px;}

	.imed-visits .-needs>* {padding: 2px; margin: 4px;}
	.imed-visits .-needs .-title>.-title-text {font-weight: normal; font-size: 0.9em;}
	.imed-visits .-needs .-status {width: 24px; height: 24px; padding: 4px; display: inline-block; border-radius: 50%; border: 1px #ccc solid; color: #ccc;}
	.imed-visits .-needs .-status>.icon {color: #999;}
	.imed-visits .-needs .-level-1.-wait .-status {background-color: #ffff6f; border: 1px #e8e86c solid;}
	.imed-visits .-needs .-level-5.-wait .-status {background-color: #ffeadc; border: 1px #ffceae solid;}
	.imed-visits .-needs .-level-9.-wait .-status {background-color: #ffcaca; border: 1px #ffafaf solid;}

	.imed-visits .-needs .-done .-status {border: 1px green solid; background-color: green;}
	.imed-visits .-needs .-done .-status>.icon {color: #f2fff2;}

	.imed-visits .-needs .-trailing {display: none;}
	.imed-visits .-needs>.-need:hover {background-color: #f5f5f5;}
	.imed-visits .-needs>.-need:hover .-trailing {display: block;}

	.imed-visits .-q9-level.-level-0 {color: green;}
	.imed-visits .-q9-level.-level-1 {color: #dada00;}
	.imed-visits .-q9-level.-level-2 {color: orange;}
	.imed-visits .-q9-level.-level-3 {color: red;}



.comment_link>input {background:transparent;border:none;padding:0;margin:0;}

.popup-profile {font-size: 9pt;}
.popup-profile img {width: 200px; height: 200px; margin: 0 auto; display: block; border-radius: 50%;}
.popup-profile span {display:block;}
.popup-profile .name {font-weight:bold;}

table#imed-patient-individual>tbody>tr>td:first-child {width:150px;}
table#imed-patient-info>tbody>tr>td:first-child  {width:150px;}
table#imed-patient-defect>tbody>tr>td:first-child  {width:150px;}
table#imed-patient-individual {position:relative;}
img#patient-info-photo {width: 130px; height: 130px; position: absolute;  top: 0; right: 0; border-radius: 50%;}

.imed-box .navBar {
	margin:0;
	padding:0 0 4px 0;
	background:#EBEEF4;
}
#navBar div {margin:0 10px;display:inline-block;}
#navBar>div>a {font-weight:bold;}
#navBar div img {margin:0 5px 0 0;padding:0;vertical-align:middle;}

#friendSearch {width: 200px;margin:0;background:#FEFEFE;float:left;position:relative;top:7px;}
#friendSearch input.form-text {width:170px;margin:0;}
#friendSearch input.form-text:hover, #friendSearch input.form-text:focus {background:#fff;}
#friendSearch button {
	width:24px;
	height:18px;
	margin:6px 0 0 0;
	padding:0;
	cursor:pointer;
	border:none;
	border-radius: 0 2px 2px 0;
	position:absolute;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
}
#imageform {display:inline;}

.hidden_elem {display:none;}

#imed-add-patient {border:1px #ccc solid; padding:16px;}






#search-member  {margin:10px; padding: 0;}

#map_canvas .imed-patient-photo {width: auto; height: 100%; margin:0 20px 10px 0; display: block; float: left;}
#map_canvas .imed-partiant-info {width: 460px; height: 200px;}




.imed__adminuserform {position: relative;}
.imed__adminuserform button {position: absolute; right:10px; top:0;}





.imed-qt {}
	.imed-qt h3 {}
	.imed-qt h4 {font-size: 1.4em; background: #eee; padding: 4px 16px; margin: 32px 0 0 0;}
	.imed-qt .qt-item {padding: 8px 0;}
	.imed-qt .label {display: block; padding: 4px; font-weight: bold;}
	.imed-qt .label em {font-weight: normal;}
	.imed-qt .value {padding: 0 0 0 32px; display: block;}
	.imed-qt .inline-edit-item.-block {padding: 8px;}
	.imed-qt .qt-item.-subqt {padding-left: 48px;}


.imed-illness-status {background-color: #fff; padding: 0;}
.imed-illness-status>.-item>.-status {width: 36px; height: 36px; padding: 16px; border-radius: 50%; position: relative; overflow: hidden;}
.imed-illness-status>.-item>.-status .icon {width: 36px; height: 36px; padding: 0; font-size: 36px; color: #ccc;}
.imed-illness-status>.-item>.-status.-green .icon {color: green;}
.imed-illness-status>.-item>.-status.-yellow .icon {color: #f9dc00;}
.imed-illness-status>.-item>.-status.-red .icon {color: red;}
.imed-illness-status>.-item>.-admit>a {background-color: red; color: #fff; box-shadow: none;}
.imed-illness-status>.-item>.-admit .icon {color: #fff;}




/* iMed App */
.imed-app h2.title {display:none;}
.imed-app h3 {font-size:1.2em;text-align:left; border-radius: 8px; padding: 8px; margin: 0 0 8px 0; font-size: 1.4em;}
.imed-app .header {padding: 0;}
.imed-app .header>h3 {margin: 0; padding: 0 8px;}
.imed-app .btn-floating {width: auto;}
.imed-app .nav.-social .ui-item.-create {position: absolute; right: 0;}
.imed-app .nav.-social .ui-item.-create .btn {margin-right: 0; background-color: green; box-shadow: 0 0 0 1px #2A8947 inset; color: #fff;}
.imed-app .nav.-social .ui-item.-create .btn>.icon {opacity: 1; color: #fff;}
.imed-app .nav.-social .ui-item.-create .btn>span {opacity: 1;}
.imed-app .page.-map {height: 600px;}

.imed-social-patient-form {display: flex; margin: 0 0 8px 0;}
.imed-social-patient-form>* {margin-right: 8px;}
.imed-social-patient-form h3.title {margin: 0 8px 0 0; white-space: nowrap; padding: 0; font-size: 1.2em; padding: 0 8px; line-height: 48px; background-color: transparent; font-family: sans-serif; font-weight: bold;}
.imed-social-patient-form .form-item.-edit-name {width: 100%;}
.imed-social-patient-form .form-select {width: 64px;}
.imed-social-patient-form .btn {}



.module-imed .sidebar {width: 100px;}
.module-my.-softganz-app .sidebar {display: none;}
.module-imed .imed-sidebar>h3 {font-size: 1.4em; padding: 8px; display: none;}
.module-imed .imed-sidebar .ui-menu span {display: none;}
.module-imed .imed-sidebar {flex: 0 0 34px;}

/* end */


.module-imed.-app {}
.module-imed.-app .page.-main>section {flex: 1 0 100%; background-color: transparent;}
	.module-imed.-app .noteUnitMenu>a {margin:0; padding: 8px;}
	.module-imed.-app .ui-card.-patient {flex-grow: 1; margin: 16px 0; padding: 0px;}
	.module-imed.-app .ui-card.-patient>* {margin-left: 0; margin-right: 0; flex: 1 0 100%; border: none; box-shadow: none;}


@media (min-width:30em) {		/* 480/16 = 30 */
	.imed-box .nav.-imed>h2 {text-indent: 0;}
}



@media (min-width:40em) {		/* 640/16 = 40 */
	.module-imed .imed-sidebar {flex: 0 0 180px;}
	.module-imed .imed-sidebar.-status {flex-basis: 240px;}
	.module-imed .imed-app {}

	.imed-box .nav.-imed>h2 {position: relative;}
	.imed-box .nav.-imed .ui-main {position: absolute; top: 0; left: 100px; right:0; flex-wrap: nowrap; white-space: nowrap;}
	.imed-box .nav.-imed .ui-item.-search {order: initial; flex: 1 0 45%;}
	.imed-box .nav.-imed .ui-item.-sep {flex-grow: 2; display: block;}

	.imed-my-status {display: block;}
	.noteUnitPhoto>li {width: 48%;}


	.module-imed .imed-sidebar .ui-menu span {display: initial;}
	.module-imed .imed-sidebar>h3 {display: block;}

	.module-imed.-app .ui-card.-patient>* {flex: 0 0 49%;}

	.imed-visits>.ui-item {border-radius: 8px;}
	.imed-visits .nav.-card .btn>span {display: inline-block;}
	.myWrite .toolbar ul li a {padding-left: 6px; padding-right: 6px;}

}



@media (min-width:45em) {		/* 720/16 = 45 */
	.module-imed .imed-app {overflow: hidden;}
	.imed-box .nav.-imed .ui-main {left: 130px;}
	.imed-box .nav.-imed .ui-item.-search {}
	.myWrite .toolbar ul li a {padding-left: 12px; padding-right: 12px;}
}



@media (min-width:48em) {		/* 768/16 = 48 */
}



@media (min-width:50em) {		/* 800/16 = 50 */
	.noteUnitPhoto>li {width: 32%;}
	.imed-box .nav.-imed .ui-main {left: 244px;}
}



@media (min-width:61.25em) {		/* 980/16 = 61.25 */
	.imed-box .myWrite .writeBox {max-width: 500px; border: none; box-shadow: none;}
	.imed-box .nav.-imed .ui-item.-sep {width: 64px;}
}



@media (min-width: 73.125em) {
}
/* @end */