.map-gis-nav {width: 240px; height:100%; position:absolute; background: #e0e0e0; overflow-x:auto; z-index: 1;}
.map-gis-map {width: auto; margin-left:240px; margin-right:208px; height: 600px; background: #eee;}

.map-gis-nav>h2 {text-align: center; font-size: 1.4em;}
.map-gis-nav ul {margin:0 0 0 10px; padding:0; list-style-type: none;}
.map-gis-nav>ul>li {margin-bottom: 20px;}
.map-gis-nav>ul>li>a {font-weight:bold; font-size:1em;}

.map-gis-folder {padding-left:10px; background: transparent url(http://www.onep.go.th/seaeast/library/img/arrow.8.png) left 6px no-repeat;}
.map-gis-folder.-expand {background-image: url(http://www.onep.go.th/seaeast/library/img/arrow.down.1.png);}

.map-gis-info {position: absolute; width: 200px; height:600px; padding:0 4px; right:0; background: #eee; opacity:1.0; z-index: 100; overflow:auto;}

.map-gis-color {margin:0 4px; display: inline-block; width: 20px; height:12px; }
.map-gis-layer:after {
	content: " ";
	background-color: #9FFF9D;
	display: inline-block;
	visibility: visible;
}

.map-gis-layer:checked:after {
	content: "\2714";
}

.map-gis-folder {background-color: #053EC5; color:#fff; font-size:1.1em; display: block; margin:4px 0 0 0; border-radius: 4px; padding:4px 0 4px 16px; background-position: 4px center;}