<!--
<div class="form-info"><p align="center" style="margin:0;padding:5px; border-bottom:1px #666 solid;">สำหรับเจ้าหน้าที่ สสส.</p><p style="padding:0 5px;">รหัสโครงการ : {$prid}</p><p style="padding:0 5px;">วันที่ :  <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>/<u>25&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p></div>
-->

<div id="owner">
<h2>แบบเสนอโครงการ</h2>

<h3>1. ชื่อโครงการ</h3>
<em class="noprint">ควรสั้น กระชับ เข้าใจง่าย และสื่อสาระของสิ่งที่จะทำอย่างชัดเจน ควรจะระบุชื่อชุมชนในชื่อโครงการเพื่อความสะดวกในการค้นหา</em>
<div class="box">
<p><label class="hots">ชื่อโครงการ</label><span class="{$datainput} w-10" data-group="topic" data-fld="title" data-test="HELLO"></span></p>
<p><label class="hots">ชุดโครงการ</label><span class="{$admininput} w-10" data-group='topic' data-fld="projectSetName"></span></p>
<p><label class="hots">ชื่อและที่อยู่ชุมชนที่เสนอโครงการ</label><span class="{$datainput} w-10" data-fld="project-commune"></span>
</p>
<p class="explan">ระบุ หมู่บ้าน/ชุมชน ตำบล อำเภอ จังหวัด</p>
</div>


<div class="box">
<p>
<label class="hots">ชื่อ-นามสกุลผู้ผู้เสนอโครงการ</label>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="name-leader-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="name-leader"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="name-leader-lastname"></span>
</p>
<p>ตำแหน่งในชุมชน <span onclick="" data-fld="name-leader-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span></p>
<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput}" data-fld="name-leader-cid"></span></p>
<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="name-leader-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="name-leader-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="name-leader-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="name-leader-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="name-leader-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="name-leader-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="name-leader-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="name-leader-zip"></span>
</p>
<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="name-leader-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="name-leader-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="name-leader-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="name-leader-email"></span>
</p>
</div>

<h3>2. ประเภทโครงการ</h3>
<div class="box">
<!--
<p>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการใหม่" /> เป็นโครงการใหม่</abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="project-type" data-fld="project-type" value="โครงการต่อเนื่อง" /> เป็นโครงการต่อเนื่อง</abbr>
</p>
<p><em>
**  โครงการใหม่  หมายถึง เป็นโครงการที่ยังไม่เคยได้รับทุนสนับสนุนจาก สสส.<br />
**  โครงการต่อเนื่อง หมายถึง เป็นโครงการต่อเนื่องจากโครงการที่เคยได้รับทุนจาก สสส.
</em>
</p>
-->
<h4>ประเด็นหลัก</h4>
<p>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-group="dev" data-fld="category" value="1" /> เศรษฐกิจพอเพียง<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="2" /> เกษตรอินทรีย์/ลดใช้สารเคมี<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="3" /> การจัดการขยะ<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="4" /> การจัดการทรัพยากรธรรมชาติ<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="5" /> สร้างเสริมสุขภาพในชุมชน/ออกกำลังกาย/อาหารปลอดภัย/การจัดการภาวะน้ำหนักเกิน/บริโภคผัก ผลไม้<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="6" /> การดูแลระบบสุขภาพ/โรคเรื้อรัง<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="7" /> การเปลี่ยนแปลงพฤติกรรมการดื่มสุรา/การสูบบุหรี่<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="8" /> การลดอุบัติเหตุทางถนน<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="9" /> สร้างเสริมครอบครัวอบอุ่น<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="10" /> สร้างเสริมศักยภาพเยาวชน<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="11" /> สร้างเสริมคุณค่าผู้สูงอายุเป็นสุข<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="12" /> สร้างเสริมอาชีพ<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="13" /> การจัดการหนี้สิน<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="14" /> สร้างเสริมกลุ่มออมทรัพย์<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="15" /> ชุมชนน่าอยู่/ สร้างความเข้มแข็งชุมชน/ จัดการข้อมูลชุมชน/ วางแผน/ ปฏิบัติ ระบบกลไกชุมชน สภาผู้นำชุมชน<br /></abbr>
<abbr class="checkbox"><input type="radio" data-type="radio" class="{$datainput}" name="category" data-group="dev" data-fld="category" value="99" /> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="category-other"></span><br /></abbr>
</p>
</div>

<a name="ownername" id="ownername"></a>
<h3>3. ผู้รับผิดชอบโครงการ</h3>
<em>
** ผู้รับผิดชอบโครงการ หมายถึงผู้ดำเนินการหลักของโครงการ อาจเป็นหรือไม่เป็นหัวหน้าองค์กรก็ได้
</em>

<h6>คุณสมบัติการเสนอโครงการ</h6>
<em>
<ol>
<li><strong>ผู้รับผิดชอบโครงการและผู้ร่วมรับผิดชอบโครงการอย่างน้อย 3-5 คน ประกอบด้วยผู้ใหญ่บ้านหรือประธานชุมชน สมาชิก อบต. เจ้าหน้าที่สาธารณสุข  ข้าราชการที่อยู่ในชุมชน หรือตัวแทนกลุ่มต่าง ๆ</strong> ในชุมชนที่มีอยู่เดิม เช่น กลุ่มออมทรัพย์ ชมรมผู้สูงอายุ หรือกลุ่มอื่นๆ เป็นองค์ประกอบหลักในการดำเนินโครงการ</li>
<li>ต้องมีภูมิลำเนาอยู่ในหมู่บ้าน หรือตำบลนั้นๆ  มีความตั้งใจ/ความมุ่งมั่นอดทนในการพัฒนาโครงการ  มีศักยภาพที่จะบริหารจัดการโครงการให้สำเร็จได้ และมีโครงสร้างการบริหารจัดการโครงการที่ชัดเจน</li>
</ol>
</em>

<div class="box">
<h4>1. ชื่อ-นามสกุลผู้เสนอโครงการ</h4>

<p>คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="owner-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="owner-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="owner-lastname"></span></p>
<p>ตำแหน่งในชุมชน <span onclick="" data-fld="owner-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="owner-position-other"></span></p>

<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="owner-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="owner-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="owner-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="owner-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="owner-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="owner-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="owner-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="owner-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="owner-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="owner-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="owner-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="owner-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="owner-email"></span>
</p>
</div>

<a name="teamname" id="teamname"></a>
<h3>4. รายชื่อผู้ร่วมทำโครงการ/คณะทำงาน (อย่างน้อย 3-5 คน)</h3>

<div class="box">
<h4>รายชื่อผู้ร่วมรับผิดชอบโครงการ คนที่ 1</h4>

<p>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-1-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="coowner-1-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="coowner-1-lastname"></span>
</p>
<p>ตำแหน่งในชุมชน <span onclick="" data-fld="coowner-1-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="coowner-1-position-other"></span></p>
<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-1-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-1-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-1-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-1-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="coowner-1-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-1-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-1-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="coowner-1-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-1-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-1-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-1-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="coowner-1-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-1-email"></span>
</p>

<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
<span onclick="" data-fld="coowner-1-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span></p>
</div>

<div class="box">
<h4>รายชื่อผู้ร่วมรับผิดชอบโครงการ คนที่ 2</h4>

<p>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-2-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="coowner-2-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="coowner-2-lastname"></span>
</p>

<p>ตำแหน่งในชุมชน <span onclick="" data-fld="coowner-2-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="coowner-2-position-other"></span></p>

<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-2-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-2-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-2-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-2-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="coowner-2-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-2-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-2-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="coowner-2-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-2-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-2-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-2-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="coowner-2-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-2-email"></span>
</p>

<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
<span onclick="" data-fld="coowner-2-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span></p>
</div>

<div class="box">
<h4>รายชื่อผู้ร่วมรับผิดชอบโครงการ คนที่ 3</h4>

<p>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-3-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="coowner-3-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="coowner-3-lastname"></span>
</p>

<p>ตำแหน่งในชุมชน <span onclick="" data-fld="coowner-3-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="coowner-3-position-other"></span></p>

<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-3-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-3-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-3-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-3-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="coowner-3-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-3-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-3-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="coowner-3-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-3-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-3-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-3-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="coowner-3-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-3-email"></span>
</p>
<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
<span onclick="" data-fld="coowner-3-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span></p>
</div>

<div class="box">
<h4>รายชื่อผู้ร่วมรับผิดชอบโครงการ คนที่ 4</h4>

<p>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-4-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="coowner-4-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="coowner-4-lastname"></span>
</p>

<p>ตำแหน่งในชุมชน <span onclick="" data-fld="coowner-4-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="coowner-4-position-other"></span></p>

<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-4-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-4-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-4-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-4-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="coowner-4-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-4-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-4-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="coowner-4-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-4-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-4-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-4-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="coowner-4-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-4-email"></span>
</p>

<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
<span onclick="" data-fld="coowner-4-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span></p>
</div>

<div class="box">
<h4>รายชื่อผู้ร่วมรับผิดชอบโครงการ คนที่ 5</h4>

<p>
คำนำหน้าชื่อ <span class="{$datainput} w-1" data-fld="coowner-5-prename"></span>
ชื่อ <span class="{$datainput} w-3" data-fld="coowner-5-name"></span>
นามสกุล <span class="{$datainput} w-3" data-fld="coowner-5-lastname"></span>
</p>

<p>ตำแหน่งในชุมชน <span onclick="" data-fld="coowner-5-position" class="{$datainput}" data-type="select" data-data='{
"กำนัน":"กำนัน",
"ผู้ใหญ่บ้าน":"ผู้ใหญ่บ้าน",
"ประธานชุมชน":"ประธานชุมชน",
"กรรมการหมู่บ้าน/ชุมชน":"กรรมการหมู่บ้าน/ชุมชน",
"อสม.":"อสม.",
"สมาชิก อบต.":"สมาชิก อบต.",
"สมาชิกเทศบาล":"สมาชิกเทศบาล",
"เจ้าหน้าที่สาธารณสุข":"เจ้าหน้าที่สาธารณสุข",
"สภาองค์กรชุมชน":"สภาองค์กรชุมชน",
"อื่น ๆ":"อืน ๆ",
}'></span> อื่น ๆ (โปรดระบุ) <span class="{$datainput} w-3" data-fld="coowner-5-position-other"></span></p>


<p>เลขที่ประจำตัวประชาชน 13 หลัก&nbsp;&nbsp;&nbsp; <span class="{$datainput} w-3" data-fld="coowner-5-cid"></span></p>

<h5>ที่อยู่ตามบัตรประชาชน</h5>
<p>
บ้านเลขที่ <span class="{$datainput} w-1" data-fld="coowner-5-address"></span>
หมู่ที่ <span class="{$datainput} w-1" data-fld="coowner-5-moo"></span>
ตรอก/ซอย <span class="{$datainput} w-2" data-fld="coowner-5-soi"></span>
ถนน <span class="{$datainput} w-2" data-fld="coowner-5-road"></span>
ตำบล/แขวง <span class="{$datainput} w-2" data-fld="coowner-5-tambon"></span>
อำเภอ/เขต <span class="{$datainput} w-2" data-fld="coowner-5-ampur"></span>
จังหวัด <span class="{$datainput} w-2" data-fld="coowner-5-changwat"></span>
รหัสไปรษณีย์ <span class="{$datainput} w-1" data-fld="coowner-5-zip"></span>
</p>

<p>
เบอร์โทรศัพท์ที่ติดต่อได้สะดวก <span class="{$datainput} w-1" data-fld="coowner-5-phone"></span>
เบอร์มือถือ <span class="{$datainput} w-1" data-fld="coowner-5-mobile"></span>
โทรสาร <span class="{$datainput} w-1" data-fld="coowner-5-fax"></span>
อีเมล์ <span class="{$datainput} w-2" data-fld="coowner-5-email"></span>
</p>

<p>บทบาทหน้าที่/ความรับผิดชอบในโครงการนี้
<span onclick="" data-fld="coowner-5-role" class="{$datainput}" data-type="select" data-data='{"การเงิน":"การเงิน","สื่อประชาสัมพันธ์":"สื่อประชาสัมพันธ์","ข้อมูลวิชาการ":"ข้อมูลวิชาการ","ประสานงาน":"ประสานงาน","กิจกรรม":"กิจกรรม","ไอที":"ไอที","อื่น ๆ":"อื่น ๆ"}'></span></p>
</div>



</div><!--tab : owner -->





<div id="detail">
<br /><h3>5. ระยะเวลาดำเนินงาน</h3>
<p>วันเริ่มต้น <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_from" data-type="datepicker" data-ret="date:ว ดดด ปปปป"></span></strong> กำหนดเสร็จ <strong><span class="{$datainput} w-2" data-group="dev" data-fld="date_end" data-type="datepicker" data-ret="date:ว ดดด ปปปป"></span></strong></p>


<h3>6. รายละเอียดของโครงการ</h3>

<div style="padding:0 20px; background: #eee; border:1px #ccc solid;">
<em><h5>คำแนะนำ</h5>
<ul><li>กรุณาให้รายละเอียดในหัวข้อที่กำหนดไว้ให้เพียงพอต่อการพิจารณา เพื่อคณะกรรมการผู้ทรงคุณวุฒิ จะใช้เป็นข้อมูลสำคัญในการพิจารณาอนุมัติการสนับสนุนโครงการ</li>
<li>ความกระจ่างชัดของเอกสารที่อ่านแล้วเข้าใจถึงจุดมุ่งหมาย วิธีการดำเนินการ ลักษณะการทำงานร่วมกันกับคนหลากหลาย การใช้เงินและทรัพยากรที่มีในชุมชนมาทำให้กิจกรรมบรรลุเป้าหมาย คนที่ร่วมคิดร่วมทำแต่ละคนมีบทบาทอย่างไร ฯลฯ มีผลต่อการพิจารณาอนุมัติโครงการ</li></ul></em>
</div>

<a name="link-4-1" id="link-4-1"></a>
<div class="box">
<a name="link-4-3" id="link-4-3"></a>
<p class="L0"><strong>6.1 ปัจจัยอะไรที่เป็นสาเหตุของปัญหาและปัจจัยอะไรที่เอื้อต่อการแก้ปัญหาที่ระบุในโครงการ</strong></p>

<p class="L1">1. ปัจจัยที่เกี่ยวข้องกับคน (เช่น ความรู้ ความตระหนัก พฤติกรรม ความเชื่อ จิตวิญญาณ)</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="factor-human" data-type="textarea"></span></p>

<p class="L1">2. ปัจจัยที่เกี่ยวข้องกับสภาพแวดล้อม (เช่น วิถีชีวิต วัฒนธรรม ศาสนา การศึกษา เศรษฐกิจ การเมือง นโยบาย เทคโนโลยี สิ่งแวดล้อม)</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="factor-environment" data-type="textarea"></span></p>

<p class="L1">3. ปัจจัยที่เกี่ยวข้องกับกลไก (เช่น ระบบสาธารณสุข กลไกของกลุ่ม และเครือข่ายในชุมชน กลไกท้องถิ่น กลไกของหน่วยราชการในชุมชน กลไกสื่อสารสาธารณะ)</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="factor-mechanism" data-type="textarea"></span></p>

<a name="link-4-4" id="link-4-4"></a>
<p class="L0"><strong>6.2 ท่านจะใช้แนวทางสำคัญ วิธีการสำคัญ หรือกลวิธีดำเนินงานที่สำคัญอะไร อย่างไร เพื่อการแก้ไขปัญหาดังกล่าว</strong></p>

<p class="L1">1. กลวิธีที่เกี่ยวข้องกับคน กลุ่มคน</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="strategies-human" data-type="textarea"></span></p>

<p class="L1">2. กลวิธีที่เกี่ยวข้องกับการปรับสภาพแวดล้อม</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="strategies-environment" data-type="textarea"></span></p>

<p class="L1">3. กลวิธีที่เกี่ยวข้องกับการสร้างและปรับปรุงกลไก</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="strategies-mechanism" data-type="textarea"></span></p>

<p class="L0"><strong>6.3 ผลจากการดำเนินโครงการท่านคาดว่าจะเกิดการเปลี่ยนแปลงปัจจัยต่อไปนี้อย่างไร</strong></p>

<p class="L1">1. การเปลี่ยนของคนและกลุ่มคนในชุมชน</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="conversion-human" data-type="textarea"></span></p>

<p class="L1">2. การเปลี่ยนแปลงสภาพแวดล้อมในชุมชนที่เอื้อต่อชุมชนน่าอยู่</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="conversion-environment" data-type="textarea"></span></p>

<p class="L1">3. การเปลี่ยนแปลงของกลไกในชุมชน</p>
<p class="L1"><span class="{$datainput} w-10" data-fld="conversion-mechanism" data-type="textarea"></span></p>
</div>

<h3>7. วัตถุประสงค์และตัวชี้วัด การดำเนินงาน</h3>
<em>
<ul>
<li>บอกจุดมุ่งหมายในการดำเนินงานโครงการ และสิ่งที่ต้องการให้เกิดผลจากการดำเนินงานโครงการ  วัตถุประสงค์นี้จะต้อง <strong>เฉพาะเจาะจง วัดได้จริง แสดงโอกาสที่จะเกิดผลสำเร็จ สอดคล้องกับหลักการและเหตุผล ในระยะเวลาที่กำหนด</strong></li>
<li><strong>ตัวชี้วัด</strong> ให้ระบุความชัดเจนว่า เมื่อดำเนินการตามโครงการเสร็จแล้ว จะเกิดการเปลี่ยนแปลงหรือบรรลุผลสำเร็จอะไรบ้างและมากน้อยเพียงใด  และควรแสดงให้เห็นถึงการเปลี่ยนแปลงเป็นรูปธรรมวัดผลได้ และระบุตัวชี้วัดความสำเร็จของโครงการทั้งในระดับผลผลิตและผลลัพธ์ที่สอดคล้องกับวัตถุประสงค์</li>
</ul>
</em>

<div class="sg-load " id="project-develop-objective" data-url="project/develop/objective/{$tpid}"></div>

<hr class="pagebreak">

<a name="link-9" id="link-9"></a>
<a name="plan"></a>
<h3>8. แผนการดำเนินงาน</h3>

<em><ul><li><strong>กิจกรรม</strong> แสดงขั้นตอนการทำกิจกรรมและกระบวนการดำเนินงาน เขียนให้ละเอียดว่าจะทำอะไร อย่างไร จึงจะสำเร็จตามวัตถุประสงค์หรือเป้าหมายที่วางไว้ เขียนให้เห็นลำดับเป็นขั้นเป็นตอน</li><li><strong>งบประมาณ</strong> ในแต่ละกิจกรรม ขอให้จำแนกรายการค่าใช้จ่ายต่างๆ โดยละเอียด</li></ul></em>
<div class="widget " id="project-develop-plan" widget-request="project/develop/plan/{$tpid}"></div>

<hr class="pagebreak" />

<h4>งบประมาณโครงการ</h4>
<p>จำนวนงบประมาณที่ต้องการสนับสนุนจาก กองทุนตำบล จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-thaihealth" data-ret="numeric"></span> บาท <em>(ไม่เกิน 200,000 บาท)</em></p>
<p>งบประมาณสมทบจาก <span class="{$datainput} w-2" data-type="select" data-fld="project-budget-orgname" data-data='{"":"", "องค์กรปกครองส่วนท้องถิ่น":"องค์กรปกครองส่วนท้องถิ่น","หน่วยราชการ":"หน่วยราชการ","แหล่งทุนอื่น":"แหล่งทุนอื่น"}'></span> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-org" data-ret="numeric"></span> บาท</p>
<!-- <p>แหล่งทุนอื่น ๆ <span class="{$datainput} w-2" data-fld="project-budget-other"></span> บาท</p> -->
<p><strong>งบประมาณรวม</strong> จำนวน <span class="{$datainput} numeric w-2" data-fld="project-budget-all" data-ret="numeric"></span> บาท</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>ลงชื่อ .......................... ผู้เสนอแผนงาน/โครงการ/กิจกรรม</p>
<p>(<span style="display:inline-block;width:13em;"></span>)</p>
<p>ตำแหน่ง .........................</p>
<p>วันที่ ....... เดือน ................ พ.ศ. ........</p>
</div><!--tab : detail -->




<hr class="pagebreak" />


<div id="comment">
<h2>ภาคผนวกที่ 3 ความเห็น</h2>

<!--
<h3>1. ความเห็นของ สจรส.ม.อ. - พี่เลี้ยง</h3>
<h4>เหตุผลที่ควรให้การสนับสนุน</h4>
<h4>1. บริบทชุมชนในปัจจุบันมีความเข้มแข็งของชุมชนที่สามารถจัดการตนเองอย่างไร เช่น คน, กลไกชุมชน, กระบวนการในชุมชน, การจัดการข้อมูล, การจัดการแผน รวมถึงการบริหารจัดการของชุมชน</h4>
<p><span class="{$comment-hsmi-input} w-10" data-fld="comment-hsmi-problem" data-type="textarea"></span></p>

<h4>2. การดำเนินโครงการนี้ จะทำให้ชุมชนน่าอยู่ เข้มแข็ง จัดการตนเองได้อย่างไร เช่น คนในชุมชนมีศักยภาพเพิ่มขึ้นอย่างไร, เกิดกระบวนการชุมชนทั้งเรื่อง การจัดการข้อมูล, แผน, เกิดกลไกการบริหารจัดการเพื่อการขับเคลื่อนของชุมชนอย่างไร</h4>
<p><span class="{$comment-hsmi-input} w-10" data-fld="comment-hsmi-how" data-type="textarea"></span></p>

<h4>3. การดำเนินงานของโครงการ จะแก้ปัญหาหรือสร้างนวัตกรรมอะไรเกิดขึ้นบ้าง อย่างไร</h4>
<p><span class="{$comment-hsmi-input} w-10" data-fld="comment-hsmi-innovention" data-type="textarea"></span></p>

<h4>4. อื่น ๆ</h4>
<p><span class="{$comment-hsmi-input} w-10" data-fld="comment-hsmi-other" data-type="textarea"></span></p>


<h3>2. ความเห็นของ สสส. - ผู้ทรงคุณวุฒิ</h3>

<p><span class="{$comment-sss-input} w-10" data-fld="comment-sss" data-type="textarea"></span></p>
-->

<h3>1. ความเห็นของทีมสนับสนุนวิชาการ (พี่เลี้ยง) , สจรส.มอ. และ ผู้ทรงคุณวุฒิ</h3>
<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>1. การมีส่วนร่วม</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-1" data-fld="rating-indicator-1" value="1" /> 1
</p>
<h5>2. ผู้นำ/แกนชุมชน</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-2" data-fld="rating-indicator-2" value="1" /> 1
</p>
<h4>การพัฒนาโครงการ</h4>
<h5>มีผู้รับผิดชอบโครงการ และแกนนำในชุมชน</h5>
<ul>
<li><a href="#ownername">ผู้รับผิดชอบโครงการ</a></li>
<li><a href="#teamname">รายชื่อผู้เข้าร่วมทำโครงการ/คณะทำงาน</a></li>
<li><a href="#leadername">รายชื่อแกนนำในชุมชน พร้อมประสบการณ์ในการทำงาน</a></li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>เกิดกลไกขับเคลื่อนในพื้นที่ เช่น สภาผู้นำ/กลุ่ม/เครือข่าย</li>
</ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-1"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>3. โครงสร้างองค์กร</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-3" data-fld="rating-indicator-3" value="1" /> 1
</p>
<h4>การพัฒนาโครงการ</h4>
<h5>โครงสร้างชุมชน ทุนของชุมชน</h5>
<ul>
<li><a href="#ownername">ผู้รับผิดชอบโครงการ</a></li>
<li><a href="#teamname">รายชื่อผู้เข้าร่วมทำโครงการ/คณะทำงาน</a></li>
</ul>
<h5>การวิเคราะห์และอธิบายทุนที่มีอยู่ในชุมชน</h5>
<ul>
<li><a href="#link-3-1">ผู้นำและแกนนำ</a></li>
<li><a href="#link-3-2">กลุ่ม องค์กร หน่วยงานและเครือข่าย</a></li>
<li><a href="#link-3-3">วิถีชีวิต ประเพณี วัฒนธรรม</a></li>
<li><a href="#link-3-4">ภูมิปัญญา</a></li>
<li><a href="#link-3-5">ศูนย์เรียนรู้</a></li>
<li><a href="#link-3-6">กระบวนการมีส่วนร่วมของชุมชน</a></li>
<li><a href="#link-3-7">เครือข่ายเศรษฐกิจชุมชน</a></li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul><li>เกิดกลไกขับเคลื่อนในพื้นที่ เป็นส่วนสำคัญในโครงสร้างชุมชน เช่น กรรมการหมู่บ้าน กรรมการชุมชน เป็นต้น</li></ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-3"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>4. การประเมินปัญหา</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-4" data-fld="rating-indicator-4" value="1" /> 1
</p>
<h5>5. การถามว่าทำไม</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-5" data-fld="rating-indicator-5" value="1" /> 1
</p>
<h4>การพัฒนาโครงการ</h4>
<h5>การวิเคราะห์สภาพปัญหาในชุมชน/เลือกปัญหา</h5>
<ul>
<li><a href="#link-4-1">ปัญหาในชุมชนและจัดลำดับความสำคัญ</a></li>
</ul>
<h5>การวิเคราะห์ปัจจัยที่มีผลต่อการจัดการปัญหา (คน สภาพแวดล้อมกลไก)</h5>
<ul>
<li><a href="#link-4-3">ปัจจัยสาเหตุและปัจจัยเอื้อต่อการแก้ปัญหา</a></li>
</ul>
<h5>การวิเคราะห์และจัดทำแนวทางการจัดการปัญหา</h5>
<ul>
<li><a href="#link-4-4">แนวทางสำคัญ วิธีการสำคัญเพื่อแก้ไขปัญหา</a></li>
</ul>
<h5>การมีแผนชุมชน</h5>
<ul>
<li><a href="#ref1">ภาคผนวก 1 ข้อมูลชุมชน</a></li>
<li><a href="#ref2">ภาคผนวก 2 ข้อมูลแผนชุมชน </a></li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul><li>มีฐานข้อมูลชุมชน (ปัญหาของชุมชน , ปัญหาเฉพาะประเด็น)</li></ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-4"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>6. การระดมทรัพยากร</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-6" data-fld="rating-indicator-6" value="1" /> 1
</p>
<h5>7. การเชื่อมโยงภายนอก</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-7" data-fld="rating-indicator-7" value="1" /> 1
</p>
<h4>การพัฒนาโครงการ</h4>
<h5>แผนการดำเนินการมีภาคีร่วมสนับสนุน อะไร อย่างไร งบประมาณที่ร่วมสนับสนุน</h5>
<ul><li><a href="#link-9">แผนการดำเนินงาน ภาคีร่วมสนับสนุน</a></li></ul>
<h4>การติดตามประเมินผล</h4>
<ul><li>การระดมทรัพยากรและการเชื่อมโยงภายนอก มีการบรรจุอยู่ใน แผนชุมชน แผน อบต./เทศบาล แผนของหน่วยงาน</li></ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-6"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>8. บทบาทตัวแทน</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-8" data-fld="rating-indicator-8" value="1" /> 1
</p>
<h5>ตัวแทนภายใน</h5>
<ul>
<li>ผู้รับผิดชอบโครงการเป็นตัวแทนชุมชน มีกระบวนการชี้แจง ประชุมชุมชนก่อนเริ่มโครงการ</li>
<li>มีกระบวนการติดตามประเมินผลโครงการโดยชุมชน</li>
<li>มีการประเมินผลระหว่างโครงการ</li>
<li>มีการประเมินผลหลังการทำโครงการ</li>
</ul>
<h5>ตัวแทนภายนอก</h5>
<ul>
<li>มีระบบพี่เลี้ยง หนุนเสริม เชื่อมประสานกับหน่วยงานภาคีที่เกี่ยวข้องทั้งภายใน และภายนอกชุมชน</li>
</ul>
<h4>การพัฒนาโครงการ</h4>
<h5>ตัวแทนภายใน และตัวแทนภายนอก</h5>
<ul>
<li><a href="#link-9">แผนการดำเนินงาน กิจกรรม</a></li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>ผู้รับผิดชอบโครงการเข้าไปมีส่วนร่วมในกลุ่ม / เครือข่าย หรือ หน่วยงานทั้งภายในและภายนอกชุมชน</li>
<li>ผู้รับผิดชอบโครงการยกระดับเป็นพี่เลี้ยง</li>
</ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-8"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>9. การบริหารจัดการ</h5>
<p align="right">คะแนน
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="5" /> 5
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="4" /> 4
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="3" /> 3
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="2" /> 2
<input type="radio" data-type="radio" class="{$datainput}" name="rating-indicator-9" data-fld="rating-indicator-9" value="1" /> 1
</p>
<h4>การพัฒนาโครงการ</h4>
<ul>
<li>การใช้ระบบพัฒนาโครงการบนเว็บไซต์</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>การใช้ระบบติดตามประเมินผลบนเว็บไซต์ (รายงาน, การเงิน)</li>
</ul>
<h4>ข้อเสนอแนะเพิ่มเติม</h4>
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-9"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.1 เกิดความรู้ หรือ นวัตกรรมชุมชน</h5>
<ul>
<li>ความรู้ใหม่/องค์ความรู้ใหม่</li>
<li>สิ่งประดิษฐ์/ผลผลิตใหม่</li>
<li>กระบวนการใหม่</li>
<li>วิธีการทำงาน/การจัดการใหม่</li>
<li>การเกิดกลุ่ม/โครงสร้างในชุมชนใหม่</li>
<li>แหล่งเรียนรู้ใหม่</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul><li>การเกิดความรู้ หรือ นวัตกรรมชุมชน</li></ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-1"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.2 เกิดการปรับเปลี่ยนพฤติกรรมที่เอื้อต่อสุขภาพ</h5>
<ul>
<li>การดูแลสุขอนามัยส่วนบุคคล</li>
<li>การบริโภค</li>
<li>การออกกำลังกาย</li>
<li>การลด ละ เลิก อบายมุข</li>
<li>การลดพฤติกรรมเสี่ยง</li>
<li>การจัดการอารมณ์ / ความเครียด</li>
<li>การดำรงชีวิต / วิถีชีวิต</li>
<li>พฤติกรรมการจัดการตนเองครอบครัว</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>การเกิดการปรับเปลี่ยนพฤติกรรมที่เอื้อต่อสุขภาพ</li>
</ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-2"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.3 การสร้างสภาพแวดล้อมที่เอื้อต่อสุขภาพ (กายภาพ สังคม และเศรษฐกิจ)</h5>
<ul>
<li>กายภาพ เช่น มีการจัดการขยะ ป่า น้ำ</li>
<li>สังคม เช่น มีความปลอดภัยในชีวิตและทรัพย์สิน มีการใช้ศาสนา/วัฒนธรรมเป็นฐานการพัฒนา</li>
<li>เศรษฐกิจสร้างสรรค์สังคม /สร้างอาชีพ</li>
<li>มีการบริการสุขภาพทางเลือก และมีช่องทางการเข้าถึงระบบบริการสุขภาพ</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>การสร้างสภาพแวดล้อมที่เอื้อต่อสุขภาพ (กายภาพ สังคม และเศรษฐกิจ)</li>
</ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-3"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.4 การพัฒนานโยบายสาธารณะที่เอื้อต่อสุขภาวะ</h5>
<ul>
<li>มีกฎ / กติกา ของกลุ่ม ชุมชน</li>
<li>มีมาตรการทางสังคมของกลุ่ม ชุมชน</li>
<li>มีธรรมนูญของชุมชน</li>
<li>อื่นๆ เช่น ออกเป็นข้อบัญญัติท้องถิ่น</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>การพัฒนานโยบายสาธารณะที่เอื้อต่อสุขภาวะ</li>
</ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-4"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.5 เกิดกระบวนการชุมชน</h5>
<ul>
<li>เกิดการเชื่อมโยงประสานงานระหว่างกลุ่ม / เครือข่าย</li>
<li>การเรียนรู้การแก้ปัญหาชุมชน (การประเมินปัญหา การวางแผน การปฏิบัติการ และการประเมิน)</li>
<li>การใช้ประโยชน์จากทุนในชุมชน เช่น การระดมทุน</li>
<li>มีการขับเคลื่อนการดำเนินงานของกลุ่มและชุมชนที่เกิดจากโครงการอย่างต่อเนื่อง</li>
<li>เกิดกระบวนการจัดการความรู้ในชุมชน</li>
<li>เกิดทักษะในการจัดการโครงการ เช่น การใช้ข้อมูลในการตัดสินใจ</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>การเกิดกระบวนการชุมชน</li>
</ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-5"></div>
</div>

<div class="box">
<h4>ตัวชี้วัดการประเมิน</h4>
<h5>10. คุณค่าที่เกิดขึ้น</h5>
<h5>10.6 มิติสุขภาวะปัญญา / สุขภาวะทางจิตวิญญาณ</h5>
<ul>
<li>ความรู้สึกภาคภูมิใจในตัวเอง / กลุ่ม / ชุมชน</li>
<li>การเห็นประโยชน์ส่วนรวมและส่วนตนอย่างสมดุล</li>
<li>การใช้ชีวิตอย่างเรียบง่าย และพอเพียง</li>
<li>ชุมชนมีความเอื้ออาทร</li>
<li>มีการตัดสินใจโดยใช้ฐานปัญญา</li>
</ul>
<h4>การติดตามประเมินผล</h4>
<ul>
<li>มิติสุขภาวะปัญญา / สุขภาวะทางจิตวิญญาณ</li>
</ul>
<div class="x-widget request" widget-request="project/develop/comment/{$tpid}/comment-10-6"></div>
</div>

<div class="box project-develop-ratingindicator">
<h4>คะแนนตัวชี้วัดการประเมิน</h4>
<p style="font-size:1.2em;font-weight:bold;">คะแนนตัวชี้วัด = {$ratingIndicator}/45 = {$ratingPercent}%</p>
<p><em>กรุณาคลิกรีเฟรชเพื่อคำนวนคะแนนตัวชี้วัดใหม่</em></p>
</div>

<h3>2. สรุปภาพรวมข้อเสนอโครงการ</h3>
<div class="box">
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-summary"></div>
</div>

<h3>3. ความเห็นภาพรวมของผู้ทรงคุณวุฒิ</h3>
<div class="box">
<div class="widget request" widget-request="project/develop/comment/{$tpid}/comment-commentator"></div>
</div>


<div class="x-widget request" widget-request="project/develop/comment/{$tpid}"></div>

<div class="" data-x-load="project/develop/comment/{$tpid}"></div>

</div><!--tab : comment -->

<a class="button--expand noprint" href="#">&gt;</a>

<style type="text/css">
/*
table {border-left: 2px gray solid; border-top: 2px gray solid;}
table th {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: middle;}
table td {border-right: 2px gray solid; border-bottom: 2px gray solid; vertical-align: top;}
*/
.button--expand {position: fixed; top:0; right:270px; display: block;width: 40px;height: 39px;background: #000; color:#fff;opacity:.5;font-size: 40px;line-height: 32px;text-align: center;z-index: 9999;}

.box {margin:16px 0; padding: 4px 8px; box-shadow: 2px 2px 2px #aaa; border-top:1px #ddd solid;border-left:1px #ddd solid;}
.numeric, .inline-edit-field.numeric input {text-align: center;}
p.L1 {margin-left: 1em; margin-bottom:10px;}
p.L2 {margin-left: 2em;margin-bottom:10px;}
p.L3 {margin-left: 3em;margin-bottom:10px;}
hr.pagebreak {height:1px; background: transparent; border:none; display: none;}
label.hots {font-weight: bold; display: block;}
span.explan {color:#666;}

.module-project .__develop .__view {position: relative;}
.module-project .__develop .__view .sg-tabs>div {padding-top:8px; border:1px #ccc solid; border-top:none;padding:0 16px;}
.module-project .__develop .__view h2 {margin-top:0;padding:4px 0;}
.module-project .__develop .__view h3 {margin:0px 0 5px 0; padding: 4px; background:#ddd; border:1px #ccc solid;}
.module-project .__develop .__view h4 {margin: 30px 0 10px 0;}
.module-project .__develop .__view h5 {font-family: Tahoma; font-weight: bold; font-size: 1em; color: #333; text-align: left;}
#objective-indicators td:first-child {text-align: center;}
#objective-indicators td {padding:0;}
#objective-indicators p {margin:0;}

.module-project .__develop .__view em {color:green; font-style: normal;}
.item.-problem>tbody>tr>td {vertical-align: top;}
.item.-problem>tbody>tr>td:nth-child(n+2) {text-align: center;}

.problemweight {display: inline-block; margin: 0 2px;}
.problemweight>input {display: block;}

.module-project .__develop .__view .box>h4 {margin-top:0;padding:4px 0;}
.module-project .__develop .__view .sg-tabs>div#owner {}

span[data-type="textarea"] {border-top:1px #eaeaea solid;border-left:1px #eee solid;border-right:1px #eaeaea solid;}
.module-project .__develop .__view .form-info {position:relative;width:200px;margin-bottom:20px;padding:10px;display:block;right:0px;border:2px #000 solid; top:10px;}

table.project-mainact-items {margin:20px 0;}
.project-mainact-items>tbody>tr>td:nth-child(1) {width:10em;}
.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
.project-mainact-items>tbody>tr>td:nth-child(3) {width:20em;}
.project-mainact-items>tbody>tr>td:nth-child(4) {width:12px;text-align: center;}


.button--addtoobj {width: 100%;display: block;padding: 2px 0;margin: 0 0 40px 0; text-align: center;}
.button--addtoobj {display: none;}

.project-report-item {background: #fff; border:1px #ddd solid; box-shadow: none;}

@media (min-width:48em) { /* 768/16 = 48 iPad */
	/* body#project {margin-right:320px;} */
	.box {margin-right:3px;}
	#comment {padding:0 10px; position: fixed; top:0px; right:0; bottom:0; width:300px; right:0; background: #fff; height:100%; overflow: auto; z-index:1;}
	#comment h2 {padding:8px 0;font-size:1.6em;background: #058DC7; color:#fff;}
	#comment h3 {font-size:1.4em;}
	#comment .box {background: #f0f0f0;}
	#comment button {margin:0 0 20px 10px; padding: 4px 10px;}
	#comment .form-item {text-align: right;}
	.sg-dropbox>div {right:10px;}
}


{$css-print}
	body {margin: 0 0 0 5mm; font: 14pt/14pt "AngsanaUPC", "Angsana New", "TH Sarabun New", Tahoma, Arial, Verdana, sans-serif; color: #000}
	h1 {display:none;}
	h2 {text-align: center;}
	h5 {font-size: 1em; margin:1em 0 0 0; }
	h6 {font-size: 1em; margin:1em 0 0 0; }
	p {margin:0; padding:0;}
	.noprint {display: none;}
	hr.pagebreak {display: block;}
	.box {margin:0; padding:0; box-shadow: none; border:none;}
	.module-project .__develop .__view .sg-tabs>div {padding:0; border:none;padding:0;}

	.module-project .__develop .__view h2,
	.module-project .__develop .__view h3,
	.module-project .__develop .__view h4,
	.module-project .__develop .__view h5,
	.module-project .__develop .__view h6 {
		margin: 5px 5px 0 0;
		padding: 0;
		font: 14pt/14pt "AngsanaUPC","Angsana New","TH Sarabun New", Tahoma, Arial, Verdana, sans-serif;
		border:none;
		background: #fff;
		color: #000;
		font-weight: bold;
	}
	.module-project .__develop .__view em {color: #666;}
	.module-project .__develop .__view table.item table.item {border-left:none; margin-bottom:10px;}
	.module-project .__develop .__view table.item table.item>thead>tr>th:nth-child(5) {border-right:none;}
	.module-project .__develop .__view table.item table.item>tbody>tr>td:nth-child(5) {border-right:none;}
	.module-project .__develop .__view table.item table.item>tfoot>tr>td:nth-child(5) {border-right:none;}
	.module-project .__develop .__view table.project-develop-exp>thead>tr>th:nth-child(5) {border-right:none;}
	.module-project .__develop .__view table.project-develop-exp>tbody>tr>td:nth-child(5) {border-right:none;}
	.module-project .__develop .__view table.project-develop-exp>tfoot>tr>td:nth-child(5) {border-right:none;}

	.inline-edit-field {color:#000; display:inline-block; min-width:auto; min-height: auto; border-bottom: none; vertical-align: top;}
	.inline-edit-field.w-1 {min-width:auto;}
	.inline-edit-field.w-2 {min-width:auto;}
	.inline-edit-field.w-3 {min-width:auto;}
	.inline-edit-field.w-4 {min-width:auto;}
	.inline-edit-field.w-5 {min-width:auto;}
	.inline-edit-field.w-6 {min-width:auto;}
	.inline-edit-field.w-7 {min-width:auto;}
	.inline-edit-field.w-8 {min-width:auto;}
	.inline-edit-field.w-9 {min-width:auto;}
	.inline-edit-field.w-10 {min-width:auto;}
	.module-project .__develop .__view.inline-edit .inline-edit-field {color:#000;}


	.module-project .__develop .__view>.form-info {position:relative;width:200px;padding:10px;display:block;right:10px;border:2px #000 solid; top:0px;}
	table {margin: 20px 0; font-size: 14pt;}
	table p, #objective-indicators p {margin:0; padding: 0;}
	p.L1 {margin-left: 1cm; margin-bottom:10px;}
	p.L2 {margin-left: 2cm;margin-bottom:10px;}
	p.L3 {margin-left: 3cm;margin-bottom:10px;}
	input[type="checkbox"] {margin:0; padding:0; display:inline-block; vertical-align: middle;}
	span[data-type="textarea"] {border:none;}

	.project-mainact-items>tbody>tr>td:nth-child(1) {width:5em;}
	.project-mainact-items>tbody>tr>td:nth-child(2) {width:auto;}
	.project-mainact-items>tbody>tr>td:nth-child(3) {width:10em;}

	.project-mainact-items>thead>tr>th:nth-child(4) {display: none;}
	.project-mainact-items>tbody>tr>td:nth-child(4) {display: none;}
	.project-mainact-items>tfoot>tr>td:nth-child(4) {display: none;}

	table.item {border:none;}
	table.item tr td {border:none}
	table.item thead tr th {border:none;}

	table.project-develop-exp {border: none;}
	table.project-develop-exp>tbody>tr>td {border:none;}
	.project-develop-exp>thead>tr>th:nth-child(6) {display: none;}
	.project-develop-exp>tbody>tr>td:nth-child(6) {display: none;}
	.project-develop-exp>tfoot>tr>td:nth-child(6) {display: none;}

	@page port { size: portrait; }
	.portrait { page: port; }

	@page land { size: landscape; }
	body {margin:0;padding:0;}
	.landscape { page: land; }

	.landscape {
		width: 100%;
		height: 100%;
		font-size:12pt;
		-webkit-transform: rotate(-90deg);
		-moz-transform:rotate(-90deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

	@media (min-width:48em) { /* 768/16 = 48 iPad */
		body#project {margin-right:0;}
		#comment {padding:0; position: relative; top:0px; right:0; bottom:0; width:auto; right:0; background: #fff; height:auto; overflow: auto; z-index:1;}
	}
{$css-print-end}


</style>