/*
Project css version 3.10.1
*/
.module-project {}
	.module-project div.header-description {margin:0 0 5px 0px;padding:10px 0;background:#fff none;border:none;border-radius:0;}
	.module-project div.header-description a {font-weight:bold;}
	.module-project #ribbon {display:none;margin:0;border:1px #c2c2c2  solid;border-radius:3px;position:absolute;width:18px;background:transparent;border:none;overflow:hidden;}
	.module-project #ribbon-toolbar {margin:2px 10px;}
	.module-project #paper-footer {clear:both;}
	.module-project #main>.timestamp {display:none;}
	.module-project #user-menu {width:18px;overflow:hidden;}
	.module-project #user-menu li a {border:none;}
	.module-project #form-item-edit-comment-subject {display:none;}
	.module-project form#edit-comment>fieldset, .module-project form#edit-comment input.button-preview {display:none;}

	.module-project .app-output {width:100%; height:700px; 	background:#eee; 	border:none;}

.ownerphoto {margin:0 4px;border-radius: 128px; vertical-align: middle;}


.module-project .box {margin:16px 0 64px 0; padding: 8px; box-shadow: 4px 4px 8px 2px hsla(0, 0%, 0%, 0.15);}
	.module-project .box h3 {background-color: #bfbfbfdd; color:#000; padding:8px;margin-bottom:4px;}
	.module-project .box>.header>h3 {padding: 0; padding-left: 8px; margin: 0;}
	.module-project .box .form {padding-bottom: 16px; text-align: left; box-shadow: 0 0 0 1px #ffeb9a inset; background-color: #fff9e0;}
	.module-project .box .form .title {background-color: #ecdd8f; margin: 32px 0; text-align: center; color:#000;}
	.module-project .box .form>.form-item {padding-left: 16px; padding-right: 16px;}
	.module-project .box .form>.form-item.-edit-save {padding: 16px; text-align: right;}

.module-project .project-info-docs>.project-form-upload-docs {display: flex; flex-wrap: wrap; align-items: flex-end;}
	.module-project .project-info-docs>.form>.form-item {margin: 8px 0; padding: 0 16px; flex: 0 0 calc(100% - 32px);}
	.module-project .project-info-docs>.form>.form-item.btn.-upload {margin: 8px 16px; padding: 5px 16px 6px; flex: 0 0 calc(100% - 64px);}
	.module-project .project-info-docs>.form>.form-item.btn.-upload>label {font-weight: normal;}
	.module-project .project-info-docs>.form>.form-item.-edit-document-title>select {width: 100%; border-radius: 18px;}
	.module-project .project-info-docs>.form>.form-item.-edit-document-save>.btn {width: 100%;}

.module-project .-sg-box {}
	.module-project .-sg-box h3 {background-color: #bfbfbfdd; color:#000; padding:8px;margin-bottom:4px;}


.project-detail {}
	.project-detail .--plan td {padding: 8px 0;}
	.project-detail .--objective {}
	.project-detail h3 {background: #ccc; padding: 8px; margin:4px 0;}


.project-info {margin:0 0 40px 0;}

.project-info-problem .inline-edit-field.-title,
.project-info-problem .inline-edit-field.-title .form-text {font-weight: bold;}
.project-info-problem .inline-edit-view.-title {font-weight: bold;}

.project-info-objective .inline-edit-field.-title,
.project-info-objective .inline-edit-field.-title .form-textarea {font-weight: bold;}
.project-info-objective .inline-edit-view.-title {font-weight: bold;}


.project-detail .form.-upload {box-shadow: 0 0 0 1px #ddd inset; border-radius: 2px; padding: 4px 8px;}

.project-problem-detail-item {color: #999; font-size: 0.9em; line-height: 1.4em;}


.project-info-map {width:100%;height:700px;margin:0 0 4px 0;background:#99B3CC;}
.project-info-map #map_canvas {width:100%;height:100%;}


div#project-map {width:100%;height:200px;margin:0 0 4px 0;background:#99B3CC;}
div#project-map #map_canvas {width:100%;height:100%;}
div#project-map .project-status {text-align: center;padding:2px 0; font-weight:normal;}
div#project-map .project-status-1 {background: green; color:#fff;}

.project-risk {height:20px; background:#999; font-size:9pt; text-align: center; position: relative; color:#fff;}
	.project-risk>.text {position: absolute; z-index: 1; width: 100%; left: 0; top: 0;}
	.project-risk>.project-risk-bar {display: block; height:100%; background: #FF4300; position: absolute; top:0;}
	.project-risk .-level-1 {width:10%;}
	.project-risk .-level-2 {width:20%;}
	.project-risk .-level-3 {width:30%;}
	.project-risk .-level-4 {width:40%;}
	.project-risk .-level-5 {width:50%;}
	.project-risk .-level-6 {width:60%;}
	.project-risk .-level-7 {width:70%;}
	.project-risk .-level-8 {width:80%;}
	.project-risk .-level-9 {width:90%;}
	.project-risk .-level-10 {width:100%;}

.project__member {list-style-type:none; margin:0; padding:0; line-height: 24px;}
	.project__member>li {margin:0 10px 5px 0;display:inline-block; border:1px #ddd solid; border-radius: 24px;}
	.project__member>li>img {width:24px;height:24px;margin-right:5px; border-radius: 50%;background-color: #ddd; float:left; display: block;}
	.project__member>li>a {width: 24px;margin:0 0 0 10px; height:24px; line-height: 24px;border-radius: 50%; text-align: center; display: inline-block; color:#999;}
	.project__member>li>a:hover {color:#666;}

	.project-addowner {margin:16px;}




fieldset#project-info {width:50%;float:left;}
fieldset#poster-info {width:45%;float:right;}

.project-plan {}
.project-plan-list {margin:0 0 40px 0; padding: 0; border: 1px #ccc solid; border-top: none;}
.project-plan-list>.nav {margin: 0; padding: 16px 8px;}
.project-plan-list .header-group>td {vertical-align: middle;}
.project-plan-list .header-group>td:first-child {font-size: 1.6rem; padding: 0 8px;}
.project-plan-list .header-group>td:nth-child(n+2) {text-align: center;}

.item.-project-plan-list td {padding:8px 0;}
.item.-project-plan-list tr.calendar.-has-child>td.-title {font-weight: bold;}
.item .form-item {margin:0}

.project-object-info>div { margin:0 0 20px 0; padding:5px; border:1px #ccc solid;}
.project-object-field {margin-bottom:20px; display: block; font-size: 1.8em; line-height:1.2em; font-family: "RSU"; color: #058DC7;}

#project-provlist {list-style-type: none; margin:0; padding: 0;}
#project-provlist>li {margin:0 0 2px 0; padding:2px 4px; border:1px #ccc solid; position: relative;}
#project-provlist>li>a {width:16px; height:16px; line-height: 16px; text-align: center; display: inline-block; margin:0; border:1px #ccc solid; border-radius: 20px; position: absolute; right:2px;}


#project-list .header-agrno, #project-list .col-agrno {display: none;}
ul.project-list {width:200px; margin:0; padding: 0; position: absolute; margin-top: 30px; right:7px; z-index: 1; list-style-type: none;}
ul.project-list>li {margin:4px 0; background: #fff; box-shadow: 1px 1px 2px #aaa; position: relative;opacity: .7;}
ul.project-list>li>a {font-size: 1.1em; padding: 4px; display: block;}
ul.project-list>li>p { top:50%; right:0; margin: 0; padding: 0; color:#666; font-size: 0.85em;}
.app-output {width:75%; float:left;}
.project-map-info {width: 300px;}

#project-notify>ul>li>a {width:10px; height: 10px; margin:-10px 0 0 0; border-radius: 10px;line-height: 10px;}

.project-report-items {margin:0; padding:0; list-style-type: none;}
.project-report-item {margin:0 0 20px 0; padding:10px; background-color: #fff; box-shadow: 0px 0px 3px #aaa; position: relative;}
.project-report-item .poster {color:#999;}
.project-report-item .iconset {display: none; position: absolute; top:10px; right: 10px;}
.project-report-item:hover .iconset {display: block;}
.project-report-item h3 {font-size:1.6em; margin:0; padding:2px 0;}
.project-report-item p {margin-top:0;}
.project-report-item .bycommentator {margin:4px 0;padding:2px 0px;font-weight:bold;color:green;}

#project-report-info .form-text, #project-report-info .form-textarea {width: 95%;}

.project-activity-title>tbody>tr>td:nth-child(2),
.project-activity-title>tbody>tr>td:nth-child(4) {white-space: nowrap;}
.project-activity-title>tbody>tr.late {background:#fff7f7; border-bottom: 1px #fff solid;}
.project-activity-title>tbody>tr.lockreport {background:#EAFFE8; border-bottom: 1px #fff solid;}


table.project-activity-send>thead>tr>th {width:14.2857%;}
table.project-money-send td {text-align:center;}
table.project-money-send .form-text {text-align:center;}


/* Project Action Item */
.project-action-item {margin:0 0 32px 0;}
	.project-action-item .title {padding: 8px; background-color: #86c300; color: #003c03; }
	.project-action-profile {padding:8px 0 0 0;}
	.project-action-detail {padding:8px 0 0 0; position: relative;}
	.project-action-detail .-photolist>ul {list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-between;}
	.project-action-detail .-photolist>ul>li {margin:0 0 16px 0; padding:0 0 32px 0; position: relative;}
	.project-action-detail .-photolist .photo {width: 100%; height: auto;}
	.project-action-detail .sg-upload {margin:32px 0; text-align: center;}

	.project-action-profile {display: flex; flex-flow: row wrap;}
	.project-action-profile > * {flex: 1 100%;}
	.project-action-profile .date {flex: 1 50%;}
	.project-action-profile .owner {flex: 1 50%;}
	.project-action-money {width: 100%; overflow: scroll;}

	.project-action-profile .day {width:60px;height:60px;margin:0 10px 20px 0;border-radius:5px;display:block;float:left;font-size:40px;text-align:center;line-height:60px;background:#f60;color:#fff;}
	.project-action-profile .month, .project-activity .year, .project-activity .time {padding:3px 0;display:block;font-size:1.5em;text-align:left;}
	.project-action-profile .time {font-size:12px;padding:0;}
	.project-action-profile td .owner {clear:both;text-align:left;font-size:13px;}
	.project-action-profile .owner-photo {width:60px;height:60px;margin-right:5px;display:block;float:left;clear:both; border-radius: 50%;}
	.project-action-profile .owner-by {display:block;margin:10px 0;}
	.project-action-profile .status {clear:both;}
	.project-action-profile .modify {color:#666;font-size:10px;}
	.project-action-profile .created {display:block;clear:both;font-size:10px;}

	.project-action-item.-owner .day {background:green;}
	.project-action-item.-trainer .day {background:blue;}
	.project-action-item.-draft .day {background:gray;}





.project-activity {}
	.project-activity>tbody>tr>td:first-child {width:200px; background:#F4F4F4;}
	.project-activity>tbody>tr>td h3 {font-size:1.2em;margin:0 0 10px 0;}

	.project-activity .menu {margin: 24px 4px; clear: both;}
	.project-activity-detail {clear:both;}
	/* .project-activity div.photo {width:50%;float:right;} */

	.project-activity div.photo ul.photo {text-align:left;}
	.project-activity div.photo ul.photo>li {margin:5px 5px;display:inline-block;position:relative;vertical-align: top; text-align: center; overflow: hidden;}
	.project-activity div.photo ul.photo img {width: auto; max-height:200px; display:block; margin: 0 auto;}
	.project-activity div.photo ul.photo>li span.ui-action {margin-top:-30px; margin-right:0px;text-align:right;position:absolute;right:5px;opacity:.8; display: none;}
	.project-activity div.photo ul.photo>li:hover span.ui-action {display: block;}
	.project-activity div.photo ul.photo>li span.ui-action .sg-action {width:24px;height:24px;border-radius: 24px;background:#fff; display: block; text-align: center; line-height: 24px;}
	.project-activity div.photo ul.photo>li>span.inline-edit-field {display:inline-block;width:130px; text-align: center;}
	.project-activity div.photo>ul.doc {list-style-type:decimal;text-align:left;margin:20px;padding:20px;}
	.project-activity div.photo ul.doc>li {list-style-type:decimal;display:block;}
	.project-activity div.photo ul.doc>li .ui-action {padding:0 5px;display:inline-block;text-align:right;}

	.project-activity-detail p {margin:0 0 5px 0;}
	table.project-activity-money {margin:32px 0;}

	.project-activity .day {width:60px;height:60px;margin:0 10px 20px 0;border-radius:5px;display:block;float:left;font-size:40px;text-align:center;line-height:60px;background:#f60;color:#fff;}
	.project-activity .month, .project-activity .year, .project-activity .time {padding:3px 0;display:block;font-size:1.5em;text-align:left;}
	.project-activity .time {font-size:12px;padding:0;}
	.project-activity td .owner {clear:both;text-align:left;font-size:13px;}
	.project-activity .owner-photo {width:60px;height:60px;margin-right:5px;display:block;float:left;clear:both; border-radius: 50%;}
	.project-activity .owner-by {display:block;margin:10px 0;}
	.project-activity .status {clear:both;}
	.project-activity .modify {color:#666;font-size:10px;}
	.project-activity .created {display:block;clear:both;font-size:10px;}

	.project-activity-money {text-align:center;}
	.project-activity-money>tbody>tr>td:nth-child(7) {font-weight:bold;}

	.project-activity>tbody>tr>td {border-top:4px green solid;}
	.project-activity>tbody>tr.owner>td {border-top:4px green solid;}
	.project-activity>tbody>tr.trainer>td {border-top:4px blue solid;}
	.project-activity>tbody>tr.draft>td {border-top:4px gray solid;}

	.project-activity>tbody>tr.owner .day {background:green;}
	.project-activity>tbody>tr.trainer .day {background:blue;}
	.project-activity>tbody>tr.draft .day {background:gray;}

.project-rate {display:block; width:20px; height:20px;background: #ddd; border:1px #999 solid; line-height: 20px;}

#project-notify { position: absolute; right: 2px; top: 2px; z-index:2000; white-space: normal;}
#project-notify>a {width:20px; height: 20px; margin:-10px 0 0 0; padding:4px; display: block; border-radius: 50%; text-align:center; background: #ff6d52; color: #fff;  line-height: 20px; border: none;}
#project-notify>div {width: 300px; margin:0; padding:0; display: none; right:0; border-top:0px transparent solid; background: #fff; opacity:0.9;}
#project-notify:hover>div {display: block; position: absolute;}
#project-notify h3 {margin:0; padding:7px 10px; font-size: 1.1em; font-family: Tahoma; font-weight: bold; color: #333; position:relative; background-color: #ccc;}
#project-notify>div a {padding:8px 16px;display: block;}
#project-notify>div a:hover {background-color: #eee;}



.project-period-items td {text-align: center;}
.inline-edit .project-period-items span[data-type="datepicker"] {width: auto;}

div.project-objective {margin:10px 0 20px 0; padding: 8px; background: #fff;	box-shadow: 2px 2px 2px #aaa;}
.project-objective>h4 {margin:0; padding:5px; background: #058DC7; color: #fff;}

.project-mainact-items {}
	.project-mainact-items>thead>tr>th {text-align: center;}
	.project-mainact-items>tfoot>tr:first-child {font-weight: bold;}
	.project-mainact-items h5 {margin:0 0 4px 0;padding:4px; background: #d5d5d5;}
	.project-mainact-items td {padding:8px 2px;}

	.project-mainact-items tr.mainact td {background: #eee;}

	.project-mainact-items tr.mainact {font-weight: bold;}
	.project-mainact-items tr.mainact .submenu {float:right;}
	.project-mainact-items tr.mainact .sg-dropbox--wrapper {font-weight: normal;}


	.project-mainact-items .iconset {position: relative;}
	.project-mainact-items .iconset .sg-dropbox.add {width: 25px; float:left;}
	.project-mainact-items .iconset .sg-dropbox.submenu {width: 25px; float:none;}

.reportbar {margin:0 0 8px 0; background:#eee;}
	.reportbar>ul {margin:0; padding:0; list-style-type: none;}
	.reportbar>ul>li {display: inline-block; border-right: 1px #ccc solid;}
	.reportbar a {padding: 4px 10px; display: block;}
	.reportbar a:hover {background-color: #e5e5e5;}
	.reportbar>ul>li>span {padding: 4px 10px; display: block;}
	.reportbar form {margin:0 10px;}
	.reportbar select {border-radius: 0; background: #fff;}
	.reportbar .icon {padding: 0;}
	.reportbar .icon.-floating {border:1px red solid;}
	.reportbar .icon.-circle {border-radius: 50%;}


.project-report-status {width:2em; height: 2em; color: #fff; padding: 0; display: inline-block; margin: 2px; line-height: 2em;}
	.project-report-status.-status-0 {background: #99CA3B; }
	.project-report-status.-status-1 {background: #719C20; border-radius: 20%;}
	.project-report-status.-status-2 {background: #F9981E; border-radius: 30%;}
	.project-report-status.-status-6 {background: #CC0000; border-radius: 50%;}
	.project-report-status.-status-9 {background: #aaaaaa; border-radius: 50%;}
	.project-report-status:hover {color:#333;}

.project-m1-status {text-align: center; margin-bottom:32px;}
	.project-m1-status .ui-item {margin-bottom: 32px; position: relative;}

	.project-m1-status .col.-title a {border:none; color: #fff; height:90px; width:120px; line-height: 30px;padding:15px 0; margin: 0 auto; display: block;}
	.project-m1-status .col.-title a>b {font-size:1.2em;}

	.project-m1-status .status-no {display: block; width:2em; height:2em; line-height: 2em; margin:0 auto; border:1px #ccc solid; border-radius: 50%;}
	.project-m1-status .-pass .status-no {background: green; color:#fff; border:1px green solid;}

	.project-m1-status .project-button {margin: 10px; padding: 10px; text-align: center; background: #ccc; border-radius:10px; color: #333; font-size: 1.2em;}
	.project-m1-status .project-button.-send {background: #B0C400; color:#fff;}
	.project-m1-status .project-button.-send:hover {background: #BED300;}
	.project-m1-status .project-button.-pass {background: #009B1F; color:#fff;}
	.project-m1-status .project-button.-pass:hover {background: #00A320; color:#fff;}
	.project-m1-status .project-button.-reject {background: #D80000; color:#fff;}
	.project-m1-status .project-button.-reject:hover {background: #E50000; color:#fff;}

	.project-m1-status .note {height: 200px; margin:0 10px; padding: 3px; overflow: auto; background: #fff; position: relative; border:1px #ccc solid; text-align: left;}
	.project-m1-status textarea {height:178px; border: none; box-shadow: none;}
	.project-m1-status button {margin:0; position: absolute; bottom:8px; right:8px;}



.project-list {}
	.project-list .-title-row>td {border-bottom: none;}
	.project-list .project-status-icon {font-size: 10pt;}
	table#project-list>thead>tr>th:nth-child(n+8) {white-space: nowrap;}

	table#project-list>tbody>tr>td {text-align: center;}
	table#project-list>tbody>tr>td.col-title {text-align: left;}
	table#project-list>tbody>tr>td.col-title>a>strong {font-size:1.1em;font-weight:normal;}
	table#project-list>tbody>tr>td.col-title>span {display:block;font-size:0.9em;font-weight:normal;color:gray;}
	table#project-list>tbody>tr>td.col-prid>span {display:block;font-size:0.9em;font-weight:normal;color:gray; white-space: nowrap;}

	.project-status-1>td {color:green;}
	.project-status-1>td>a {color:green;}
	.project-status-1>td>a:hover{color:red;}

	.project-status-2>td {color:#444;}
	.project-status-2>td>a {color:#444;}
	.project-status-2>td>a:hover{color:red;}

	.project-status-3>td {color:#A020F0;text-decoration:line-through;}
	.project-status-3>td>a {color:#A020F0;}
	.project-status-3>td>a:hover{color:red;}

	table#project-list>tbody>tr.project-status-1>td:nth-child(10) a.period-1 {color:blue;}
	table#project-list>tbody>tr.project-status-1>td:nth-child(10) a.period-2 {color:#f60;}
	table#project-list td>span {display: block;}
	table#project-list td>span>a {}



#project-report-follow caption {padding:0;}
#project-report-follow caption>h5 {margin:0; padding:5px; background: green; color: #fff; text-align: left;}
.project-report-follow-2-2>tbody>tr>td:first-child {width:20%;}
.project-report-follow-2-2>tbody>tr>td:nth-child(n+2) {text-align: center;}
.project-report-follow-2-2>tbody>tr>td:nth-child(6) {width:60%; text-align: left;}

#project-report-s3>p {text-indent: 5em;}
.project-report-s3-abstract-item>thead>tr>th:nth-child(2) {width:30%;}
.project-report-s3-abstract-item>tbody>tr>td:nth-child(3) {text-align: center;}

.sg-project-map {height: 450px; margin:0;}
	.sg-project-map .nav-box { position: absolute; margin-top: 10px; margin-left: 80px;}
	.sg-project-map .nav {z-index:100;}
	.sg-project-map .map-box {padding:10px;min-width:300px;max-width:50%; min-height:250px;max-height:350px;position:absolute; margin-top:40px; overflow:auto;z-index:10;background:none;display:none;}
	.sg-project-map .map-box .item {border:none;}
	.sg-project-map .map-list {height:100%; margin:0; padding:0; max-width: 320px; list-style-type: none; overflow: auto;}
	.sg-project-map .map-list>li {margin:4px; padding: 4px; border:1px #ddd solid;box-shadow: 0px 5px 5px #ddd; background: #fff; opacity:.9;}
	.sg-project-map .map-list>li>a {font-weight: bold;}
	.sg-project-map .map-list>li>p {margin:0; padding:0;}
	.sg-project-map .map-box>div {margin:4px; padding: 4px; border:1px #ddd solid;box-shadow: 0px 5px 5px #ddd; background: #fff; opacity:.9;}
	.sg-project-map .map-box::-webkit-scrollbar {display: none;}
	.sg-project-map .map-box::scrollbar {display: none;}
	.sg-project-map .map-info {max-width: 320px;}

.datainput {color:blue; display:inline-block; min-width:100px; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;}
.datainput-disable {display:inline-block; min-width:auto; min-height: 1.4em; border-bottom: 1px dotted #ccc; vertical-align: top;		pointer-events: none; cursor: default;}
.datainput-disable.-fill {width:-moz-available !Important; width:calc(100% - 18px); padding:7px 8px;}
input[type="checkbox"].datainput-disable {border:1px #333 solid; color:gray;}
.datainput:hover {}
.datainput form {display:inline; margin:0; padding:0;}
.datainput form input {width: 100%; font-size: 1em;}
.datainput form textarea {min-height: 100px; font-size: 1em;}

.inline-edit .datainput {background:#eee;}
.inline-edit .datainput:hover {cursor: pointer;border-bottom: 1px dotted #f60;}



.form-info {width:200px;padding:10px;display:block;margin-left:auto;border:2px #000 solid;}

#project-edit-doc .button-save {margin:0; padding: 2px 10px; font-size: 1em;}

#project-budget-form>form {margin:10px 0; padding: 10px;}
#project-budget-form .form-text {width:90%;}
#project-budget-form .form-select {width:92%;}

#project-monthly-post {margin:0 0 40px 0; padding:10px; border-top:1px #eee solid; border-left:1px #eee solid; box-shadow: 2px 2px 3px #aaa;}



#project-m1-sum-balance-msg.notbalance {color:#fff; background: red; display: block; text-align: center;}




.module-project .ui-tree {margin:0 0 0 32px;position: relative;}
	.module-project .ui-tree.-master {margin:0; padding: 0;}
	.module-project .ui-tree h3 {}
	.module-project .ui-tree.-master>div {margin-bottom: 16px;}
	.module-project .ui-tree .-bullet {background-color:#666; border-radius:50%; display:inline-block;padding:4px; width:auto; min-width:24px; height:24px; line-height:24px; text-align:center;color:#fff;}
	.module-project .ui-tree>div .-bullet {background-color:#666;}
	.module-project .ui-tree>div>div .-bullet {background-color:#888;}
	.module-project .ui-tree>div>div>div .-bullet {background-color:#aaa;}
	.module-project .ui-tree .ui-item.-header {margin:0 0 4px 0; background: #ddd; padding: 0px 32px 0px 0px; border-radius: 16px 4px 4px 16px; position: relative; display: inline-block; width: calc(100% - 32px);}
	.module-project .ui-tree .ui-item.-header .title {font-size:1.2em; display: block;}
	.module-project .ui-tree .ui-item.-header .title .icon {position: absolute;right: 100px; top: 4px;}
	.module-project .ui-tree .ui-item.-detail {margin-left:32px;}
	.module-project .ui-tree .nav {position:relative; margin-bottom:32px;}

	.module-project .ui-tree li {position: relative;}
	.module-project .ui-tree>li>.sg-dropbox {background:#ccc; position: absolute; top:0; right:0;}


	.module-project .ui-tree .ui-menu.-main {width:auto; margin:0; padding:4px; list-style-type:none; position: absolute; top:0; right:0; height:24px; background:#ddd; border-radius:4px;}
	.module-project .ui-tree .ui-menu.-main>li {display: inline-block;}

	.module-project .ui-tree .-showafter {width: calc(100% - 32px);}
	.module-project .ui-item.-header.-activity {}
	.module-project .ui-item.-header.-activity {font-size:0.85em;background-color:#f5f5f5;}
	.module-project .ui-tree .ui-item.-header.-activity .-bullet {background-color:#ddd;padding:2px;color:#666;}
	.module-project .ui-tree .ui-item.-header.-activity .ui-menu.-main {background:transparent;}

	.module-project .ui-tree.-objective .ui-item.-header .title .icon {right:32px;}


/* Project Report */
.project__report h2 {padding:8px 0; font-size: 2.0em; text-align: center;}
.project__report h3 {padding:8px 0; font-size: 1.6em; text-align: left;}
.project__report h4 {padding:8px 0 0 0; font-size: 1.4em; text-align: left;}
.project__report h5 {padding:8px 0 0 0; font-size: 1.2em; text-align: left;}

.project__report .header.-section {padding: 8px; background-color: #666; color: #fff; margin: 40px 0 8px 0;}


.project__report div.photo ul {text-align: left; list-style-type: none;}
.project__report div.photo ul>li {display: inline-block;}


.project-report-s1-item--2014>tbody>tr>td:nth-child(1) {width:30%;}
.project-report-s1-item--2014>tbody>tr>td:nth-child(2) {width:54%;}
.project-report-s1-item--2014>tbody>tr>td:nth-child(n+3) {width:2%; font-size: 1.6em; text-align:center;}

.project-report-s1-item thead {display: none;}
.project-report-s3-item thead {display: none;}

.project-cover-page {text-align: center;font: 1.6em/1.6em "SG Header";}
.project__report .project-cover-page h3 {font-size: 1.6em; text-align: center;}
.project-cover-page li {list-style-position:inside;}

/* @group project-diagram */
.project-diagram {}
	.project-diagram>h3 {padding:8px; text-align:center; color:#fff; background:#057CC4;	border-radius:16px; font-size:1.8em;}
	.project-diagram>div {margin:16px 0; padding:10px; border:1px #999 solid; border-radius:4px;}
	.project-diagram>div:nth-child(1) {background:#f5f5f5;}
	.project-diagram>div:nth-child(2) {background:#ccecff;}
	.project-diagram>div:nth-child(3) {background:#ffece0;}
	.project-diagram>div:nth-child(4) {background:#fcd9ff;}
	.project-diagram>div:nth-child(5) {background:#e9ffd4;}
	.project-diagram>div:nth-child(6) {background:#faffd1;}
	.project-diagram>div:nth-child(7) {background:#d9fff0;}
	.project-diagram>div:nth-child(8) {background:#e1fdff;}
/* @end */

.ui-nav.-calendar .ui-item {padding:0 8px 0 0;}




/* project develop */
.toolbar.-project-develop .search-box {position: relative;}
.-developlist th {white-space: nowrap;}

.project-develop-status {}
	.project-develop-status>tbody>tr>td:nth-child(n+2) {text-align: center; width:10%;}
	.project-develop-status>tfoot>tr>td:nth-child(1) {text-align: right; font-weight: bold;}
	.project-develop-status>tfoot>tr>td:nth-child(n+2) {text-align: center; font-weight: bold;}
	.project-develop-status td:nth-child(2) {background:#eee;}
	.project-develop-status td:nth-child(3) {background:#FFFFC9;}
	.project-develop-status td:nth-child(4) {background:#C9D9FF;}
	.project-develop-status td:nth-child(5) {background:#CAFFB2;}
	.project-develop-status td:nth-child(6) {background:#FFC9C9;}
	.project-develop-status td:nth-child(7) {background:#ccc;}
	.project-develop-status td:nth-child(8) {background:#D8D8D8;}
	.project-develop-status td:nth-child(9) {background:#CAFFB2;}
	.project-develop-status td:nth-child(10) {background:#D6F4FF;}

	.project-develop-status>tbody>tr:hover>td,
	.project-develop-status>tfoot>tr:hover>td {background: #eee;}

	.project-develop-status-2>td {background: #FCFFC4;} /* พิจารณา */
	.project-develop-status-3>td {background: #C7EAAF;} /* ปรับแก้ */
	.project-develop-status-5>td {background: #BAFF8C;} /* ผ่าน */
	.project-develop-status-8>td {background: #ccc;color:#999;} /* ไม่ผ่าน */
	.project-develop-status-9>td {background: #bbb;color:#666;text-decoration: line-through;} /* ยกเลิก */
	.project-develop-status-10>td {background: #BAFF8C;} /* ได้รับการสนับสนุน */
	.project-develop-status--1>td {background: #ddd;color:#999;} /* ไม่ผ่านรอบแรก */

.project-develop-list.-status-pass>td {background-color: #baffcd;}

.project-develop-problem-list .col.-detail .inline-edit-item.-textarea {display: block; margin: 4px 8px; color: #777;}

.module-project .objective-tree .-indicator {}
.module-project .objective-tree .-indicator .header {text-align: center;}
.module-project .objective-tree .-indicator td.col-no {width:2em;}
.module-project .objective-tree .-indicator td.col-detail {}
.module-project .objective-tree .-indicator td.col-amt.-target {width: 10%}
.module-project .objective-tree .-indicator td.col-amt.-unit {width: 10%}
.module-project .objective-tree .-indicator .btn {white-space: nowrap;}
.module-project .objective-tree .-indicator td>.form-item {margin:0; padding:0;}

.module-project .objective-tree-list ol>li {padding-bottom:8px;}
.module-project .objective-tree-list .sg-dropbox {position: absolute; right: 16px;}
.module-project .objective-tree-list .sg-dropbox>a {width:24px; height:24px;background-color: #f0f0f0; border-radius: 50%; display: block; padding: 2px;}
.project-develop-object-form {background:#fffde0;}
.project-develop-objective-list>li {position: relative;}




.project-develop-plan-item.box {position: relative; padding:0 0 16px 0; margin: 16px 0 48px 0; border: 1px #ffefe4 solid; box-shadow: none; }
	.project-develop-plan-item>h4 {background-color: #ffefe4; padding: 4px 8px;}
	.project-develop-plan-item>h4>big {background:#f60; border-radius:50%; display:inline-block;padding:4px; width:1.2em;height:1.2em;text-align:center;line-height:1.2em; color:#fff;}
	.project-develop-plan-item>div {padding:8px;}
	.project-develop-plan-item .sg-dropbox.-atright {top: 4px; right: 4px;}
	.project-develop-plan-item.-sg-flex>*:not(h4) {margin: 0; padding: 0;}
	.project-develop-plan-item.-sg-flex>h4 {margin: 0; flex: 1 0 90%;}
	.project-develop-plan-item.-sg-flex>.-detail {flex: 1 0 60%; padding: 16px 8px;}
	.project-develop-plan-item.-sg-flex>.-budget {flex: 1 0 30%; padding: 16px 8px; border-left: 1px #efefef solid; background-color: #f9f9f9;}

.module-project .project-develop-plan-add {padding:0 0 32px 0; clear: both;}






	.module-project.-develop .__main h2 {font-size: 2.2em; color: #058DC7; text-align: center; padding:8px; margin:0;}
	.module-project.-develop .__main h3 {margin:0 0 8px 0;font-size: 1.6em; color: #058DC7; text-align:left; padding:8px; position: relative;}
	.module-project.-develop .__main h4 {font-size: 1.4em; color: #058DC7; text-align:left;}
	.module-project.-develop .__main table {border: 1px #ccc solid;}
	.module-project.-develop .__main table caption {padding: 10px 0; border: 1px #bbb solid;}
	.module-project.-develop .__main table th {font-weight: bold;}
	.module-project.-develop .__main table th,
	.module-project.-develop .__main table td {border-bottom:1px #ccc solid; border-right:1px #ccc solid;}
	.module-project.-develop .__main table>tbody>tr {vertical-align: top;}


	.module-project.-develop .__plan_level {position: relative;}
	.module-project.-develop.-view .__item .-title {font-size:1.2em;}
	.module-project.-develop.-view .__item .-subcount {color:#999;}
	.module-project.-develop.-view .__item .-trid {color:#999;font-size:0.8em;}
	.module-project.-develop.-view .__item {}
	.module-project.-develop.-view .__item>div {padding:8px 0 0 32px;}
	.module-project.-develop.-view .__item.-master>div {padding-left:0;}
	.module-project.-develop.-view .__item>.sg-dropbox {top:9px; right:32px;}
	.module-project.-develop.-view .__item>.sg-dropbox>a {margin:0; padding:4px; background-color: #fff; border-radius: 50%;}
	.module-project.-develop.-view .__item>.sg-dropbox>a:hover {background-color: #eee;}

	.module-project.-develop.-view .__item .__plan_showmore {background: #ddd; padding: 0px 32px 0px 0px; border-radius: 16px; position: relative; display: inline-block; overflow: hidden; width: calc(100% - 32px);}
	.module-project.-develop.-view .__item .__plan_showmore .icon {position: absolute;right: 4px; top: calc(50% - 12px);}
	.module-project.-develop.-view .__item .-bullet {background-color:#666; border-radius:50%; display:inline-block;padding:4px; width:auto; min-width:1.8em; height:1.8em; line-height:1.8em; text-align:center;color:#fff;}
	.module-project.-develop.-view .__item>div>div .-bullet {background-color:#888;}
	.module-project.-develop.-view .__item>div>div>div>div .-bullet {background-color:#aaa;}
	.module-project.-develop.-view .__item>div>div>div>div>div>div .-bullet {background-color:#ccc;}
	.module-project .title.-main {padding: 16px; text-align: center; margin: 16px 0; background-color: #ddd; color: #000;}
/* @end */




.project-fund-owner {background: #1565C0; color:#fff; border-radius: 4px; margin-bottom: 4px;}
	.project-fund-owner>.-item {padding: 8px 8px;}
	.project-fund-owner>.-item:nth-child(2) {flex: 1;}
	.project-fund-owner h3 {color:#fff; opacity: 0.95; font-size: 1.6rem;}
	.project-fund-owner p {margin:0; padding:0;}
	.project-fund-owner .profile-photo {width: 48px; height: 48px;}


.project-card {margin:0 0 40px 0; box-shadow: 2px 2px 6px 0px #ccc; border: none; position: relative;}
	.project-card .header>h3 {color:#333;}
	.project-card>p {margin:0 8px; padding: 2px 0;}
	.project-card.-summary .graph {height: 150px; background:#eee;}

.project-cover-page .cover.-footer {margin: 48px 0 0 0; font-size:0.7em;}
.project-cover-page.-inside {display: none;}



.project-develop-exp {}
	.project-develop-exp p {margin:0; padding:0;color:#999;font-size:0.9em;line-height:1.4em;}
	.project-develop-exp>tbody>tr>td.col-1 {width:auto;}
	.project-develop-exp>tbody>tr>td.amt {width:2em;}
	.project-develop-exp>tbody>tr>td.unitprice {width:2em;}
	.project-develop-exp>tbody>tr>td.times {width:2em;}
	.project-develop-exp>tbody>tr>td.total {width:2em;}
	.project-develop-exp>tbody>tr>td.col-6 {width:1em;text-align: center;}

.plan-expense-form {}
	.plan-expense-form .form-item {margin-right:8px; display: inline-block; overflow: hidden; text-align: center;}
	.plan-expense-form .form-item.-hidden {display: none;}
	.plan-expense-form .form-item>label {text-align: left;}
	.plan-expense-form .form-item.-edit-exp-expcode {width:200px;}
	.plan-expense-form .form-item.-edit-exp-amt {width:90px;}
	.plan-expense-form .form-item.-edit-exp-unitname {width:80px;}
	.plan-expense-form .form-item.-edit-exp-times {width:130px;}
	.plan-expense-form .form-item.-edit-exp-detail {width:100%; clear:both;}


.project-join-list {}
	.project-join-list tr.-joined {color:green;}
	.project-join-list tr.-joined a {color: green;}
	.project-join-list tr.-joined>td:first-child {border-left: 2px green solid;}
	.project-join-list tr.-joined>td {background-color: #f3ffeb;}
	.project-join-list tr.-cancel {color: #ccc;}
	.project-join-list tr.-paided {color: #b651ff;}
	.project-join-list tr.-paided a {color: #b651ff;}
	.project-join-list tr.-paided>td:first-child {border-left: 2px #b651ff solid;}
	.project-join-list tr.-paided>td {background-color: #f6edff; border-bottom:1px #eeddff solid;}
	.project-join-list tr.-paided .icon.-money {border: 1px #b651ff solid; background-color: #f6edff;}
	.project-join-list tr.-locked>td:first-child {border-left: 2px #f00 solid;}
	.project-join-list tr.-locked>td {background-color: #ffefef; border-bottom:1px #eeddff solid;}
	.project-join-list tr.-locked .icon.-lock {border: 1px #f00 solid; background-color: #ffefef;}
	.project-join-list tr.-notrcv>td:first-child {border-left: 2px #333 solid;}
	.project-join-list tr.-notrcv>td {background-color: #ddd; border-bottom:1px #eeddff solid;}
	.project-join-list .nav.-icons {background-color: #fafafa; margin-top: -2px; padding: 2px 0px 2px 8px; border-radius: 4px; right: 0;}
	.project-join-list tr:hover>td.-hover-parent>.-hover {background-color: #fafafa; opacity: 0.9;}
	.project-join-list tr.-paided:hover>td.-hover-parent>.-hover {background-color: #f6edff;}
	.project-join-list tr.-locked:hover>td.-hover-parent>.-hover {background-color: #ffefef;}
	.project-join-list tr.-joined:not(.-paided):hover>td.-hover-parent>.-hover {background-color: #f3ffeb;}
	.project-join-list tr.-notrcv:hover>td.-hover-parent>.-hover {background-color: #ddd;}

	.project-join-list .nav.-icons>.ui-action>.ui-item>a {padding: 4px; border-radius: 50%; border: 1px #ccc solid; background-color: #fff;}
	.project-join-list .nav.-icons>.ui-action>.ui-item>.-join-proved {border: 1px green solid; background-color: #dcffdd; color: #000;}
	.project-join-list .nav.-icons>.ui-action>.ui-item>.-rcv-has {border: 1px green solid; background-color: #dcffdd; color: #000;}
	.project-join-list .nav.-icons>.ui-action>.ui-item>.-rcv-locked {border: 1px red solid; background-color: #ffb9b9; color: #000;}
	.project-join-list .nav.-icons .sg-dropbox>a {padding: 4px; border: 1px #ccc solid; background-color: #fff;}
	.project-join-list .nav.-icons .sg-dropbox>a:hover {border: 1px #eee solid;}






/* Project card */
.ui-card.project-action {box-shadow: none;}
	.ui-card.project-action h4 {font-size: 1.1em;}
	.ui-card.project-action .owner {line©-height: 20px; color:#999;}
	.ui-card.project-action .owner a {color:#999;}
	.ui-card.project-action .owner-photo {width: 40px; height:40px; margin: 4px 4px 20px 4px; float: left; display: block;}
	.ui-card.project-action .owner-photo .-photo {width:100%; height: 100%; border-radius: 50%;}
	.ui-card.project-action .owner-name {margin:0 0 0px 50px; display: block; font-size: 0.8em;}
	.ui-card.project-action .created {margin:0 0 4px 50px; display: block; font-size:0.8em; color:#999;}
	.ui-card.project-action .title {padding: 4px 8px; clear: both; font-size:1.2em;}
	.ui-card.project-action .subtitle {padding: 4px 8px; margin:0; clear: both; font-size:1.0em; font-family: Tahoma; color:#333; font-weight: bold;}
	.ui-card.project-action .timestamp {margin:0; padding: 0 8px; font-size:0.8em; color:#999;}
	.ui-card.project-action .summary {padding:8px; clear: both;}
	.ui-card.project-action .summary p {padding:0px; margin: 0;}
	.ui-card.project-action .status {padding:8px; clear: both; color:#999; border-top:1px #eee solid; border-bottom:1px #eee solid; text-align: right; font-size:0.8em;}
	.ui-card.project-action .action {padding:8px; clear: both; color:#999;}
	.ui-card.project-action .action>ul {margin: 0; padding: 0;}
	.ui-card.project-action .action>ul>li {width:33.33%;display: inline-block; text-align: center;}

	//.ui-card.project-action .ui-item {margin:0 0 32px 0; clear: both; background: #fff; box-shadow: none;border-bottom: 1px #ccc solid;}

	.ui-card.project-action .photoitem>li { position: relative;}
	.ui-card.project-action .photo-menu {position: absolute; top:10px; right:10px;}
	.ui-card.project-action .photo-menu .ui-item {margin:0;clear:none;background-color: transparent;}
	.ui-card.project-action .photo-menu .ui-item .icon {border-radius: 50%; background-color: #fff;}
	.ui-card.project-action .photo.-rcv {display: flex; justify-content: space-around;}
	.ui-card.project-action .photo.-rcv>li {width:200px; height:200px; display: block; overflow: hidden;}

	.ui-card.project-action .sg-upload {margin:32px 0; text-align: center;}
	.ui-card.project-action .icon.-camera {display: block; margin:0 auto;}

	.ui-card.project-action div.photo {overflow: hidden;}
	.ui-card.project-action div.photo img.photo {padding: 0; border: none; width: auto; height: 100%; position: relative; margin-left: -25%; margin-top:0;}
	.ui-card.project-action div.photo img.photo.-tall {width: 100%; height: auto; margin-left: 0; margin-top: -25%;}

	.ui-card.project-action div.photo .photoitem {width:100%; width: calc(100% + 2px); overflow: hidden;}
	.ui-card.project-action div.photo .photoitem li {margin:0; padding: 0; display: block; overflow: hidden;}
	.ui-card.project-action div.photo .photoitem li>a {margin:0;position: relative; display: block; overflow: hidden; border-right: 4px #fff solid; border-bottom: 4px #fff solid;}
	.ui-card.project-action div.photo .photoitem.-count2 li {width: 50%; float: left;}

	.ui-card.project-action div.photo .photoitem.-count3 li:nth-child(n+2) {width: 50%; float: left;}

	.ui-card.project-action div.photo .photoitem.-count4 li:nth-child(n+2) {width: 33.33%; float: left;}

	.ui-card.project-action div.photo .photoitem.-count5 li:nth-child(1),
	.ui-card.project-action div.photo .photoitem.-count5 li:nth-child(2) {width: 50%; float: left;}
	.ui-card.project-action div.photo .photoitem.-count5 li:nth-child(n+3) {width: 33.33%; float: left;}

	.ui-card.project-action div.photo .photoitem.-count-all li {width:20%; margin:0 2.5% 20px; float:left;}


.postform {margin:0 0 24px 0; background: #fff;}


#colorbox .project-member-list {height: 400px;overflow: auto;}


.project-fund-eval-form {}
	.project-fund-eval-form>.title {padding: 8px; background: #666; color: #fff; text-align: center;}
	.project-fund-eval-form>.-header {display: flex; flex-wrap: wrap;}
	.project-fund-eval-form>.-header>.form-item {width: 180px; margin-right: 16px;}
	.project-fund-eval-form>table tr {position: relative;}
	.project-fund-eval-form>table tr.-group {font-weight: bold; font-size: 1.2em; background-color: #f7f7f7;}
	.project-fund-eval-form>table tr.-title {font-weight: bold; font-size: 1.1em; background-color: #f7f7f7;}
	.project-fund-eval-form>table tr.-subtitle {font-weight: bold; font-size: 1.1em; background-color: #f7f7f7;}
	.project-fund-eval-form>table tr.-qtitem {font-weight: bold;}
	.project-fund-eval-form>table tr.-qtitem>td:first-child {padding-left: 24px;}
	.project-fund-eval-form>table tr.-detail>td {color:#999; font-size: 0.8em; font-weight: normal;}
	.project-fund-eval-form>table th {white-space:nowrap;}
	.project-fund-eval-form>table .-maxpoint {font-weight: bold;}
	.project-fund-eval-form>table .-getpoint {font-weight: bold;}
	.project-fund-eval-form>table td>label {display: block; position: relative; padding: 0 0 0 32px; color: #333;}
	.project-fund-eval-form>table tr label>.icon {position: absolute; top: 0px; left: 0;}

	.project-fund-eval-form .form-item.-edit-data-submit {width:100%; text-align:right; position: fixed; bottom: 0; left: 0; right: 0; background: #fff; }
	.project-fund-eval-form .form-item.-edit-data-submit .form-group {padding-right: 32px;}




.module-project.-my {background-color: #E9EBEE;}
	.module-project.-my .project-money-send.-row {}
	.module-project.-my .project-money-send.-col {display: none;}
	.module-project.-my .project-action .-action {background-color: #fff;}


#project__report .form-item {display: inline-block;}
#project-report-detail {width:50%; float: left;}
#project-report-graph {width:49%; float:right; overflow:hidden;}
#project-report-map {width:100%; height:600px;}





@media (min-width:30em){    /* 480/16 = 30 */
	.project-action-item {display: flex; flex-flow: row wrap;}
	.project-action-item .title {flex: 1 100%;}
	.project-action-profile {display: block; flex: 0 0 200px; overflow: hidden;}
	.project-action-detail {flex: 1 0; overflow: hidden;}
	.project-action-detail .-photolist>ul>li {margin:8px; padding:0; position: relative; width: 200px; text-align: center;}
	.project-action-detail .-photolist .photo {width: 100%; height: 120px;}
}

@media (min-width:40em){    /* 640/16 = 40 */
	div#project-map {width:44%;height:400px;margin:0 0 0 1%;float:right;background:#99B3CC;}
	.module-project .toolbar.-sub .search-box {width:240px; margin-top: -4px; position: absolute; right:0;}
	.project-card {width:49%; margin-right:1%; float:left;}
	.project-card.-area {clear:left;}
	.project-card.-finance {clear:left;}
	.project-card.-population {clear:left;}

	.module-project.-my .project-money-send.-row {display: none;}
	.module-project.-my .project-money-send.-col {display: table;}

	.project-info-issue-list {display: flex; flex-wrap: wrap;}
	.project-info-issue-list .checkbox {width: 290px;}

}

@media (min-width:45em) { /* 720/16 = 44 tablet & iPad */
	.module-project .project-info-docs>.form>.form-item.-edit-document-title {flex: 0 0 180px;}
	.module-project .project-info-docs>.form>.form-item.-edit-document-title>select {max-width: 200px;}
	.module-project .project-info-docs>.form>.form-item.btn.-upload {flex: 0;}
	.module-project .project-info-docs>.form>.form-item.-edit-document-save {flex: 0;}
	.module-project .project-info-docs>.form>.-condition {padding: 8px; flex: 1 0 calc(100% - 16px);}

	#form-item-edit-activity-headerplan.before {width: 48%; float: left; background: #ccc; text-align: center;}
	#form-item-edit-activity-headerdo.after {width: 48%; margin-left:4%; float: right; background: #ccc; text-align: center;}

	#form-item-edit-activity-activityname.before {clear: both;}

	#form-item-edit-activity-headers1.before {clear: both;}

	#form-item-edit-activity-date2 {display: inline-block;}
	#form-item-edit-activity-action_time {display: inline-block;}

	#form-item-edit-activity-action_date.after {width:48%; float: right;}
	#form-item-edit-activity-action_time.after {width:48%; float: right; clear:both;}

	#form-item-edit-activity-presetTarget.before {width:48%; float: left; clear:both;}
	#form-item-edit-activity-realTarget.after {width:48%; float: right;}

	#form-item-edit-activity-goal_do.before {width:48%; float: left; clear: both;}
	#form-item-edit-activity-real_do.after {width:48%; float: right;}

	#form-item-edit-activity-targetpreset.before {width:48%; float: left; clear:both;}
	#form-item-edit-activity-num8.after {width:48%; float: right;}

	#form-item-edit-activity-text3.before {width:48%; float: left;}
	#form-item-edit-activity-text9.after {width:48%; float: right;}

	#form-item-edit-activity-presetOutputOutcome.before {width:48%; float: left; clear: both;}
	#form-item-edit-activity-real_work.after {width:48%; float: right;}
	#form-item-edit-activity-real_work:after {content:""; clear:both; display: block;}

	#form-item-edit-activity-problem.before {clear: both;}
	#form-item-edit-activity-text6.before {width:48%; float: right; clear:both;}
	#form-item-edit-activity-text7.after {width:48%; float: left;}

	#form-item-edit-activity-s2.before {clear: both;}
	.module-project .toolbar.-sub .search-box {width:320px;}
}

@media (min-width:50em) {    /* 800/16 = 50 */
	div#project-map {width:39%;height:400px;margin:0 0 0 1%;float:right;background:#99B3CC;}
	.form-info {position: absolute; right: 20px;}
}
@media (min-width:60em) {    /* 960/16 = 60 */
	.module-project.-my {background-color: #fff;}
}

@media print {
	#header-wrapper,#footer-wrapper {display: none;}
	/*
	.module-project {font: 14pt/18pt "TH Sarabun New","BrowalliaUPC","Browallia New", Tahoma, Arial, Verdana, sans-serif;}

	h1,h2,h3,h4,h5 {font: 16pt/18pt "TH Sarabun New","BrowalliaUPC","Browallia New", Tahoma, Arial, Verdana, sans-serif;}
	*/
	.project__report h2 {color:#000; font-size: 18pt;}
	.project__report h3 {color:#000; font-size: 18pt;}
	.project__report h4 {color:#000; font-size: 16pt;}
	.project__report h5 {color:#000; font-size: 16pt;}

	.project__report .project-cover-page {font: 24pt/36pt "TH Sarabun New","BrowalliaUPC","Browallia New", Tahoma, Arial, Verdana, sans-serif;}

	.project-cover-page {position: relative;}
	.project-cover-page.-inside {display: block;}
	.project-cover-page .cover.-footer {width:100%; display: block; margin:5em 0 0 0; font-size:0.7em;}

	.project__report .header.-section {margin:0; padding:8px 0; background:transparent; color:#000;}
}